[2021-10-24 19:06] wojtekmaj opened #1724 "animated(StyledComponent) loses styles applied by styled-components on React Native"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## To Reproduce

I built a simple TabIndicator component:

`menu.styles.js`
[code]

then, in my component file I import it, wrap it in `animated()` and pass styles animated by `useSpring()`:

`menu.jsx`
[code]

## Expected behavior

* Indicator to be pink
* Indicator to have animated left position

## Actual behavior

* Indica

[2021-10-25 09:05] fast-reflexes opened #1725 "api.set does not work for useSprings hook"
## Intro

When doing animations, we sometimes have the need to set a value without animating it. An example is when showing a tooltip when hovering over a certain area of the screen; as long as the mouse is in this area, we want to animate the positional changes of the tooltip but if we move out of the area from the left, and then enter the area from the right, we want to position the tooltip at t

[2021-10-30 12:50] fast-reflexes commented on #1639
I think `react-spring` is intended to work exactly like what you see.

`react-spring` does its work outside of React in order to provide smooth transitions. This requires updating elements in the DOM via refs, instead of rerendering them with React. This is why the recommended way is to use

    const [spring, api] = useSpring(() => ({ value: <VALUE> }))

instead of

    const spring = useSpring({

[2021-10-31 02:22] elmcapp opened #1730 "Delay is working like duration"
For some reason the delay works like duration and duration does not work at all. What I am hoping to do is wait for 10 seconds then allow the colors to alternate. I would also like to make the color change duration 1 second if possible. I'm not sure but if this is coded right I think it may be a bug

[code]

I have also tried

[code]

"react-spring": "^9.3.0",
 "react-native": "0.65.1",

[2021-10-31 11:17] joshuaellis commented on #1730
Please provide a code sandbox demonstrating the issue ☺️

[2021-10-31 12:06] elmcapp commented on #1730
https://codesandbox.io/embed/react-spring-react-native-web-svg-forked-o6xrp?fontsize=14&hidenavigation=1&theme=dark

I did edit the code a little so not I am not sure if its a bug or wrong usage case. Here is the expected behavior (what I am hoping to do).

I have 2 colors which are red and green. when the component mounts I want it to wait for 5 seconds before the animation starts. After the anim

[2021-11-01 09:30] alvarlagerlof opened #1731 "Fails to install on Yarn 3"
## 🐛 Bug Report

Current react spring does not install on Yarn 3.1.0 on a minimal project

## To Reproduce

1. npm install -g yarn
2. Create a empty directory
3. yarn set version berry
4. yarn add react-spring

## Expected behavior

React spring installs without issues.

## Link to repro (highly encouraged)

Needs CLI

## Environment

- `react-spring` v9.3.0

[2021-11-01 12:13] joshuaellis commented on #1731
Thanks for the report! this is a duplicate of https://github.com/pmndrs/react-spring/issues/1668

[2021-11-01 21:40] alvarlagerlof commented on #1731
@joshuaellis I don't believe it is. Sorry for not providing CLI output before. This one seems more related to react-spring.

[code]

[2021-11-02 15:25] QuiiBz commented on #1731
You can `cat /tmp/xfs-72db173b/build.log` to see if it's the same error, but I think it is, I'm having the same.

[2021-11-02 18:12] Luchanso opened #1732 "AnimationFrame load CPU after component unmounted"
## 🐛 Bug Report

AnimationFrame continue calling after component destroyed. `stop()` not helped.

![image](https://user-images.githubusercontent.com/2098777/139920706-8a01827b-6e7a-4691-891d-4c9ad115fb6a.png)

![image](https://user-images.githubusercontent.com/2098777/139921498-78f26979-5c09-4c8f-a378-8aec1499d516.png)

## To Reproduce

https://codesandbox.io/s/exciting-shape-rqdk4?file=/src/App.j

[2021-11-02 18:39] joshuaellis commented on #1731
Gonna be honest, i'm still using yarn 1.X why? because I've always found yarn's error messages to be cryptic and it never _just works_. However, can I ask if you've:

- [ ] tried to just install a particular target i.e `@react-spring/web`
- [ ] asked in the yarn repo? Feels weird I can install it with other package managers and have no issues.

[2021-11-02 18:44] QuiiBz commented on #1731
As you mentioned, this is an issue in yarn v3:
- https://github.com/yarnpkg/berry/issues/1356

An existing fix is to skip the build of `@react-spring/core` as shown here:
- https://github.com/yarnpkg/berry/issues/3361#issuecomment-910626758

[2021-11-02 18:52] joshuaellis commented on #1731
I think that error report from yarn would help me understand if this is a duplicate or a different issue

[2021-11-02 19:57] alvarlagerlof commented on #1731
Right, I see now that it is the same error. Sorry for not realizing that.
[code]

I did try that now, and it seems to fail too.
[code]

This did work

[2021-11-02 19:57] #1731 closed

[2021-11-02 22:02] bradwoods opened #1733 "Not working with NextJS"
Sandbox: https://codesandbox.io/s/nextjs-react-spring-j017z?file=/pages/index.js

[2021-11-03 07:19] gpoole commented on #1639
Thanks for the detailed follow up @fast-reflexes. I think the solution of using `animated.path` is a good one for my use case and would be cleaner and probably more efficient than what I had. I don't think it solves every possible use case, though. For example you may wish to pass animated props to a third-party component that you don't have access to the internals of.

I agree that as you say thi

[2021-11-03 08:35] joshuaellis commented on #1733
Yes it does – https://codesandbox.io/s/nextjs-react-spring-forked-31pp0?file=/pages/index.js

[2021-11-03 08:35] #1733 closed

[2021-11-03 08:43] #1639 closed

[2021-11-04 16:28] belgattitude opened #1735 "[react-spring-core] Postinstall fails with yarn 3.1 on CI (maybe others ?)"
## 🐛 Bug Report

The postinstall script fails on CI (and vercel) with yarn 3.1 due to invalid characters. It does not happen on ubuntu latest. The reason is most probably the terminal escape codes and maybe a bug in yarn too... (maybe unlinked to yarn, couldn't test)

The good is news is that I saw your message :smile:

[code]

![image](https://user-images.githubusercontent.com/259798/140378019-5d

[2021-11-04 16:36] belgattitude commented on #1735
Sorry I just it's a duplicate of https://github.com/pmndrs/react-spring/issues/1668

[2021-11-04 16:38] belgattitude commented on #1735
And it will be fixed by https://github.com/yarnpkg/berry/pull/3661 released 7 hours ago :)

[2021-11-04 16:38] #1735 closed

[2021-11-05 08:44] fast-reflexes commented on #1639
Good solution! I think that updating the docs was the perfect resolution to this ticket. As a side note, I never understood if you wanted to pass a ref for the sake of `react-spring` or not.. Now I realize you wanted to pass a ref for other reasons than `react-spring` and then I totally agree that the resulting behaviour is a bit unexpected and requires a lot of internal knowledge of `react-spring

[2021-11-07 23:22] amhunt commented on #1535
@joshuaellis we ended up converting our project to `yarn`. 😂

At least this was a good forcing function!

[2021-11-08 13:23] flying-sheep commented on #1668
Both. I fixed the react-spring issue in #1740

[2021-11-09 03:41] 244686710 opened #1741 "Unexpected token ("
## 🐛 Bug Report
In the browser kernel Chrome53. 0.2785.116 runtime error: react-spring-core.esm.js:811 Uncaugeht SyntaxError: Unexpected token (

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior
After the react-spring-core.esm.js file is compiled with babel.forceAllTransforms, the error can be eliminated

## Link to repro (highly encouraged)
![image](https://user-images.gith

[2021-11-09 03:46] 244686710 commented on #1741
## Bug Report
 react-spring-core.esm.js:811 Uncaught SyntaxError: Unexpected token (
![image](https://user-images.githubusercontent.com/20982796/140858125-0f37e6ea-8c03-4bca-a20b-a8f826d34bcf.png)
![image](https://user-images.githubusercontent.com/20982796/140858155-fff80e90-10fc-4d45-9192-8b96350f84e8.png)
## Environment
----
react-spring v9.3.0
react 17.0.2

[2021-11-09 11:09] joshuaellis commented on #1741
please correctly fill out the issue template and we can actually investigate the issue.

[2021-11-10 15:20] kabilanvennila opened #1747 "Golden Sponsor Logo not showing in README.md"
## 🐛 Bug Report
Golden Sponsor Logo not showing in README.md

## To Reproduce
Steps to reproduce the behavior:
1 . Visit https://github.com/pmndrs/react-spring/blob/master/README.md
2.  Slide down to gloden sponsor section
3.  The Logo doesnt show

## Expected behavior
The image should be rendered properly

[2021-11-10 15:27] kabilanvennila commented on #1747
I'd Like to fix this

[2021-11-10 16:22] joshuaellis commented on #1747
Go right ahead and fix :)

[2021-11-11 08:07] artman commented on #1732
We're experiencing this same issue in production. Also happens on v9.2.4 where we upgrade from. After any single one react-spring animation has completed, animation frames are still being requested and CPU is at 2.5% even though no re-rendering is happening.

[2021-11-11 08:19] joshuaellis commented on #1732
I haven't really looked into this yet, but off the top of my head, RAF is probably still being called after unmount, which would indicate its in the global scope or something similar

[2021-11-11 08:45] artman commented on #1732
Just tested and this seems to be an issue with all 9.x.x versions.

[2021-11-11 09:04] joshuaellis commented on #1732
This would make sense since v9 was a major re-write of most things incl. introducing `@react-spring/rafz`

[2021-11-12 12:54] chukanovdk commented on #1668
You can also use
`  "dependenciesMeta": {
    "@react-spring/core": {
      "built": false
    }
  },`
  for yarn 3

  https://yarnpkg.com/configuration/yarnrc#enableScripts
  https://yarnpkg.com/configuration/manifest#dependenciesMeta

[2021-11-12 21:58] thexpand commented on #1512
In the meantime, I figured out a workaround for this issue.

If you want to chain them one after another (without overlapping), you can make all but the first one paused and then resume the animation in the `onRest` event callback like this:
[code]

---

Alternatively, if you want some overlapping of the animations, just like you can do with `useChain`'s `timeSteps` array, you can use the same app

[2021-11-14 08:07] cedricdelpoux opened #1751 "Unmet peer dependencies"
## 🐛 Bug Report

When installing `react-spring`, there are few unmet peer dependency warnings in the terminal

[code]

## To Reproduce

`yarn add react-spring`

## Expected behavior

No warnings

## Environment

- `react-spring` v9.3.0
- `react` v17.0.2

[2021-11-14 11:26] joshuaellis commented on #1751
This isn't a bug. If you don't want the errors I would advise you installing a specific target e.g '@react-spring/web'

[2021-11-14 11:26] #1751 closed

[2021-11-14 14:04] cedricdelpoux commented on #1751
Thanks for this but I did not found anything in the docs about this on https://react-spring.io/.
I think I'm not the only one using `react-spring` instead of `@react-spring/web`

[2021-11-14 14:20] joshuaellis commented on #1751
Thanks, but it's actually on the [homepage](https://react-spring.io/#platforms), if you think you can improve the docs, please feel free to make a contribution

[2021-11-14 14:33] cedricdelpoux commented on #1751
Good catch, thanks!

[2021-11-14 22:41] #1741 closed

[2021-11-16 01:41] shadowbrush commented on #1731
Why was this issue closed? It's still broken in `9.3.0`.

[2021-11-17 07:21] OnkelTem opened #1756 "npmjs is missing the README"
please fix

![image](https://user-images.githubusercontent.com/114060/142154570-e8a3d633-84a9-47b2-b646-f441c30e78bc.png)

[2021-11-17 08:22] #1756 closed

[2021-11-17 21:34] ljharb commented on #1756
Why was this closed? There's still no readme on npm. Perhaps your bazel rule failed to copy it to the publish directory?

[2021-11-17 22:03] joshuaellis commented on #1756
There's one in the package & it's included in the `files` part of the `package.json` why it's not deploying i'm not sure.

If anyone wants to create a PR for this I'll check it out. Else, it's not really on the agenda...

[2021-11-17 22:39] ljharb commented on #1756
@joshuaellis no, it is not in the package - https://unpkg.com/browse/react-spring@9.3.0/ - so it's almost certainly an issue on your end, altho i suppose it could be npm's. Either way it results in your package lacking a readme on the most important place, npm, so why wouldn't that be considered an open issue?

[2021-11-18 07:35] joshuaellis commented on #1756
Like I said, you're welcome to create a PR for this

[2021-11-18 07:37] ljharb commented on #1756
I'm very astonished that a package maintainer wouldn't be urgently releasing a patch release to fix something like this. If this is how you're comfortable with your package representing itself, I think that red flag should remain. Good luck!

[2021-11-18 07:51] joshuaellis commented on #1756
Since you felt so passionate about it, it's now been updated. For future though, minor bugs like this, I'm sure the community can help out with this.

[2021-11-18 08:05] ljharb commented on #1756
713fea0328c7d9a7b89142dcde26c0a00596b12f, for reference.

[2021-11-19 02:22] millsoper opened #1762 "PR template references a file that doesn't seem to exist"
## 🐛 Bug Report
A comment in the [PR template](https://github.com/pmndrs/react-spring/blob/master/.github/PULL_REQUEST_TEMPLATE.md) (visible while creating a new PR) instructs contributors to read `CONTRIBUTING.md` and `CODE_OF_CONDUCT.md`. `CONTRIBUTING.md` is at the root of the project, but `CODE_OF_CONDUCT.md` appears to be absent from the repository.

Either a Code of Conduct should be added t

[2021-11-19 08:00] joshuaellis commented on #1762
Remove code of conduct from the template 😄

[2021-11-19 08:02] joshuaellis commented on #1747
resolved by #1748

[2021-11-19 08:02] #1747 closed

[2021-11-19 17:04] #1762 closed

[2021-11-20 03:26] unicornware commented on #1515
for anyone using different versions, this workaround will **not** work.

`s(animated.a)` yields `Type instantiation is excessively deep and possibly infinite.ts(2589)`.

[code]

[2021-11-23 08:35] marcusthelin commented on #673
After upgrading to latest v9 version our memory usage stabilized. We've had this memory leak for a long time, and it took a while for us to figure out it was because of this lib.
![image](https://user-images.githubusercontent.com/22647302/142992177-23ac41a0-41a5-4212-8154-d741eebf882d.png)

[2021-11-23 15:02] wojtekmaj commented on #1724
@joshuaellis Hi, sorry for the delay! Here's repro repo.

https://codesandbox.io/s/react-native-styled-components-missing-styles-zi2b1?file=/src/App.js

[2021-11-23 15:27] joshuaellis commented on #1724
Right sorry, thats not the way to use `styled-components` with `react-spring`. So you'd have to do `styled(animated.View)`.

[2021-11-23 16:12] Khojanator commented on #1586
I feel like the problem is importing Box but not using it, which causes an eslint error
![image](https://user-images.githubusercontent.com/19940576/143060882-0038f393-18d6-455b-8f1e-3a5e8977636b.png)
If I change the code to use `Box` as well, it works as mentioned in the _working animations_ example.
![image](https://user-images.githubusercontent.com/19940576/143061241-a4ba800d-5b38-41cb-acd3-eead

[2021-11-23 17:51] unegare opened #1765 "Example "You can transition arrays" from Docs does not work"
## 🐛 Bug Report

There is an extra move to the right which accumulates in time. The first one takes place with the third iteration of transition

## To Reproduce

Steps to reproduce the behavior:

Just run the code

## Expected behavior

Just translate in and out of the frame on the *same* place.

## Link to repro (highly encouraged)

https://codesandbox.io/embed/distracted-carlos-6r5c7

## Enviro

[2021-11-23 18:37] Lucasdsk opened #1766 "Issue with rerender when using the Parallax enabled property"
## 🐛 Bug Report

I'm trying to enable and disable the Parallax scroll dynamically through the **`enabled`** property.

Doc.: https://react-spring.io/components/parallax#parallax-1

The issue is that I'm getting the error:

![image](https://user-images.githubusercontent.com/7729844/143083000-3dd2ed60-3e3b-497b-9f68-ea6eebaf49c1.png)

This is breaking the whole page behavior, the scroll stops workin

[2021-11-23 19:51] #1668 closed

[2021-11-23 19:58] joshuaellis commented on #1766
resolved by #1767

[2021-11-23 19:58] #1766 closed

[2021-11-24 12:57] pvldsgn opened #1768 "Modified function output followed by Parallax, ParallaxLayer update, useRef"
Hello everyone!

I'm not sure if this belongs to the category of questions, because it looks like a bug:

When i want add event scroll to track its position on the page, i used useRef and almost everything worked, except for the smoothness of the scrollToTop event, but that's not about it now. Then I got the value of useRef as an object indicating what kind of object it was and could manipulate it

[2021-11-24 13:40] #1768 closed

[2021-11-29 08:57] joshuaellis opened #1770 "Can't get property container ref element - React-spring v9. ParallaxLayers. useRef"
## Feature Request

Theres a small regression in what the refs contained when passed to Parllax components i.e. you don't get to access the actual nodes. It would be helpful to re-introduce these and add this to the documentation. They could be called `container` as they previously were, but i'm also open to suggestions of a more intuitive name.

### Discussed in https://github.com/pmndrs/react-sp

[2021-11-29 14:46] kindoflew commented on #1770
looking back at `8.0.27` and then `9.x.x` on, it seems these were never added to the forwarded refs in the version change (whereas I guess it happened for free in older versions).

i'm into this -- with this addition, users should be able to listen for scroll events on `Parallax`, which I've seen a few requests for/questions about. I should have some time this week to do it!

[2021-11-29 15:34] joshuaellis commented on #1770
That's great news, thanks @kindoflew

[2021-11-30 22:48] einaralex opened #1772 "Error: The arity of each "output" value must be equal"
## 🐛 Bug Report

I got this error and was having a difficult time finding what was causing it, I found out why.
Leaving this here if someone else stumbles upon this.

My mistake was having the timing without a `0` in front : `transition: all .20s linear`
Changing it to `transition: all 0.20s linear` got rid of the error.

Example:

[code]

## Environment

- `react-spring` v9.3.0
- `react` v17.0.2

[2021-12-01 06:57] joshuaellis commented on #1772
I'm confused, so this isn't a bug? Also why wouldn't you use the config prop instead of setting up css transitions that you're changing per phrase?

[2021-12-01 21:25] unicornware commented on #1515
for anyone who doesn't actually use the `css` prop, this worked for me:

`packages/ui/typings/cssprop.d.ts`:
[code]

`packages/ui/package.json`:
[code]

[2021-12-02 08:43] #1772 closed

[2021-12-02 08:44] joshuaellis commented on #1724
closing due to inactivity.

@wojtekmaj if you need anymore help feel free to ask, and we can reopen this issue if required.

[2021-12-02 08:44] #1724 closed

[2021-12-05 22:30] clementroche opened #1776 "rafz.cancel() has no effect on onFrame, onStart and onFinish callbacks"
## 🐛 Bug Report

rafz.cancel() has no effect on onFrame, onStart and onFinish callbacks

## To Reproduce

https://codesandbox.io/s/rafz-cancel-raf-nc344

## Expected behavior

rafz.cancel(loop) should stop loops created using onFrame, onStart or onFinish

## Link to repro (highly encouraged)

https://codesandbox.io/s/rafz-cancel-raf-nc344

## Environment

- `react-spring` v9.3.1
- `react` v17.0.2

[2021-12-08 19:09] juanpasolano commented on #1302
Just wanted to add this workaround to the conversation
I had to avoid this issue by using a single number in the spring and passing it separately.
[code]

[2021-12-08 22:46] iliasrafia commented on #609
Add overflow: "hidden"
![code](https://user-images.githubusercontent.com/65836995/145303347-cad18398-40ee-4c9c-b7f7-03334e41a973.png)

[2021-12-11 05:21] kizahasi opened #1784 "@react-spring/konva: ` Type instantiation is excessively deep and possibly infinite.` on TypeScript 4.5"
## 🐛 Bug Report

Components in @react-spring/konva give `TS2589: Type instantiation is excessively deep and possibly infinite.` error on TypeScript 4.5.

It works fine on TypeScript v4.4.4.

## To Reproduce

TypeScript v4.5.3

[code]

When I run `tsc`, it gives the following error:

[code]

It seems other components in `@react-spring/konva` such as `animated.Text` and `animated.Line` give the same

[2021-12-12 19:10] joshuaellis commented on #1776
This has been released in v9.4.0-beta.2

[2021-12-12 21:00] joshuaellis commented on #1784
This is a typescript problem, not a `@react-spring` issue, as evident by the issue appearing with a change in TS version.

There's another issue open similar that we're tracking that sort of thing – #1515

So let's close this in the interest of only having one issue regarding this.

[2021-12-12 21:00] #1784 closed

[2021-12-12 21:01] joshuaellis commented on #1515
After looking into #1784, we should also track this issue – https://github.com/microsoft/TypeScript/issues/34933

[2021-12-12 22:23] joshuaellis commented on #1662
Thanks again for the research. I've been looking and I can see the issue we're having and I'm going to write it down so I don't forget the next time I find time to look at this so here it goes.

delays are attached in the `scheduleProps` function where we make our paused, resume queues because scheduleProps is called in a `raf` loop. But the specific call to scheduleProps is from a `SpringValue` s

[2021-12-12 22:41] joshuaellis commented on #1707
It's a complicated issue, rs under VR needs to be ran by r3f, so when you set the frameLoop to demand, and you're not calling that invalidate function then it won't run either.

We do this because of this https://github.com/pmndrs/react-spring/issues/1518

Where r3f can run in non-brower ENVs. There's probably a solution to this that would resolve the issue, but i'd argue the docs are a little ina

[2021-12-12 22:42] joshuaellis commented on #1707
So, to add. Your assumption is that despite you declaring `demand` on your r3f renderer, `react-spring` a different library should be able to control such a thing. Which i'm not sure is right to do... 🤔

[2021-12-13 00:26] clementroche commented on #1776
🙏

[2021-12-13 21:15] srubin commented on #1732
Would rafz be interested in a PR that stops the RAF loop if there are no scheduled timeouts or updates?

[2021-12-13 23:32] joshuaellis commented on #1732
I'd be very interested in seeing it 🥳 sounds great!

[2021-12-16 19:10] joshuaellis commented on #1732
this has been released on `v9.4.0-beta.3`

[2021-12-16 20:07] dmaslan commented on #1707
Yes, that's what I would expect after reading the docs, that react spring animations have the invalidate function built in.  But I see your point.

[2021-12-16 20:57] joshuaellis commented on #1707
Those docs should probably be changed.

I think to resolve this we need to understand how people use invalidate and demand in their apps. Including those using VR.

Do you have an example to hand how you're using it in your app?

[2021-12-16 22:01] dmaslan commented on #1707
Sure, right now I'm using it in a super basic way. I have a model that can be rotated around with OrbitControls (from `@react-three/drei`) and certain elements should change in scale when hovered over.

So the basic setup is:
[code]
And then, inside the Model component I have components like:
[code]
So, in my app, unless the model is being actively rotated or hovered over, it is basically static a

[2021-12-17 09:16] joshuaellis commented on #1389
NOTE: this doesn't seem to happen when using a `duration` so possibly something with our `spring` calculations

[2021-12-17 10:51] joshuaellis commented on #1389
Hey @neefrehman, I've been wondering if the `precision` prop helps this bug – https://codesandbox.io/s/happy-sea-y18m1?file=/src/index.js

For context, we use precision to define how close to the value do we get before we consider it "the value", this is only really used in `spring` animations (not with duration).

To me, I can't see the jank, and this could be something we document as a suggestio

[2021-12-17 11:03] neefrehman commented on #1389
@joshuaellis to me that works also! I had absolutely no idea about that property. Does that mean that the default for it was changed in v9?

Agree that changing it again could be considered a breaking change, but I would also consider the current behaviour to be broken. So perhaps documenting the suggestion as you say, and then waiting until the next major to add the fix alongside could be a good

[2021-12-17 11:39] #1389 closed

[2021-12-17 11:39] joshuaellis commented on #1389
that's great to hear.

I'll have to investigate further but supposedly the default has not changed, but the code is a bit different, so whether or not that's true i'm not sure...

Anyway, i've updated the documentation to reflect the information on precision and added a guide section for `r3f`. If you have any tips, feel free to contribute 😄

[2021-12-20 04:12] mnoop opened #1790 "Concurrent Mode + Strict Mode cause useTransition to not unmount component after leave"
## 🐛 Bug Report

It seems that when Concurrent Mode and Strict Mode are both enabled, useTransition does not automatically unmount a component after it leaves. Also, it seems that the enter animation does not occur. It could just be that I'm doing something wrong.

## To Reproduce

1. Enable Concurrent Mode and Strict Mode
2. Create a useTransition hook for a single item (in this case a number)
3.

[2021-12-20 06:44] joshuaellis commented on #1790
Please provide a reproduction of the issue in its simplest form.

[2021-12-20 15:45] joshuaellis commented on #1662
This has been released on `v9.4.0-beta.4`

[2021-12-20 17:21] MarcCelani-at opened #1792 "react-spring doesn't list peerDependencies"
## 🐛 Bug Report

react-spring doesn't list peerDependencies, which causes these error in Yarn3:

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Create a new package using yarn3.
2. Run yarn install

## Expected behavior

No missing dependency warnings

## Environment

- `react-spring` v9.0.0-rc.3

[2021-12-20 22:52] joshuaellis commented on #1583
There's a dedicated section of the docs for this – https://react-spring.io/guides/testing

If you need anymore help we can revisit / reopen.

[2021-12-20 22:52] #1583 closed

[2021-12-21 09:44] joshuaellis opened #1794 "[regression] transition.reverse is currently not possible"
### Discussed in https://github.com/pmndrs/react-spring/discussions/1758

<div type='discussions-op-text'>

<sup>Originally posted by **ottotsuma** November 17, 2021</sup>
Hey all,
I am trying to move to react-spring V9 from V8.

So in Spring V8 I use to do:

`bottomTransition.reverse()`

To get the animations to play in the reverse order do cards [1 ~ 5] would come out in the order 5, 4, 3, 2, 1.

[2021-12-21 15:53] joshuaellis commented on #1512
This is sort of to do with our `useTrail` implementation where the trail implementation doesn't work with `SpringRef` which can be seen when you just call `ref.start`... Although in `useChain` we start the `Controllers` directly, except we're not re-attaching springs to other controllers, this logic is all locked up in `useTrail`.

To solve it'll require more thought and re-writing, maybe we intro

[2021-12-21 17:04] joshuaellis commented on #1549
This is probably a Chrome issue, if you change the prop from `style` to `transform` it works fine. Since Edge is now basically a MS clone of Chrome I would suspect it too.

Here's a working sandbox where i've used `transform` instead of the `style` attribute – https://codesandbox.io/s/react-spring-repro-forked-nj0s9

[2021-12-21 17:04] #1549 closed

[2021-12-21 17:07] joshuaellis commented on #1512
I've released this on `v9.4.0-beta.5` if anyone wants to try it out and feedback that would be really useful, I did cross check it with previous behaviour in v8, so I'm hoping this is as expected.

[2021-12-21 17:23] joshuaellis commented on #644
We no longer use `attach` and we do allow a `reverse` prop. To pass a custom index is something we currently do not support, but it is something we could look at adding in the future.

[2021-12-22 21:15] joshuaellis opened #1799 "[RFC][documentation] What do you think?"
## Problem

### Preface

Whilst I think our documentation coverage is _good_, I think it can be hard to find what you want. The information architecture of the site isn't quite right. There are pieces of documentation we want to be shouting about e.g. our [Imperative API](https://react-spring.io/common/imperatives-and-refs#imperative-api) but it's not really doing that.

### Going forward

I don't

[2021-12-22 21:31] krispya commented on #1799
Hi Josh, overall the docs have served me well and only gotten better over time. There are two things that would suggest though:

1. With r3f being mixed with react-spring more often, it makes sense to have an imperative update guide. Maybe this is something I can help with?
2. Spring property controls on the Config page are useful to quickly visualizing spring motion without setting up my own cont

[2021-12-22 21:55] trm217 commented on #1799
Let me tell you about my first experience with the react-spring docs.

Around a year ago, I used/tried using react-spring for some micro-interactions in a page that I worked on. I was a bit overwhelmed by the docs at first, so I ended up copying examples onto the page.
Once the example worked, I then tried to adapt the examples to my use case. This worked well for more primitive examples, but this

[2021-12-22 23:19] MarcCelani-at commented on #1731
We have a pretty big, complex mono-repo, and this is the only package that is tickling this bug. I get that yarn is the proper place to fix this, but isn't it relatively simple to fix this within react-spring? I wasted quite a bit of time on this.

[2021-12-22 23:23] joshuaellis commented on #1731
It was fixed in 9.3.1

[2021-12-22 23:33] MarcCelani-at commented on #1731
Looks like https://github.com/pmndrs/react-spring/commit/e10f785e2962451bf298a8c318838fd1115da886#diff-0b810c38f3c138a3d5e44854edefd5eb966617ca84e62f06511f60acc40546c7 fixed it, thank you.

[2021-12-22 23:50] mjsisley commented on #1731
On Wed, Dec 22, 2021 at 3:34 PM Marc Celani ***@***.***>
wrote:

No 👎 or

[2021-12-23 03:59] looeee commented on #1799
Hey! So first up let me says it's rare and amazing to see an open source project open up a conversation like this about docs. That already puts you way up in the 0.01% 😁

Regarding the imperative API page in particular - that stood out to me previously, because when I first use react-spring about 6 months ago I read that page, and I had never used a previous version so my reaction was "huh, why ar

[2021-12-23 16:41] monsterooo opened #1800 "Document link error"
## 🐛 Bug Report

Under [useTrail](https://react-spring.io/hooks/use-trail#properties), there is a link [shared-api](https://react-spring.io/docs/hooks/api). It points to the wrong 404 address.

## To Reproduce

Visit the above links

## Expected behavior

Link to the correct [address](https://react-spring.io/common/props)

## Link to repro (highly encouraged)

(Please provide either a [CodeSandbox

[2021-12-23 20:27] chuckdries commented on #1707
In [the docs section](https://docs.pmnd.rs/react-three-fiber/advanced/scaling-performance#triggering-manual-frames) for frameloop="demand", it says

Which I take to mean react-three-fiber is calling invalidate for me, but from this thread I take it that's incorrect? What does that phrase in the docs mean? React-spring doesn't seem to have a way for me to manually call invalidate when it moves, so

[2021-12-23 20:46] joshuaellis commented on #1707
Those docs are incorrect, I'm not sure who wrote them. But r3f runs spring so you can use it in XR environments.

It's a problem we're wanting to solve.

[2021-12-24 03:21] iyinchao opened #1802 "'onRest' not fired when two 'start' calls are too close"
## 🐛 Bug Report

## To Reproduce
I use the spring API like this:
[code]
Then user interaction will start opacity animation between value 0~1.
[code]
When users move too fast, the `trigger ---> untrigger` calls are too close, e.g. about less then a single animation frame, the `onRest` sometimes will not called.

## Expected behavior

`onRest` be called whenever `start` is called, even when 2 start

[2021-12-27 07:03] #1800 closed

[2022-01-02 08:54] joshuaellis commented on #1651
This has been released on `9.4.0-beta.6`

[2022-01-03 13:30] #1776 closed

[2022-01-03 13:30] #1512 closed

[2022-01-03 13:31] #1651 closed

[2022-01-03 13:31] #1064 closed

[2022-01-03 13:31] #1770 closed

[2022-01-03 13:31] #1732 closed

[2022-01-03 13:31] #1662 closed

[2022-01-03 15:23] joshuaellis commented on #1799
Thanks for the feedback folks! I'll be taking a look at all this and hopefully filtering it all in, if you have anyone has additional feedback please continue to post it!

[2022-01-03 19:28] krispya opened #1803 "[Request] Be able to set spring config per value"
## 🚀 Feature Proposal

The idea is to be able to set a spring config per value in a single `useSpring`.

## Motivation + Example

I like to use a single `useSpring` per component where possible and when doing more complex motion design I need individual values to have their own spring config. This especially becomes important when the spring config is modified depending on the state of the app and

[2022-01-04 14:43] MarkosKon opened #1805 "window is not defined error on variableToRgba during SSR"
## 🐛 Bug Report

Hi, I'm getting a "window is not defined" error on [variableToRgba](https://github.com/pmndrs/react-spring/blob/master/packages/shared/src/variableToRgba.ts#L21) during SSR (Gatsby site) on the 9.4.0 version.

Maybe add a window guard (typeof window === 'undefined') and return the same string if we are in SSR?

#1798

## To Reproduce

Clone the [repo](https://github.com/MarkosKon/

[2022-01-04 23:09] stoico commented on #1799
Not crystal clear which Hook applies to which use case. Some of them sound very similar to each other.

[2022-01-05 02:36] joshuaellis commented on #1799
@stoico would you be able to give an example so I understand better please? ☺️

[2022-01-05 08:55] sagarchoudhary96 commented on #1794
@joshuaellis i would like to work on this one. Would be great to know a little bit more about starting point to look for the fix for this as this is first time i'm working with react-spring.

[2022-01-05 09:34] sagarchoudhary96 commented on #1794
@joshuaellis how do i make changes locally to this repo and test out in my local project?

[2022-01-05 09:37] joshuaellis commented on #1794
Hey @sagarchoudhary96, you'll want to look at the useTransition hook and towards the bottom where we handle the users `render` function, I haven't given it much thought from that.

Working on the repo, you should fork the repo and work there, there's a demo folder in the repo where you'll see all the sandboxes. You should probably just change an existing `useTransition` example if possible or crea

[2022-01-05 14:59] #1805 closed

[2022-01-05 15:52] stoico commented on #1799
Preface: I love react-spring and thank you for your work ❤️

Some common scenarios are, say:
1. I have a list and I would like to create a staggered animation
2. I would like to animate a button on hover
3. I would like to animate a side-by-side transition between two tabs (views on the same web app page)

Let's take for example point 1:
- I start by googling 'react-spring docs'
- I land on the ho

[2022-01-05 18:04] sagarchoudhary96 commented on #1794
@joshuaellis  i tried using older react-spring version(V8.0.27) as well, it works same as current versions.
code sandbox link: https://codesandbox.io/s/confident-hooks-f7yis?file=/src/App.js

[2022-01-05 18:11] joshuaellis commented on #1794
I think you've misunderstood the requirement. If we look at the top section – `1,2,3,4,5` no.1 animates in **first** on **enter** and animates **out** first on **leave**. However what we want is:

- no.1 animates in first on enter
- no.5 animates out first on leave

So it's not the order of the items being displayed, but the order they're displayed.

[2022-01-06 05:40] oo0o00oo0 commented on #1799
Hi Josh. Thanks for your work on such a powerful amd fun library!

One thing that I'd like to see is a little more detail into the under-the-hood-ness .

I'm personally someone who likes to know a bit about how things are working behind the scenes, instead if being satisfied with following or copying code. To me react spring is a little bit too black-boxy because as a beginner developer I can't ge

[2022-01-06 13:10] Stranger1586 commented on #1799
Hello, Josh.
First off, you did an amazing job building this library, I absolutely adore it.
I will be more than happy to provide some feedback

**- What didn't you like about the documentation?**

The organization of it.
Here is a few examples:
In the introduction page, you seem to include a quick explanation of springs, that could possibly be expanded into along with some general info about the

[2022-01-06 15:31] philschoefer commented on #1660
I have a similar issue with formatted currencies. In my case I'm using shopify's `i18n` package to format a currency. When switching to german formatting, 0s get dropped.

https://codesandbox.io/s/happy-shape-gfpjw?file=/src/App.js

(change `locale = 'en'` to `local = 'de'` and you'll notice `6.920,60` turns into `6.92,6`

[2022-01-07 01:42] lritter79 commented on #476
My portfolio uses it https://my-portfolio-iota-pink.vercel.app/

[2022-01-11 13:54] fryerd commented on #1799
This is great but I'm a PM not a Dev so mainly use these docs to find and reference the Demos which are hidden at bottom of the page.

Then I hospital pass it over to my front-end developer to ask them what's possible to implement when updating/building a new feature.
-
I would appreciate a nice video introduction or examples of developers actually using react-spring.

It's a lovely library though

[2022-01-14 02:59] PROCW opened #1809 "[bug]: don't work onDragEnd event in mobile browser for gesture"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [X] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.2

### What's Wrong?

In mobile browser, onDragStart Event worked, but onDragEnd Event doesn't work with gesture.
I added my source.

[code]

### To Reproduce

[d

[2022-01-14 08:54] joshuaellis commented on #1809
is this not a bug for `@use-gesture`?

[2022-01-15 19:51] thexpand opened #1810 "[bug]: RangeError: Maximum call stack size exceeded when using useTrail"
### Which react-spring target are you using?

`@react-spring/web`

### What version of react-spring are you using?

9.4.2

### What's Wrong?

This happens when I try to call the `useTrail`'s API method `start`. It started happening after version 9.4.0. I didn't have this problem with version 9.3.2. I looked into the changes between the 2 versions and I noticed this:
https://github.com/pmndrs/react

[2022-01-18 09:29] mohan-ys commented on #1799
Hi,

I am new to Web Development and to be honest, I could not find what I was looking for.
I have a app with conditional rendering (as can be seen in this video https://youtu.be/5kl1wCBwR_U). I can animate the component entering but **I am unable to animate the component exiting & the size change of the container that has these 2 components**.

I searched several places & thought 'react-spring' w

[2022-01-18 15:07] RandomToni opened #1811 "[bug]: ReferenceError: Cannot access 't' before initialization"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.1

### What's Wrong?

Getting error: "ReferenceError: Cannot access 't' before initialization at Object.applyAnimatedValues " whenever a component with animated s

[2022-01-18 15:57] joshuaellis commented on #1811
Thanks for the report, looking at the sandbox nothing happens. Do you have a link to where it's hosted?

Also does it happen when the component is not wrapped in `observer`?

[2022-01-19 03:19] RandomToni commented on #1811
Ok, so I tried removing the observer but nothing changed. I started debugging the .esm file and surprisingly found that I could make it work if I commented out the content of the applyAnimatedValues function passed to the createHost method. To be a little more specific, the error appears when "dangerousStyleValue" is being called, at the time of the component rendering. The styles that are being a

[2022-01-19 07:46] sagarchoudhary96 commented on #1794
Thanks, @joshuaellis for clearing it out. But I still have concern that, based on the disscusion, as it is mentioned it used to work in older versions using the .reverse() method, it doesn't seem to work in older versions with that. so need to know the older implementation to have the behaviour as we want currently.

[2022-01-19 08:39] joshuaellis commented on #1794
If it didn't work in the older version as described, then we should introduce it as a feature. I've written above the expected behaviour. I will leave it here for you if you want to take an attempt at introducing the feature, else I will pick it up in due course.

[2022-01-19 08:40] joshuaellis commented on #1811
I can't without seeing a reproduction of the bug unfortunately, this is most unusual and your debugging journey so far would indicate this is a deep breaking bug and the lack of anyone else reporting makes me suspicious.

Have you tried running the app in `incognito`?

Else if you can point me to it breaking in a PROD env or the source code I can take a better look.

[2022-01-19 12:23] RandomToni commented on #1811
Hello,

I uploaded the code here https://hybeans.com/react-spring

[2022-01-19 13:49] sagarchoudhary96 commented on #1794
Sure, will try to look into implementing it as a feature as per the requirement :
[code]

[2022-01-19 13:58] joshuaellis commented on #1811
Looks like it's the transpiling of your code. e.g. Babel plugins malforming. Can I see the actual source? or a reproduction of the bug in situ

[2022-01-19 20:40] RandomToni commented on #1811
Hello, we'll be checking the projects configuration and will be back to you with an update on this. Thanks you!

[2022-01-20 01:22] lensbart commented on #1577
@joshuaellis this is still an issue. Please confirm that all packages list any dependencies they use in their `package.json`.

As for a reproduction, it suffices to use `react-spring` in any repository that uses [Yarn](https://yarnpkg.com) as a package manager. Note that Yarn is a bit more strict about dependencies requirements, but that these rules are not Yarn-specific (i.e. are general best pra

[2022-01-20 10:52] Heilemann commented on #1799
Please make doc links jump to the content so people don't have to scroll past the giant header (why is it on every page?) every time they navigate.

[2022-01-20 23:13] lensbart commented on #1577
Also the following:
[code]

Please reopen @joshuaellis

[2022-01-21 06:25] joshuaellis commented on #1577
Hi @lensbart

If you'd like to discuss this further, why not open a new issue?

Although if I'm honest, I don't think there's much to be changed because of how our target packages work.

I'd actually encourage you to use the specific target you're interested in e.g '@react-spring/web' where this issue would probably be avoided.

[2022-01-21 07:35] joohyung-lee commented on #1577
Hi @joshuaellis
As you said, just specify the `@react-spring/web` specific target.
But most expect to import from the root package into tree shaking with `import {useSpring} from @react-spring`.

Since` react-spring` is dependent on `react `,`react-dom`,
I think it would be good to add react as peerDependencies as I mentioned at the beginning. What do you think?

[2022-01-21 08:07] joshuaellis commented on #1577
Looking at what @lensbart has posted, to silence the errors about package specific dependencies we'd have to add `peerDependenciesMeta` into the specific targets, which isn't accurate because they are required if you want to use said targets.

Adding them to `react-spring` though, i'm not sure would work. Is there a way you can test this theory and provide a PR with proof? If it works then I'm hap

[2022-01-21 17:31] asjustis commented on #1799
Two mentions for improvements, since I just want to start using this and got difficulty already:
1. Add animated under API menu. Had to find it about from this URL https://stackoverflow.com/a/67434651/1935554 (I found it under Basics menu afterwards, but you actually have to read it to find it! ;) )
2. Add a Basic Examples menu to show how to use React Spring for our own components. Pretty much al

[2022-01-21 18:09] neolectron commented on #1799
One "simple" thing to do, to improve the documentation by a factor of two : update all the example to the latest apis with latests standards.
At the moment it is not possible to learn the library based on a exemple and tweak stuff because it is so much outdated and different, that you won't have the same code at home.

Then you will inevitably use/write/improve a "migrate from xx to ^9.0" guide fo

[2022-01-22 16:32] joohyung-lee commented on #1577
@joshuaellis ,
Thanks for the detailed reply to the comments.
Yes, I will configure the reproduced environment and test it.

[2022-01-22 23:01] maxmezzomo commented on #1799
I think the docs are quite nice in terms of layout and structure. The library is so flexible which is of course a great thing, so finding what to use and when is not always straight-forward, but I'm new to spring as well, was using framer-motion a lot before. So I think if anything, more examples would be nice because you can always study those and learn more than just reading.

One thing that is

[2022-01-23 11:53] thexpand commented on #1810
@joshuaellis I see that you were the one who released the last few versions, including the breaking minor version 9.4.0. Did you have a chance to take a look at the CodeSandbox, what could be the issue?

[2022-01-24 07:30] looeee commented on #1515
I'm running into this issues with a react-three-fiber project. However, attempting to reproduce it on codesandbox doesn't seem to be working so I guess it is only an issue on larger projects.

To workaround I have added a @ts-expect error comment.

[code]

The problem is, on the initial build of my project this error doesn't get picked up, so the build fails because I have an unneeded @ts-expect e

[2022-01-25 14:34] neolectron commented on #1810
I also have this problem and I provided a codesandbox to analyse this as well.
Thank you.

https://codesandbox.io/s/animated-email-button-csjqn

[2022-01-25 15:01] thexpand commented on #1810
I noticed that it works on `10.0.0-alpha.0`, but this version hasn't been updated since June 2021.
@neolectron By the way, your CodeSandbox uses that same alpha version and seems to be working fine with it, but when I forked your CodeSandbox and tried with `9.4.2` - it didn't work anymore - just like with my example.

[2022-01-25 15:03] neolectron commented on #1810
Yeah sorry, It was in 10.0.0-alpha-0 just to see where the bug comes from, but yeah it breaks in the latest update.

[2022-01-25 15:09] thexpand commented on #1810
Yes. By the way, for more clarity - I tested each available version of `react-spring` from CodeSandbox, including the alpha and beta ones. It works on `9.3.2`, `9.3.3` and even on `9.4.0-alpha.0`, but it breaks as soon as `9.4.0-beta.0`, so my best guess would be that it's something in between those 2 versions. However, I don't see a `9.4.0-alpha.0` tag in GitHub, so the best comparison that I cou

[2022-01-26 18:55] RandomToni commented on #1811
Hello,

We finally were able to make it work. After your tip, we checked the example files in the repo where and tried to copy the configuration. We found that we where using old modules and targets in the tsconfig.json file (ES2015) and we updated that to ESNext as the examples showed.
Thanks!!

[2022-01-26 18:55] #1811 closed

[2022-01-26 20:36] joshuaellis commented on #1811
Great to hear, glad I could help you out!

[2022-01-27 15:29] MateCon commented on #1765
Hi, this is my first time contributing in github, can I help with this?

[2022-01-27 15:30] joshuaellis commented on #1765
Sure thing @MateCon!

[2022-01-27 15:47] MateCon commented on #1765
I think the problem is that some of the previous instances of the nodes are not being removed, moving the new ones to the right. This only happens with the timeout in useEffect, if it is removed everything works fine, except that the exit animation doesn’t appear.

[2022-01-27 16:08] joshuaellis commented on #1765
When you're ready, just make a PR with the solution and we can discuss in better detail there :)

[2022-01-27 16:29] scottluptowski commented on #1799
First of all, thank you for your great work on the library.

I'm really happy to see this thread! I recently wanted to use React-Spring to recreate the winning animation from Wordle; I had a really hard time.

Example

https://user-images.githubusercontent.com/3178471/151399864-1d68f3a0-863d-401a-863b-a93bc3577c94.mov

Description: 5 boxes; each box bounces up and then bounces back to where it beg

[2022-01-27 16:47] joshuaellis commented on #1799
Sorry to hear you gave up @scottluptowski, you can reach me on Discord in the PMNDRS discord server – JumboJosh.

But I also thank you for taking the time to feedback clearly with some really great questions that you had that I can then reflect on.

To everyone else feeding back, I thank you all ⭐

[2022-01-28 17:11] kindoflew commented on #1799
* agree with a smaller header
* maybe we could throw together some walkthroughs/guides for more common or complex use-cases?
* clarification on which hooks are good fits for which use-cases (it probably depends on the project, but a nudge in the right direction could probably be helpful)
* refactor Navigation Pane:
  * have dropdowns closed by default?
  * rename outdated paths (eg, `Render Props`

[2022-01-28 17:13] Heilemann commented on #1799
+1 for clearer, simple uses cases. With all love, some of the examples are too clever by half, making it hard to clearly understand what's happening.

[2022-01-28 18:42] krispya opened #1826 "[feat]: Create an animation abstraction for spring and gesture"
### A clear and concise description of what the feature is

I think we should explore creating an abstraction for use-spring and use-gesture in the same vein as [Framer Motion](https://www.framer.com/docs/introduction/). The goal of the abstraction would be to have a set of components and hooks that cover a higher order of intention. Not so much "I want to use this gesture" and "I want to have thi

[2022-01-28 19:05] joshuaellis commented on #1826
I like the idea, it'd be interesting to see if @dbismut has any thoughts on this. 👍🏼

[2022-01-28 20:09] dbismut commented on #1826
It's an interesting proposition. I'm not exactly sure how this would work technically but happy to help on the gesture part!

[2022-01-28 23:22] krispya commented on #1826
Here is a naive attempt an implementing a Motion component: https://codesandbox.io/s/eager-monad-kqnyl?file=/src/App.js

I wasn't sure how to set a rest state dynamically when useSpring requires default values up front. I thought it would be helpful to be able to specify values that I expect to change but not necessarily their starting values, which I would set later once the DOM computes them.

A

[2022-01-29 01:25] varunarora commented on #1799
Hi Joshua,

I have spent the last two and a half days trying to make react-spring work for my needs. I am really struggling. Like seriously struggling.

I shouldn't be struggling at all. I was among the earliest adopters of React. I have been doing JavaScript stuff for at least 13 years. Things like anime and Motion were a breeze for me.

My biggest fear in writing this comment is it will hurt you

[2022-01-29 11:37] y1n0 commented on #1799
I think it is a little confusing design-wise. whenever I land on the website, I go directly to the first button thinking it would take to a "get started" or some (basics) guide, but instead it take the github discussion page. I think those three CTAs in the hero should be: Get Started, API, and Community or Source if you like.
Also the guides section does not have a starter guide, like a guide to

[2022-01-29 11:49] joshuaellis commented on #1810
Hey all,

Sorry I only had time to get to this now, I appreciate this is a pretty high priority bug.

I've released `9.4.3-beta.0` which I believe fixes the issue, if anyone is able to test it and let me know, then I can release it as stable quicker.

Thanks again for the patience.

[2022-01-29 13:17] dragomalefoy commented on #1799
**Notes on this input:**

- Demos are mentioned in the beginning of the issue as a wanted feature, I wrote this to highlight the importance of visual examples and clarity.
- This is not a petty-user-complaint, but a suggestion to make information more accessible to
            1.  neurodivergent devs/coders/readers struggling with subtext/guessing
            2. fairly new devs/coders/reactlovers

[2022-01-30 02:55] jamesknelson opened #1828 "[bug]: useTransition breaks in <StrictMode> with React 18"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

react-spring 9.4.2 (also tested with 9.4.3-beta.0 and 9.3.3)

### What's Wrong?

**tl;dr, changes to how `<StrictMode>` work in React 18 seem to have broken `useTrans

[2022-01-30 14:37] thexpand commented on #1810
@joshuaellis Hey there. Since there aren't many improvements that I can directly benefit from the new version, I can deal with having an older version of `react-spring` installed. Anyways, I tested with both @neolectron 's example and mine, but sadly the issue still seems to be there, even with `9.4.3-beta.0`.

[2022-01-30 15:07] joshuaellis commented on #1810
Shit, thanks for checking @thexpand, I just realised a bad merge into the beta branch myself, included my fix but didn't remove the bad code! I'll launch another beta now & check with those two sandboxes.

I should have checked the merge better, my bad.

[2022-01-30 15:10] joshuaellis commented on #1810
Yep, that has correctly resolved the issue:

- https://codesandbox.io/s/animated-email-button-forked-g6ofl?file=/src/EmailInput.jsx
- https://codesandbox.io/s/react-spring-bug-9-4-0-forked-9sqh1?file=/src/App.js

Thanks again both for bringing this to my attention.

[2022-01-31 11:44] thexpand commented on #1810
@joshuaellis No worries :) Thanks. Now it works on both CodeSandbox examples.

I also decided to make a test in a real-world scenario, so I installed `9.4.3-beta.1` in the project that I've been experiencing issues with. I have 2 places where I was using `useTrail` - one without it being dependent on the local state, and another one - just exactly like the example in CodeSandbox. So far it seems t

[2022-02-01 17:06] anasaijaz commented on #1794
Hi I am new to open source can you please tell me how can I contribute

[2022-02-01 17:46] joshuaellis commented on #1794
@anasaijaz, the easiest way to contribute would be to look at an open issue we have that you feel like you could tackle, then fork our repo, check out `CONTRIBUTING.md` and when you're ready with your solution, create a PR and fill out all the details so I can take a look & we can discuss the PR (if required).

We also have a discord (link in the readme) FYI, for typically quicker communication.

[2022-02-02 07:50] looeee commented on #1707
I'm running into this issue as well. Here's a simple workaround:

[code]

This is reasonably - to be fair I was surprised to find that react spring automatically invalidate the R3F loop. I wouldn't expect it to.

However, the docs do need to be updated if this is incorrect.

[2022-02-02 08:02] joshuaellis commented on #1707
Thanks @looeee

I believe someone submitted a PR for this yesterday.

Thanks for the pointer as well. To anyone interested i've updated this sandbox with the workaround – https://codesandbox.io/s/react-spring-animations-forked-tmnpk?file=/src/index.js

I also think this might be the best solution as we ootb support XR and WebGL three.js renderers, and _if_ someone wants to go down the manual route

[2022-02-03 16:34] marceloavf commented on #1586
Did you manage to suppress the console warn?
It works for me, but it's being hard to watch the console.

[2022-02-05 06:37] krispya commented on #1803
This came up again. In other cases I tried using useSprings, which while it is less convenient is technically correct. However, when using useTransition not having the ability to set config per property makes it impossible to do more complex motion design.

[2022-02-05 15:04] joshuaellis commented on #1803
It's an interesting concept. Considering the values we use are passed to the SpringValue class, in theory it's not too far fetched to implement...

I'll put it on my radar 👌🏻

[2022-02-05 17:45] quebits opened #1829 "[bug]: Several rAF calls per one frame"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.2

### What's Wrong?

When using animation with conditional switching between `immediate` states it's looks like some kind of race condition happens. It cause ine

[2022-02-05 19:29] joshuaellis commented on #1829
Hi there, thanks for the report.

Your sandbox provided is a little complicated and doesn't really show the bug very clearly:

This should be made immediately apparent in your sandbox e.g by logging to the console. Therefore, please look at revisiting your sandbox to boil it down to it's most simplest form showing the issue.

[2022-02-05 23:53] quebits commented on #1829
here simplified sandbox: https://codesandbox.io/s/react-spring-9-4-drag-momentum-32ydg?file=/src/App.tsx

Try to drag with 9.4.2. You'll see something like this in console:
![image](https://user-images.githubusercontent.com/636070/152662781-9836494c-9750-4475-8be4-424224cd128e.png)

There is a pairs of onChange events which happens in one frame. Look at elapsed time.

Also try 9.3.2 for comparison

[2022-02-10 08:11] remiremi opened #1831 "[bug]: Browser freeze with prop change in nested animations"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.2

### What's Wrong?

I have an animated loop rotating a container, contained in an animated loop moving the container.

The animation sometimes randomly freezes

[2022-02-10 13:40] marceloavf commented on #1586
I'm having a bug now that the Global.assign dont have any effect when theres multiple springs on the same page as the three fiber component, so it stops working when navigating between pages 😢

[2022-02-12 13:00] #1810 closed

[2022-02-15 20:59] bronsonavila commented on #1799
I always forget where the [Shorthand style props](https://react-spring.io/basics#shorthand-style-props) are. It seems like something that should be under [API  > Common > Props](https://react-spring.io/common/props), but it's only under [Basics](https://react-spring.io/basics).

Also, it's really a pain seeing the full-page hero every time I change pages in the documentation. Users are basically f

[2022-02-18 10:49] talentlessguy opened #1842 "[bug]: Image with transitioning attributes disappears from DOM after 10-15 seconds"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.3

### What's Wrong?

Animated element (`img` in this case) dissapears after 10-15 seconds of looped animation.

### To Reproduce

Code:

[code]

### Expected Beh

[2022-02-18 11:09] Emiliano-Bucci opened #1843 "Decay seems not working anymore"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.3

### What's Wrong?

It seems that `decay` property isn't working

### To Reproduce

https://codesandbox.io/s/react-spring-preset-configs-forked-me36vi?file=/src

[2022-02-19 16:03] samronning opened #1844 "[bug]: Rotate Loop Speeding up on Android"
Edit: Added Repo, fixed link to video
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.4.2

### What's Wrong?

On Android Chrome, I noticed the rotate looping seems to continually speed up and eventually become r

[2022-02-20 14:05] joshuaellis commented on #1844
Hi there, can you please provide a sandbox that demonstrates the bug not on a visual level but also a logging level so we can accurately look at it?

Also the video you've supplied doesn't seem to work.

[2022-02-21 15:32] samronning commented on #1844
Added the repo and fixed the video

[2022-02-25 08:42] ClishWang commented on #1831
I have the same problem，when the "document.hidden = true" animations will blocked. countdown behavior to be confused.

[2022-02-26 16:45] WillowP opened #1850 "[feat]: Add example with dynamic transitions to `useTransition` documentation"
### A clear and concise description of what the feature is

I'm considering submitting a PR (wondering if it would be welcome before I put the work in) to add an example to the `useTransition` documentation that would answer[ this Stack Overflow question](https://stackoverflow.com/questions/71255832/react-spring-change-animation-direction-based-on-next-component-index).

It's my question and I see

[2022-03-01 01:33] TszHong0411 opened #1852 "[bug]: Type error: ';' expected."
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.3 / 10.0.0-alpha.1

### What's Wrong?

When I build my next.js project, it failed to compile.
I tried the 9.4.3 and 10.0.0-alpha.1 versions. Also get this error.

[2022-03-01 05:15] #1852 closed

[2022-03-02 20:40] cognivore commented on #1799
https://github.com/pmndrs/react-spring/blob/3b4719e26bd5d8c2137dc0be2c357c6cd2420d3f/docs/src/components/CodeBlock/reactLiveScope.tsx#L101

@jankalfus not sure how this stuff is generated, because surely it is, but that's a thread for you to unwind and find how it works.

[2022-03-03 14:57] LaxmanDeadpool commented on #1799
Please provide example for 'springContext'.
thanks

[2022-03-03 16:24] cognivore commented on #1799
@jankalfus if you're interested, here's a somewhat commented version of transition array: https://github.com/doma-engineering/react-spring-exploration/blob/main/src/TransitionArray.tsx#L14

[2022-03-04 18:58] cognivore commented on #1799
I've learned a lot more about the library by reading source code, etc.
Summary is in this C4 commit: https://github.com/doma-engineering/react-spring-exploration/commit/a8fdc558ce0bd4d6a7d53e3377771d6a237defa3

[2022-03-07 12:30] eden-lane commented on #1179
Still an issue for me in 9.4.1.
Wrapping in divs helped

[2022-03-07 18:18] tim-soft opened #1855 "[bug]: beta versions of @react-spring/*** packages getting installed in the latest stable release"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.4.2

### What's Wrong?

the latest `@react-spring/web` package appears to depend on unreleased beta packages

from my `yarn.lock`
![Screenshot 2022-03-07 111051](h

[2022-03-08 13:16] prasad-pul commented on #1799
I just started exploring the package, amazing project!! Kudos to the team.

One thing I noticed is there is no "Search Bar" (indexing??) to easily navigate to documentation of a particular topic / keyword.

For example I was looking up documentation for "Props" (https://react-spring.io/common/props) and this is the first Code snippet:
`useSpring({ from: { ... }, to: { ... }, delay: 100, onRest: ()

[2022-03-09 18:08] raarts commented on #1799
Have been searching for an hour on how to make a slide-in toaster box, wait 3 seconds, and have it slide out, and then stop. How to stop animation?

I'd like to echo other people's concerns about the page-filling header, please lose that header.
And another problem I see, if with the examples you get too deep too fast. Take the reader by the hand, don't confuse them with non-relevant code showing

[2022-03-09 18:21] alexwidua commented on #1725
Not sure if it's a bug or intented, but to anyone running into the same 'problem':
Instead of trying to use `api.set(...)`, return an `immediate: true` prop value in addition to your spring values.

ex.
`api.start((i) => {
	// const x = ...
	return { x, immediate: true }
})`

[2022-03-11 10:41] joshuaellis commented on #1855
Thank you for raising this @tim-soft! looks like there was a small issue in the `changesets` config, now resolved. `9.4.4` has the correctly set deps.

[2022-03-11 10:41] #1855 closed

[2022-03-11 13:37] joshuaellis opened #1860 "[bug]: Animation works on Web, but crashes on iOS"
### Discussed in https://github.com/pmndrs/react-spring/discussions/1859

<div type='discussions-op-text'>

<sup>Originally posted by **raarts** March 11, 2022</sup>
Here's my codesandbox: https://codesandbox.io/s/toasters-independent-animation-ikp8e5?file=/src/App.tsx

This code runs fine on react native web. But on iOS it results in the following error.

https://user-images.githubusercontent.com

[2022-03-11 13:38] joshuaellis commented on #1860
In the mean time you could do a custom interpolation, can you share a small snippet of the spring and the element please?

[2022-03-11 14:45] tim-soft commented on #1855
@joshuaellis thank you!

[2022-03-11 15:03] raarts commented on #1860
Joshua, thank you for your assistance, I have to admit I am an absolute beginner in animations. I'm note sure what you're asking me to do. Can you please explain? All code is in the sandbox, but maybe I misunderstand.

[2022-03-11 15:17] joshuaellis commented on #1860
So currently you're just passing the styles like so:

[code]

instead you can do a "custom interpolation" like this:

[code]

Where instead of what i've done with `translate3D....` and checking out [this example](https://reactnative.dev/docs/transforms#example) you could instead write it like `props.x.to(val => [{translateX: val}])`

You can see the interpolation in action here: https://codesandbo

[2022-03-11 16:56] raarts commented on #1860
I see what you mean, and I have tried using translateX myself, but couldn't get it to work.

Your interpolation works on the web, but doesn't work on iOS:

<img width="398" alt="Schermafbeelding 2022-03-11 om 5 36 32 PM" src="https://user-images.githubusercontent.com/3168197/157909485-c33ece91-4438-4c47-a36a-b10fc200371a.png">

and typescript complains about it too:

<img width="1024" alt="Scherma

[2022-03-11 17:16] raarts commented on #1860
I wondered why transform would be typed as a string, and  - smack on the forehead - changed:

[code]

into

[code]

and the typescript error went away, but alas, more iOS errors.

Then I reverted back to:

[code]

and bingo! No more crashes!

There are some problems left though, first, is it really necessary to use different imports for web and native, because all my  code is shared between platfo

[2022-03-11 20:32] raarts commented on #1860
II haven't been able to make the slide-in working on native.
Also I have a weird Typescript error on native:

<img width="1171" alt="Schermafbeelding 2022-03-11 om 9 29 46 PM" src="https://user-images.githubusercontent.com/3168197/157958004-b72583a9-cc8e-4457-b27f-792bfa0112b1.png">

It happen if I use `import '@react-springs/native`,  which stops the app from crashing, but x animation doesn't wor

[2022-03-12 09:39] joshuaellis commented on #1860
I think you need to be using `animated(View)` where `animated` is imported from `@react-spring/native` if you're able to provide a github repo I can take a look? 😄

[2022-03-12 09:44] lensbart commented on #1577
Thanks Joshua — using `@react-spring/web` did the trick.

[2022-03-13 10:36] raarts commented on #1860
Sure, here it is: https://github.com/raarts/example-with-react-spring-1860.git

[2022-03-15 10:23] joshuaellis commented on #1826
Here's an example of a "basic carousel" spring, you can only move it left and right & it caps at 0 and the length of the scroll container. My biggest concerns are:
* is it only good in the project i'm working on?
* Should it be a component as opposed to a hook?

If it should be a component, then we're breaching into UI library territory, which i'm not sure we want to do unless we went the `radix-u

[2022-03-15 23:07] krispya commented on #1826
I do think we should be careful to separate two concerns. One is more hooks and declarative methods for building animated interactions to match the ease of use and coverage of [Framer Motion's api](https://react-spectrum.adobe.com/react-aria/useSlider.html). From this perspective, the goal is to provide tools composing common motion/interaction pairs like `whileHover` and then some of the more com

[2022-03-16 14:29] Aaron674092290 commented on #1741
I have the same problem, please take a look at my demo @joshuaellis
`https://github.com/Aaron674092290/react-antd-mobile-demo`

[2022-03-16 19:51] 21echoes opened #1861 "[bug]: React Spring cannot be installed with React 17 with strict peer dependency checking"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [X] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.4.4

### What's Wrong?

`@react-spring/konva` cannot be installed with `react@17` with strict peer dependency mode enabled.

`@react-spring/konva@9.4.4` requires `

[2022-03-16 20:47] joshuaellis commented on #1861
I've answered this a few times, I wouldn't install the general react-spring package, instead install the targets you want specifically e.g. @react-spring/web

[2022-03-16 22:02] 21echoes commented on #1861
@joshuaellis this still fails if you install the specific `konva` target. i've updated the sample repo to make this clear

[2022-03-16 22:04] joshuaellis commented on #1861
I would still be installing `@react-spring/konva` instead of `react-spring` in your case then.

[2022-03-16 22:05] 21echoes commented on #1861
yes, exactly -- in my case, i am installing `@react-spring/konva` and not `react-spring`, and it fails.

[2022-03-16 22:31] joshuaellis commented on #1861
Sorry, I thought you had updated the repo. So you're saying the peer-dep of `react` in `@react-spring/konva` is incorrect because you can't use v17+ because `react-konva` doesn't support technically support v17?

So until `react-konva` releases their version that supports 17+ we should just stick to `^16.8.0` for react?

You're welcome to submit a PR to resolve this issue.

[2022-03-17 14:20] snatvb opened #1864 "[bug]: Re-render in first render breaks useSpring hook"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.4

### What's Wrong?

When a component re-render in first render `useSpring` doesn't work.

I understand that this behavior of the component is not quite right. B

[2022-03-21 18:48] will-holley commented on #1799
+1 on Examples; I think this can also serve as an "Inspiration Gallery" i.e. a suitable starting point that sparks creativity.

[2022-03-24 12:03] gtbono commented on #299
With React Native Fabric being enabled in 0.68, will this still be necessary?

[2022-03-24 13:10] joshuaellis commented on #299
Would you be able to remind me why fabric will be so good? ☺️

[2022-03-24 17:14] kamikazebr commented on #1100
Where is the Breaking Changes Section with that update? I cannot find. I want like to know how migrate the Transitions components

[2022-03-24 20:21] gtbono commented on #299
I'm not a specialist, but AFAIK it is about bridgeless access from React to Native and vice versa

[2022-03-25 13:49] olholm commented on #1461
Are there other workarounds than the `useState` one? I am interpolating a number and outputting with danish currency locale, meaning that 1500 should render as "1.500 kr.", but instead any render after the transition is done, the animated elements outputs "1.5 kr", which is obviously not good when presenting cost :)

In case my description above is poor, I have created [an example here](https://co

[2022-03-25 16:20] davbrito commented on #1861
Hi. I'm having then same issue.

[2022-03-25 18:32] davbrito commented on #1861
I think actually `react-konva` does support react v17 in the stable channel. But they use a weird version schema that npm seems to not understand very well (at the moment the latest version is [17.0.2-6](https://www.npmjs.com/package/react-konva), note it's not beta nor alpha nor rc).

Then I don't know what would be the actual solution to the problem. Sticking to `^16.8.0` for react would be more

[2022-03-29 17:34] dannobytes commented on #1799
Apologies if this may have been stated in previous comments, but I do have two minor gripes and suggestions:

1. When navigating between different doc pages, the giant (above-the-fold) hero banner section is quite unnecessary for each section. When navigating to a different page, your page jumps back to the top and the banner looks exactly the same everywhere. So it appears like you've not navigat

[2022-04-03 12:16] mustafaabobakr commented on #1563
Tried
[code]
[code]

But useSpring still not working with simple opacity animation
[code]

[2022-04-03 13:10] joshuaellis commented on #1563
Feel free to submit a code sandbox, but unfortunately I've been unwell so haven't had enough time to commit to investigating react18 comparability.

Will hopefully be looking at some of the issues over the next week.

[2022-04-03 13:41] simlmx commented on #476
I use it throughout  my online board game website! Try a game of Bloco against a few bots to see it in action.

https://lefun.fun/

https://user-images.githubusercontent.com/1105380/161430774-1aa6d848-9d35-41b8-afa7-176280d84f05.mov

This is also using [use-gesture][1].

[1]: https://github.com/pmndrs/use-gesture

[2022-04-03 21:30] uelibaumgartner commented on #1725
@alexwidua I have the same issue... unfortunately if I use` api.start` I guet a weird glitch where I see one frame of the element moving, which I don't get with `api.set`.

Would be great if some one could implement the missing piece of the api

[2022-04-04 00:21] nicholaschiang commented on #1563
Get better soon @joshuaellis, sorry to hear that.

[2022-04-04 00:47] mustafaabobakr commented on #1563
Get well @joshuaellis ❤

[2022-04-07 11:56] joshuaellis commented on #1563
I've checked this out as it's a precursor to solving the transitions bug, i've released a new alpha – `v9.4.5-beta.0` for people to try! I've decided not to follow through with renaming `useTransition` for now, so this isn't considered a breaking change release.

Please let me know if you experience any other issues (beside the transitions).

[2022-04-07 14:26] peeke opened #1868 "[bug]: exitBeforeEnter in useTransition doesn't work when used with trail"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.2

### What's Wrong?

When using `useTransition` with both the `trail` and `exitBeforeEnter` option set, the spring freezes after the leave transitions are done.

[2022-04-08 12:37] orta commented on #1799
We got a site shipped which skips the header on site navigation I've used these docs quite a bit now, and they're good docs - it's nice work.

When I think about how to structure docs sites (I wrote the sites/docs for TypeScript, CocoaPods  and Danger) I try to have three major sections + a REPL:

 - A walk through of the whole thing (TypeScript's handbook)
 - A set of reference documents which de

[2022-04-14 21:13] joshuaellis commented on #1828
I've just released `9.4.5-beta.1` that should address this issue, please give it a go and let me know if it solves your issue.

[2022-04-14 21:13] joshuaellis commented on #1563
A new beta has been released addressing #1828, `9.4.5-beta.1`

[2022-04-15 00:22] jafin commented on #1828
@joshuaellis `beta.1` worked here with React 18 strictmode. Thank you!

[2022-04-15 05:58] morlay commented on #1828
@joshuaellis With `9.4.5-beta.1`, everything works again 🥳 . Thank you!

[2022-04-15 11:12] mrpbennett commented on #1563
I am not sure if this is a React 18 issue but I have tried Next JS and Vite projects I can't seem to even use `react-spring`

I keep getting

[code]

[code]

[code]

Was simply trying to play with the parallax effect. But this happens with any React 18 project.

[2022-04-15 15:48] ryan-williams commented on #1579
I was confused by this as well. From what I can tell, `onStart` does the thing I want (fires when delay ends and movement begins).

If that's true, would be good to update the docs.

If it's not, clarifications/corrections welcome!

[2022-04-15 17:52] hipstersmoothie commented on #1581
Seeing this as well. @aleclarson Could you re-open this issue?

[2022-04-15 18:09] przemekbroda opened #1870 "[bug]: calling useSpring causes "Uncaught Invariant Violation: Invalid hook call. Hooks can only be called inside of the body of a function component" error"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.4

### What's Wrong?

When I try to use useSpring hook, the app breaks and console shows an error:
Uncaught Invariant Violation: Invalid hook call. Hooks can only

[2022-04-16 05:19] minaelee commented on #1870
Can confirm - I am experiencing the exact same issue since React 18.

[2022-04-16 10:40] przemekbroda commented on #1870
@minaelee  It looks like react spring version 9.4.5-beta.1 does not have that issue in React 18

[2022-04-17 02:43] fortressia commented on #1563
@mrpbennett Hii. Have you got `@react-spring/parallax` installed? I don't know if it's supposed to be installed by default, but you can try installing it if you haven't already.

[2022-04-17 10:17] mrpbennett commented on #1563
I have just tried.

[code]

Is the command correct here?

[2022-04-17 13:43] OleksiiKachan commented on #1563
@mrpbennett I belive you need to specify beta version . try `npm i @react-spring/parallax@9.4.5-beta.1`

[2022-04-17 15:05] mrpbennett commented on #1563
Ok great I'll give that a go and report back.

[2022-04-19 03:38] fortressia commented on #1563
Actually... you didn't missed anything in the docs.

 You missed [this comment](https://github.com/pmndrs/react-spring/issues/1563#issuecomment-1099626939). 😅

😙

[2022-04-19 03:44] fortressia commented on #1563
I reckon the docs tell you to import from `@parallax-layer/parallax`, and it's not a dependency of `@parallax-layer/web`, it seems.

Also, that beta version didn't fixed your issue, but it's better to use that version instead if you're using React 18, since it fixed a bug with it.

[2022-04-20 01:19] SynthEater commented on #1181
did you find an answer?

[2022-04-23 13:08] HQ92 commented on #1628
Is this feature still being planned? It would be very useful and would stop people from having to roll their own FLIP implementation to replicate this if they want to use react-spring for animations over Framer Motion

[2022-04-24 09:57] mrgnou commented on #1563
I tested it with react 18 on production and it seems to work as expected so far.

[2022-04-24 10:14] joshuaellis commented on #1563
Great news, #1875 is open, but parallax seems to be failing so I need to investigate into this further.

[2022-04-25 10:22] cangSDARM commented on #1579
Similar question. I saw an `onResolve` method on the type definition, but there is absolutely nothing about it in the official website documentation?

[2022-04-25 18:36] javierfuentesm commented on #555
@kwrush  this was working fine but now it is failing im getting this :
<img width="769" alt="image" src="https://user-images.githubusercontent.com/19244527/165152559-1fd84e40-8684-4142-9a20-3d2f1d007dc7.png">
any ideas?

[2022-04-26 20:37] chinalantern commented on #1870
Experiencing the same issue here as well.

[2022-04-27 09:37] chinalantern commented on #1870
Confirmed, the beta solves the issue for me.

[2022-04-27 20:30] millsjoe opened #1879 "[bug]: Parallax/Parallax Layers silently fails using Next.js"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.4.4

### What's Wrong?

When using `{ Parallax, ParallaxLayer }` in a Next.js (v12.1.5) it runs fine in development but in production does not render anything with

[2022-04-27 20:55] joshuaellis commented on #1879
Can you let us know what version of react and react-dom you're using please?

[2022-04-27 20:57] millsjoe commented on #1879
[code]

Not sure if I'm using Next wrong and theres some magic behind the scenes they dont like with Parallax but its got me stumped

[2022-04-28 05:32] joshuaellis commented on #1879
Only the latest beta of spring supports React18 but even then our e2e tests are failing for parallax, so it still may not work as intended.

[2022-04-28 08:09] millsjoe commented on #1879
Thanks for the heads up, I'll drop to React17 and give that a try. Or is there a version you'd recommend using?

[2022-04-28 09:00] joshuaellis commented on #1879
If you're not using `strictMode` then I think `9.4.5-beta.1` should work for you with react18.

[2022-04-28 09:20] millsjoe commented on #1879
Hmmm, still seem to be having the same issue when using `9.4.5-beta.1` or using React `17.0.2`. So I must be doing something wrong with Next maybe? Possibly the pre-rendering stuff not playing nice?

Is there any reason I'd need to import it a different way, such as:

[code]

[2022-04-28 09:42] millsjoe commented on #1879
Scratch that, I needed to clean my node_modules 😓 That's done the trick, thanks @joshuaellis !

[2022-04-28 12:49] alimoeeny commented on #1799
Please put a big link to demos (or examples) at the top of the landing page,
I don't know about others, but the first thing I want from a library is to see what it can do in action,
this is the link https://react-spring.io/hooks/use-spring#demos right?

[2022-04-28 18:19] iamzapata commented on #1799
These doc sites are good examples of good documentation:

- https://nextjs.org/docs
- https://vitejs.dev/guide/
- https://vuejs.org/guide/
- https://vitest.dev/guide/

[2022-04-29 01:44] JS-GitRepo commented on #1799
As someone relatively new to programming, I would LOVE if there were an implementation tutorial on using react-spring in react more holistically, rather than just completely isolated examples. Not necessarily a documentation issue for experienced devs, but for noobs like myself. Usually this is the space of youtube to cover, but I find tutorial content fairly sparse. Regardless, thank you greatly

[2022-04-29 04:12] iamzapata commented on #1799
Things they have in common that I find that make the reading a better experience:

- font-size: larger
- line-height: larger
- content width: more narrow
- you know where you are within the documentation. Every content header has a section on the left, or on the right
- the content is easy to read / follow
- things are easy to find

[divio documentation](https://documentation.divio.com) has a nice

[2022-04-29 08:41] ngoc199 opened #1880 "[bug]: Loop animation not start until state changes"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.4

### What's Wrong?

The loop animation does not start automatically on page reload until the state changes. The infinite loop animation does not depend on any s

[2022-04-29 08:48] joshuaellis commented on #1880
This is actually an issue with `react18` in strictmode. see other issues and the PR for more details.

Upgrading to `9.4.5-beta.1` should solve this issue for you.

[2022-04-30 20:35] petrusek opened #1882 "[bug]: useSpring with `loop = true` and `immediate = true` can lead to memory leak"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [X] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.4

### What's Wrong?

I wanted to make an animation loop that would turn on after some time (_pulse the next button after 30 seconds_), so I've used this setup:
[

[2022-04-30 20:39] petrusek commented on #1882
Sorry, I forgot to attach a memory sample from my app... it is just a few seconds after it starts leaking.

![allocation-sample](https://user-images.githubusercontent.com/2182715/166121841-02a4f7c6-da6b-4aa9-914d-e75723cc59b9.png)

[2022-05-01 08:06] christopherjbaker commented on #1515
For anybody else running into this issue with react-three-fiber (@looeee), I was having this issue because I hadn't installed the types for threejs. Installing `@types/three` fixed everything. Here's the relevant parts of my `npm ls`:

[code]

[2022-05-02 11:02] nocsg opened #1883 "[bug]: ./node_modules/@react-spring/types/interpolation.d.ts:11:8 Type error: ';' expected."
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.4.4

### What's Wrong?

Failed to compile.
--
16:24:03.871 |  
16:24:03.872 | ./node_modules/@react-spring/types/interpolation.d.ts:11:8
16:24:03.872 | Type error:

[2022-05-02 12:02] joshuaellis commented on #1883
Please provide a reproduction of the issue otherwise the issue will be closed.

[2022-05-02 12:05] nocsg commented on #1883
[code]
run `yarn build` will repoduct the issue

[2022-05-02 12:13] joshuaellis commented on #1883
That won't compile because the other parts (like imports) aren't there. People normally use codesandbox or provide an actual github repo.

[2022-05-02 17:52] stnwk commented on #1883
This bug happens because `In` and `Out` have become reserved keywords in TypeScript `4.7.0 (beta)` onwards, see https://devblogs.microsoft.com/typescript/announcing-typescript-4-7-beta/#optional-variance-annotations-for-type-parameters

[2022-05-02 19:52] Amir-Latif opened #1884 "[bug]: Animation hangs and gets stuck"
### Which react-spring target are you using?

- [x] `@react-spring/web`

### What version of react-spring are you using?

9.4.4

### What's Wrong?

I am using this simple animation and it gets stuck at opacity 0.966666

[code]

[2022-05-02 21:27] joshuaellis commented on #1883
Thanks for letting me know, I can take a look at this as part of the r18 PR i've got open.

[2022-05-02 21:28] joshuaellis commented on #1884
Please provide a reproduction of the issue (preferably a codesandbox)

[2022-05-02 21:57] joshuaellis commented on #1883
i've released a new beta, `9.4.5-beta.2` that hopefully addresses this issue.

[2022-05-04 14:52] nocsg commented on #1883
Thank you! branch `9.4.5-beat.2` fixed this bug.

[2022-05-04 14:52] #1883 closed

[2022-05-04 15:29] #1870 closed

[2022-05-04 18:35] lavrton commented on #1861
Yes. The last stable version for `react@17` is `17.0.2-6`

Yes, it is weird. I decided to use it to follow `react` and `react-dom` version with ability to have our own subversion.  But I was not aware that `npm` doesn't understand it well (or I misunderstand it).  I will need to rethink the approach.

`"^16.8.0 || ^17.0.0 || ^17.0.2-4"` - I think that should work just fine.

[2022-05-04 21:06] joshuaellis commented on #1861
Lets take this instance `^16.8.0 || ^17.0.0 || ^17.0.1-0`, this is difficult because it does not include versions `17.0.2-0` and above, even though it would normally if there were no `-X`. So whilst the suggestion _will_ work, I'd actually have to currently write:

[code]

to successfully capture all the versions that have been published... see below:

<img width="1800" alt="image" src="https://us

[2022-05-05 19:22] joshuaellis commented on #1790
This has been resolved by our latest version `v9.4.5`

[2022-05-05 19:22] #1790 closed

[2022-05-06 13:03] Camsteack opened #1887 "[bug]: useTransition stuck in loop when not using an empty array"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

Hi, so I don't know if it's a bug or if I am doing something wrong but I cannot get useTransition to work properly if I am animating between

[2022-05-06 13:19] joshuaellis commented on #1887
If you add the `key` prop to the `useTransition` props then I believe it fixes the issue:

[code]

[2022-05-06 14:48] Camsteack commented on #1887
It does indeed work ! Thanks a lot @joshuaellis !
I still struggle to understand why, would anyone be able to clarify, cause ready the documentation it says:
[code]
Which is why it did not occur to me

Cheers

[2022-05-06 15:24] #1887 closed, assigned to nobody

[2022-05-06 18:34] kalmanh commented on #1563
Just did a quick video on doing a slide-in animated effect in React18 with react-spring. Works like a charm using the beta version - https://www.youtube.com/watch?v=pyO7p-zexSQ&t=1s

[2022-05-06 19:44] joshuaellis commented on #1563
V9.4.5 is the stable version to support react18 now 👌🏻

[2022-05-07 12:00] Flo2410 opened #1889 "[bug]: useSpring not working with Next.js"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [X] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

The useSpring animation is not working, and I'm getting the following warning in the browser console:
[code]

### To Reproduce

I'm using Ne

[2022-05-07 12:01] uguremirmustafa commented on #1799
One thing that I find annoying is that popup showing up on any page change. Please remove it 🙏

[2022-05-07 12:26] Flo2410 commented on #1889
Okay… For the example on Codesandbox I just copied the dependencies from my project. I just began cleaning up unused dependencies as I noticed that the example is working. Turns out removing @react-three/drei (v9.6.2) made it work. (Drei is not needed for the example, but I use it in my project where I got the package.json from, and initially found this bug?!) What's weird tough, is that even afte

[2022-05-09 09:02] Camsteack commented on #1868
Hi ! Are there any update on this issue ? It becomes quite difficult to animate simple list filtering with `useTransition` as when using just `exitBeforeEnter` there is a big delay between the unmount of the previous components and the enter transition of the new ones and I can't seem to be able to change that.

Thanks !

[2022-05-09 13:33] joshuaellis commented on #1889
I would actually report this error in `drei`, I don't believe this is an issue with `@react-spring`

[2022-05-09 22:11] billyjanitsch opened #1890 "[bug]: React 18 StrictMode logic seems incorrect"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

This comment (and the associated behavior) introduced in https://github.com/pmndrs/react-spring/pull/1875 doesn't seem correct:

https://git

[2022-05-10 06:19] kiku19 commented on #521
Hey, did u find any solution for this?

[2022-05-10 09:32] joshuaellis commented on #1890
Hi @billyjanitsch, I'd have to see a working reproduction of the issue you're facing to investigate this thoroughly, I saw no issues in our test suite or our demos that we have.

[2022-05-10 16:15] billyjanitsch commented on #1890
@joshuaellis does https://github.com/pmndrs/react-spring/pull/1891 help? It's a PR that throws in the block that the comment claims will only run in `StrictMode`. This shouldn't break any of the tests, because `StrictMode` is not enabled there, but in fact it breaks most of them. It also breaks the demos, etc. with `StrictMode` disabled. This shows the contradiction between the comment and the beh

[2022-05-10 17:31] joshuaellis commented on #1890
Okay so it sounds like you've taken my comments very literally and it turns out they probably could have been better written.

[code]

The code above _should_ only make an impact when called in `StrictMode` you can't not have something run because `StrictMode` is on / off... So what i'm trying to deduce is what your issue is, how above is complicit in your issue so we can understand the problem an

[2022-05-10 18:49] billyjanitsch commented on #1890
Yeah, I totally understand that it will be easier to diagnose with a user-facing failure. I'm working on it. 🙂 The internal failing tests are several layers of abstraction deep and I'm having trouble reproducing in simpler scenarios. I'll update when I can isolate it to a simple, runnable example.

(Roughly, the problems seem to occur in something like the following pattern: `useTransition([true])

[2022-05-11 03:29] AlulaLeak commented on #1799
Please please please add a search bar. If not, atleast put everything on one page so we can use cmd+F.  It's a fustrating guessing game to find anything. No disrespect, just my honest, fustrated opinion. Thanks.

[2022-05-11 07:59] ChezFre commented on #1799
Spring animations are like a holy grail for me. When I got my first iPhone I was mesmerised by being able to switch between screens with a fluid animation, or step-by-step by slowly sliding my finger across the screen. So when I first heard about react-spring I was obviously excited, but it's been a couple of years now and I still haven't grasped it.

The docs seem simple enough at first glance, a

[2022-05-12 08:32] saseungmin commented on #1890
I have the same issue.

React ^v18.1.0
Next.js ^v12.1.6
react-spring ^v9.4.4

[code]

When using the reactStrictMode property as true, an unexpected animation action occurred in the dev environment.
when the reactStrictMode attribute was removed, animation worked normally.

here is example

`reactStrictMode: true`

https://user-images.githubusercontent.com/60910665/168027524-38c3b0d4-479c-4262-825

[2022-05-12 08:54] joshuaellis commented on #1890
@saseungmin you're using the non-working version of react-spring with react@18. You need to use 9.4.5

[2022-05-12 09:08] saseungmin commented on #1890
@joshuaellis
Thanks! It works after update.

[2022-05-12 11:00] Aniganesh commented on #1799
I was trying to use the `useTransition` hook and what I found difficult was that there is no types for any of the params it takes.
The following are questions that I would like answers to on the API page:
What is the shape of the object it needs?
What do the properties in the object do?
Maybe these are already documented somewhere but I have no way of knowing about them.

[2022-05-12 17:46] mjcampagna commented on #1654
I wonder whether this might be related to the issue I'm having.

I've built a few different iterations of modals, using a context and provider. Modals are in an array, allowing multiple modals to be opened simultaneously.

In the provider, I `useTransition` the modals array to mount/unmount modals using an opacity fade. This works great.

Nested within the transitioned components, the modals cards

[2022-05-16 17:05] pcdependency opened #1893 "[bug]:"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

@react-spring/web

### What's Wrong?

Following the documentation, you cannot import Parallax components:

As shown in these videos: https://imgur.com/a/iclSSlb

###

[2022-05-16 17:12] joshuaellis commented on #1893
That image doesn't load for me? Can you point me to the issue in the documentation & perhaps supply a code sandbox?

Thanks!

[2022-05-16 17:27] pcdependency commented on #1893
Never mind, I found that all you need to install the @react-spring/parallax package manually because it isn't included in @react-spring/web or react-spring install.

[2022-05-16 21:55] jacinyan commented on #1367
Hi, @cbmcruz , thanks for your solutions.
Just curious tho, regarding `useChain`, well, probably along with the `useSpring` signature with dependencies, why would there be very little detail in the docs?

[2022-05-17 07:04] Deaponn opened #1895 "[bug]: ParallaxLayer offset not working as intended when using speed other than 0"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

When using ParallaxLayer, the offset property does not work when speed is set to any other value than 0, leaving blank spaces with height of

[2022-05-17 13:24] kindoflew commented on #1895
hi!

this *is* working as intended:

the `offset` prop on a `ParallaxLayer` is where it will end up when scrolled to that offset -- ie, if your `ParallaxLayer` has `offset={1}`, it will take up the entire viewport when you scroll the `Parallax` component to the second page (zero-indexed, so the second page is index `1`).

The `rate` prop will affect the starting position of the `ParallaxLayer` --

[2022-05-17 19:41] Deaponn commented on #1895
Hello,
Thanks for help and the explanation,
Sorry for the confusion, I thought about the offset the wrong way
Cheers!

[2022-05-17 19:41] #1895 closed

[2022-05-18 23:34] jorgenbuilder commented on #1586
I ran into this issue today, and the `Globals.assign({ frameLoop: "always", });` fix works in my case. However, it was quite difficult to spot because the issue occurs without any kind of exception or traceback. I ended up removing code all over my app until narrowing it down to this issue--not the kind of bug resolution path I prefer to follow 😆. Should we consider adding an exception or warning

[2022-05-22 06:54] narkai opened #1899 "[bug]: useTransition v9 transitioning between nested routes"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

Transitioning between routes with react-router and react-spring :

It almost works but after upgrading to 9.4.5, useTransition() misses a pa

[2022-05-22 07:02] narkai commented on #1899
It's not a bug though, maybe it's more a feature request to add the third parameter.

[2022-05-22 08:06] narkai commented on #1899
Bottom line is :

With the new api, how can we tell useTransition() to "listen" only a portion of the router "location" ?

[2022-05-22 08:42] narkai commented on #1899
Just solved it !

With useTransition() key and ref api 😀

[Nested routes CodeSandbox](useTransition) updated !

[2022-05-22 16:09] joshuaellis commented on #1899
Seems like the issue is resolved then? We can reopen if there's an issue. But I wouldn't read that documentation too much as i'm not actively updating that version. I would refer to `react-spring.io`

[2022-05-22 16:09] #1899 closed

[2022-05-23 03:27] StevenStavrakis commented on #1868
I was about to make a new issue when I saw that this is already here. Here is another CSB of the issue if it helps:

[](https://codesandbox.io/s/romantic-ptolemy-dl1xxq?file=/src/App.js)

[2022-05-24 20:53] eden-lane commented on #1725
I have the exact same problem. `set` works in code sandbox, but doesn't work in my project. I can't find the difference, everything looks the same 🤔

[2022-05-25 03:08] mitchellwarr opened #1901 "[bug]: skipAnimation isnt skipping to the end of the to array"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

When using skipAnimation, in my case due to prefer-reduce-animation being true, the animations are not skipping to the end of any to arrays.

[2022-05-25 03:09] mitchellwarr commented on #1901
Consequence of this means supporting accessibility with this repo is a hard problem. Either we cant do anything complex, or we need to support reduced motion at every step

[2022-05-25 15:05] newilu opened #1902 "[bug]: useTransition with routes causes react error if using this hook inside on of the routes component"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

when using useTransition with location for Routes component (trying to implement page transition) and inside one of the components using sam

[2022-05-25 15:06] joshuaellis commented on #1902
Please provide an actual reproduction of the issue such as a codesandbox otherwise I cannot investigate the issue.

[2022-05-25 23:58] Lorenz-N commented on #1586
It seems the issue was introduced somewhere between `@react-spring/three@^9.3.1` and `@react-spring/core@~9.4.0` until now. Using those versions (which seem to be still used by the latest `@react-three/drei` for some reason) works perfectly. The animations are working and there's no log spam by rafz.

I haven't mixed it with `@react-spring/web` yet, but I guess this issue is mainly related to the

[2022-05-26 08:48] narkai commented on #1899
Thanks @joshuaellis, yes the issue is resolved.

 Glad to see my old project working on the new version, I'll refer to the official website from now on.

[2022-05-27 12:30] phmasek commented on #1512
@joshuaellis Given your fix, is the implementation provided by @mrgnou expected to work or is there another solution for making this work?

Seems like using `useTrail` together with `useSpring` through `useChain` with timeSteps does not seem to delay the `useTrail` animation.

[2022-05-28 00:22] dominiczaq commented on #1799
I had big trouble with understanding how can I pass styles from parent component useTransition to child component. Only thing I could find in existing documentation was this: https://react-spring.io/basics#finally-tie-the-animated-values-to-your-view. This wasn't very helpful because it didn't elaborate how to pass styles and how to type it.

The second thing was that I had trouble understanding w

[2022-05-28 03:25] wkylin opened #1904 "[bug]:"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You

[2022-05-28 03:27] wkylin commented on #1904
To Reproduce:
import { Parallax, ParallaxLayer } from '@react-spring/web'
 <Parallax pages={2} style={{ top: '0', left: '0' }}>
    <ParallaxLayer offset={1} speed={2} style={{ backgroundColor: '#ff6d6d' }} />
  </Parallax>

[2022-05-28 06:34] joshuaellis commented on #1904
`ParallaxLayer` requires a child

[2022-05-28 06:34] #1904 closed

[2022-05-30 23:52] wkylin opened #1905 "[bug]:"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

import { Parallax, ParallaxLayer } from '@react-spring/web'

Element type is invalid: expected a string (for built-in components) or a class

[2022-05-31 06:58] joshuaellis commented on #1905
The repro you've supplied is a bit odd and doesn't fully illustrate the issue in a clear way, you've also omitted the title which is also confusing.

Would you be able to supply a codesandbox version please?

[2022-06-03 16:17] varunarora opened #1908 "[bug]: Imperative .start() doesn't account for delay"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.0.0

### What's Wrong?

I have a spring which should be `delay`ed when called through the imperative `.start()`. But it seems like the `delay` value gets ignored. I

[2022-06-03 16:56] joshuaellis commented on #1908
Hey, does this still happen with the latest version?

Also, please provide a codesandbox repro of the issue you're facing.

[2022-06-03 17:27] varunarora commented on #1908
Haven't tried with the latest version, Joshua. Will make a codesandbox for it.

[2022-06-05 16:22] varunarora commented on #1908
Still happens with the latest version.

Code sandbox is here: https://codesandbox.io/s/amazing-moon-kf0wop?file=/src/App.js

This might not be a bug. I may have misunderstood `.start()`. I thought it preserved the original props (not just `from` and `to`, but also things like `delay` and `config`), and merged in new props. But it seems like it will only work when I re-introduce the `delay` prop va

[2022-06-05 17:04] varunarora opened #1910 "[bug]: Decimal prop values under 1, without 0 as a prefix, don't work"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

The regex parser of the `react-spring` doesn't accurately read numbers inside a string which are under 1 and don't have a leading 0 in front

[2022-06-05 17:19] varunarora commented on #1910
Just to clarify, you may think: if he just used the shorthand `scale` prop, he might have not run into this because he would be using a native JavaScript number, and the `react-spring` wouldn't have to parse anything.

The reason it took me so long was that I am working with `scale3d`, which has three values. AND I am using interpolations, whose output ranges I think still only works with one valu

[2022-06-06 03:11] looeee opened #1911 "[bug]: config.ease throws a type error when used in a Controller, but works fine when used in useSpring"
### Which react-spring target are you using?

- [X] `react-spring`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

`config.ease` throws a type error when used in a `Controller`, but works fine when used in `useSpring`

### To Reproduce

[code]

Gives the following error:

[code]

Other `config` props that I have tried are working as expected.

![spring error](https://us

[2022-06-06 23:38] varunarora opened #1912 "[bug]: View interpolation doesn't work with some "to" variables in coming up with a final transform"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

I tried using the `to` spring "variables" named `scale3dValue` and `translate3dY` to use for interpolation to come up with a final `transfor

[2022-06-06 23:55] varunarora opened #1913 "[bug]: Shorthands don't merge with transform values"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

(You probably know this one already, so please ignore if it is on a to-do list already.)

If I want to go from one `transform` value to anot

[2022-06-07 05:39] joshuaellis commented on #1913
This isn't a bug and if I'm honest I'm not sure I would want to add this as a feature either I think it would make the API confusing.

Is there a reason you want to do it this way? It feels over complicated and hard to read.

[2022-06-07 06:46] joshuaellis commented on #1902
closing due to insufficient reproduction.

[2022-06-07 06:46] #1902 closed

[2022-06-07 07:04] joshuaellis commented on #1884
closing due to insufficient reproduction.

[2022-06-07 07:04] #1884 closed

[2022-06-07 07:05] #1905 closed

[2022-06-07 08:00] joshuaellis commented on #1912
Thanks for the report! Looking at your sandbox, I think the issue is because you're passing props to `animated` component that it does not know how to handle e.g.  `scale3dValue` that are closely related to props it does handle e.g. `scale3d`.

So this is probably a misinterpretation of the parsing of shorthand props as opposed to our Interpolation functions. In the meantime you can omit spreading

[2022-06-07 15:20] varunarora commented on #1913
Thank you, Joshua!

Yes, my "to reproduce" code does feel hard to read.

So the reason I ended up running into this is because I wanted to interpolate two different transform properties separately. The shorthand prop API showed that promise. I eventually used the `to` function this way: https://codesandbox.io/s/focused-estrela-yy950s?file=/src/App.js, but not before I tried this approach.

And the

[2022-06-07 15:38] varunarora commented on #1913
Whoa! Cray cray. I'll try this with my transforms.

[2022-06-07 15:40] joshuaellis commented on #1913
If this solves your issue, please close the issue, else we can discuss further.

[2022-06-07 15:56] varunarora commented on #1913
I wouldn't say the bug is exactly I was describing it (because yes, you are right, it does capture shorthands in `from`), but have a look at what's happening here: https://codesandbox.io/s/agitated-fog-s4sio8?file=/src/App.js?

It gets messy when there are multiple things to be transformed. After the animation ends, the `transform` resets.

[2022-06-08 04:47] perrin4869 commented on #1700
OK, finally sat down to dive into this issue. I could fix it by wrapping `api.start` in `useLayoutEffect` in the `V9` version of `react-spring`. Turns out that in `v9` calling `api.start` doesn't seem to be supported, I am not sure if this is by design or if it's documented. Feel free to close this if no action is to take place! Thanks.

[2022-06-09 12:18] joshuaellis commented on #1913
Hm weird, it doesn't reset when the scale isn't changed. There must be an issue where it sees scale has been animated to it's default setting – `1, 1, 1` in this instance if it was only that property it could set `transform: none` but we have the translate transform that it also removes... Presumably a false setting.

[2022-06-09 15:53] varunarora commented on #1913
You are right, it's only doing it with `1, 1, 1`. Lol my every guess to figure out what this bug truly was turned out to be wrong

[2022-06-09 16:08] joshuaellis commented on #1913
At least you were making some suggestions! 😄

[2022-06-09 18:19] dbarrett24 commented on #1048
I'm using the exact `Globals.assign({ skipAnimation: true })` syntax, but my useTransition which is a loading screen animation still seems to render instead of the page content I would expect to show up afterwards. When I use fakeTimers and advanceTimersByTime things work fine, thought I can't test DOM removal afterwards. 🤔

[2022-06-09 20:29] joshuaellis commented on #1048
Feel free to open a new issue on this where we can focus on your particular siturations

[2022-06-10 18:06] daralthus commented on #1707
[code]

Unfortunately it seems `react-spring/web` animations also stop when using r3f `frameloop="demand"` in a completely separate component outside the canvas. It hardly makes sense: why would I need to call invalidate, if I don't want the canvas to render a new frame??

[2022-06-11 13:29] erdzan12 opened #1914 "[bug]: Element type is invalid: expected a string when using GlitchPass Effect from react fibe"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [X] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

When trying to use `animated.glitchPass` to animate the glitchPass effect, when scrolling to fade out the error

[code]

appears.

### To Re

[2022-06-13 10:40] momesana opened #1915 "[bug]: npm warnings with react-18 due to react-konva peer dependecy"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [X] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

I use visx in a react-18 project which relies on react-spring for animations. Unfortunately installing the dependencies via npm spits out a

[2022-06-13 12:44] joshuaellis commented on #1915
Thanks for the report, this is a duplicate though so it will therefore be closed.

see – https://github.com/pmndrs/react-spring/issues/1861

[2022-06-13 12:44] #1915 closed

[2022-06-13 13:11] DanDurbaca commented on #1799
To be honest... I'm RLY disappointed by this ... I JUST cant seem to find what I need... I learned react with class components... YOU FORCE me to use functional components ... and then .. I see "somewhere" the <Spring> class popping out of nowhere ... ITS sad .. as a doc (no matter how good it may be as a showoff) ... EXAMPLES are really missing...

[2022-06-13 17:43] momesana commented on #1861
The releases where the patch-version is followed by a hyphen and a digit are  [pre-releases](https://semver.org/#spec-item-9). Supporting pre-releases of peer-dependencies should be out of scope of this project. I'd rather see a stable release like react-18 that has been out for months be properly supported without npm flooding the build logs with errors.

That's not entirely true. 16.8.2-0 is not

[2022-06-13 17:58] joshuaellis commented on #1861
Thanks for the input @momesana

But as you'd see above the maintainer of `react-konva` was actually using the hyphons as a way to keep inline with the `react` version whilst allowing a subversion for their own maintenance. Looking at the repo, they've gone back to traditional semver, so feel free to open a PR if you wish to see this resolved.

I'd recommend this tool https://semver.npmjs.com/ to c

[2022-06-14 07:29] joshuaellis commented on #1914
The error is because we're currently not looking at the custom catalogue that `react-three-fiber` has. I'm not sure if it's currently exported so i'd have to take a look at that first...

The TS error you'd probably have to solve in your own codebase assuming we were able to expose the right kind of interface to extend...

Thanks for the report!

[2022-06-14 07:32] #1707 closed

[2022-06-14 07:33] joshuaellis commented on #1586
leaving as a note to myself, the solution would probably be around how we create `hosts` in each target and how that then integrates with our `Globals`.

[2022-06-17 10:50] jackhkmatthewsBB commented on #1457
Thanks @joshuaellis , I had the same issue, `onRest: () => setState()` being called after a component was unmounted. I ended up using a ref to track if the component was mounted or not:

[code]

[2022-06-18 22:21] akramhussein commented on #1882
Seeing the same from following config:

[code]

[2022-06-22 09:26] skrat commented on #1586
I have this same issue, the moment I call `useSpring`, my console becomes full of rafz frameloop warnings. Also the animation is broken now, so I have to workaround if I want to keep the updated version. All I did to my project is this:

[code]

[2022-06-22 11:58] amcdnl commented on #1586
I also hit this today when going from:

[code]

to

[code]

[2022-06-22 12:16] skrat commented on #1586
I have the issue even with @amcdnl 's old versions, and I'm not even using `@react-spring/web`

[2022-06-24 06:39] Deja-vuuu opened #1919 "[feat]: Why not provide an end-of-animation callback"
### A clear and concise description of what the feature is

Why not provide an end-of-animation callback

### Why should this feature be included?

Why not provide an end-of-animation callback

### Please provide an example for how this would work

_No response_

[2022-06-24 06:49] joshuaellis commented on #1919
Have you seen the `onRest` callback? https://react-spring.io/common/props#events

[2022-06-25 03:19] Deja-vuuu opened #1921 "[bug]: Why do I write this animation doesn't perform properly?"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

0.7.8

### What's Wrong?

Why do I write this animation doesn't perform properly?
I'm a new student. Thank you very much。

### To Reproduce

[Why do I write this anim

[2022-06-26 10:59] Niels-IO commented on #1586
I also faced the situation that a react-spring animation outside of an r3f Canvas is not executing when a Canvas with frameloop="never" prop is present.
A way to trigger the spring animation and even to set a frame rate for the animation is to use the _advance_ method of raf like this:

[code]

[2022-06-26 15:33] chiester commented on #1799
1. Add a "Getting Started" for a quick start on how to install and the most basic working example. Make this the first thing people see.

2. Read https://diataxis.fr/ and re-work your documentation according to the four types of documentation.

[2022-06-26 16:07] joshuaellis commented on #1799
Great link! I'm actually in the middle of reading Docs for Developers, which discusses very similar practices and then a little bit more! Worth the read if anyone is interested in technical writing.

[2022-06-27 14:46] zthomas1 opened #1923 "[bug]: can We get a UMD for 9.4.5 please"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

need a umd file

### To Reproduce

need a umd file

### Expected Behaviour

need a umd file

### Link to repo

need a umd file

[2022-06-27 19:25] zthomas1 commented on #1923
poor reporting quality?  I'm not sure what else I should reasonably say.

I was able to find a 9.1.0 umd but, was unable to find one for any newer version.  Perhaps I used the incorrect reporting template but, I hope the intent was communicated.

FWIW, this was not spam and seems to be a repeated request.
Thank you for your time.

[2022-06-27 19:52] joshuaellis commented on #1923
Firstly, I would have written this as a request not a bug.

Secondly, you're just saying you want a UMD export with zero context why you want it, how it would be helpful for you etc.

That's why I closed the issue.

[2022-07-01 01:42] nz-chris commented on #1884
I will try and make a reproduction later when I'm not at work, but I can confirm I can reproduce this.
If it leave my browser tab open for long enough, it will eventually hang (sometimes it happens faster than other time).
Then, when I pause scripts, I can see in the call stack that the browser was stuck in react-spring code.

[2022-07-05 09:39] ricahardHaggioGwati commented on #1799
Overall I like the documentation and the library as a whole, I will use it in my current and future projects.

- They seem to be very little support for using Typescript with React-Spring
- The star animation is incomplete
[code]
Points is not defined.

[2022-07-07 12:45] malt03 opened #1928 "[bug]: When using useTranstion, the element corresponding to the initial value is not displayed."
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

If an array or a function that returns an array is specified for the `enter` property of `useTransition`, elements that are drawn based on `

[2022-07-07 13:55] Heilemann commented on #1799
Just another vote, again, for removing the giant header on the docs pages. It's quite frustrating.

[2022-07-07 14:20] richardHaggioGwati opened #1929 "[bug]: Draggable List"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

The useSprings documentation page includes a Draggable list demo. Within the typescript code, the DraggableList function is expecting an arr

[2022-07-07 17:03] Heilemann commented on #1799
Well I'm fairly far removed from engineering at Squarespace and am using this in a personal capacity, but I don't mind sponsoring it a bit myself actually. Probably not enough for anyone to quit their day job, but at maybe enough to get a few cups of coffee 😄

I did not try yarn, but I will now!

[2022-07-09 15:26] lojithv commented on #1870
I got the same issue in a nextjs app after installing a few packages.
The error came after installing threejs packages. Before that, I used the react-spring konva, animated and web packages without getting any errors. (all of those sub-packages are placed inside the @react-spring package). I think there were build file issues due to package version changes.

![Screenshot_14](https://user-images.gi

[2022-07-10 10:04] xiaoqiang1999 opened #1930 "[bug]: The documentation describes "using ref in a class component" incorrectly"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

Documentation is inconsistent with the API.
I don't know how to use ref in class component.

### To Reproduce

![屏幕截图 2022-07-10 174616](htt

[2022-07-11 12:16] joshuaellis commented on #1799
Hi Everyone,

Thank you again to everyone who's given feedback. I'm very happy to share the initial beta of the new docs site – https://beta.react-spring.dev/

As you'll no doubtably see, it is a WIP & I will be adding more documentation over the coming weeks most likely focussing on our component APIs (useTransition, useChain etc.). I think for now until the documentation is complete examples mig

[2022-07-11 12:16] #1799 closed

[2022-07-12 05:55] Socvest opened #1933 "[bug]: Latest version of react-spring useTransition re-renders multiple times"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [x] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.4.5

### What's Wrong?

When animating with useTransition, it appears that when I do the action that activates the animation, it re-renders multiple times. I have s

[2022-07-12 07:19] joshuaellis commented on #1933
Please provide a code reproduction of the your issue.

For guidance on how to do so see – https://stackoverflow.com/help/minimal-reproducible-example

I encourage you to use codesandbox.

[2022-07-12 13:34] Socvest commented on #1933
Thanks, I have attached the codesandbox

[2022-07-13 17:12] joshuaellis commented on #1844
Actually, it's this:
https://github.com/pmndrs/react-spring/blob/3365ceaad119460425971324c8ed1c97b476b4b1/packages/rafz/src/index.ts#L167

[2022-07-13 17:30] #1844 closed

[2022-07-14 08:31] joshuaellis commented on #1829
Hey @quebits I think this might have been related to #1844 which was resolved with `v9.5.0` would you be able to test that version and see if it resolves your issue?

[2022-07-14 08:55] goldylucks opened #1936 "[bug]: use transition double render"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.0

### What's Wrong?

When clicking the box links at the bottom, the current links should smoothly fade out and the new ones fade in.

Instead, the new ones initi

[2022-07-14 09:06] joshuaellis commented on #1936
Your code repo has a lot of code in it, please boil down the issue into its simplest form so it can easily be looked at. At the moments it's hard to even understand what's going on in the code from a glance.

[2022-07-14 09:12] goldylucks commented on #1936
@joshuaellis cleaned it up

You can see the problem better in full screen
https://72jywy.csb.app/anxiety

[2022-07-14 09:16] joshuaellis commented on #1936
I think the problem is your use of `key` where the elements your passing all share the same key?

See this example where i used a uuid for the elemnts – https://codesandbox.io/s/bold-forest-xq8md2?file=/src/api.ts

let me know your thoughts

[2022-07-14 09:26] goldylucks commented on #1936
FYI, the problem goes away if I remove the `leave` field from the `useTransition`

[2022-07-15 09:09] meotimdihia commented on #476
I am using React-Spring for the reader page on mobile:
https://comick.fun

[2022-07-19 08:19] joshuaellis opened #1941 "[bug]:"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.0

### What's Wrong?

### Discussed in https://github.com/pmndrs/react-spring/discussions/1940

<div type='discussions-op-text'>

<sup>Originally posted by **bess

[2022-07-19 08:33] bessim-dev opened #1942 "[bug]: conflict between the trail prop and the exitBeforeEnter prop."
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.0

### What's Wrong?

i'm trying to build a staggering effect with the useTransition, I have an object containing 2 arrays and I change the index each time to sel

[2022-07-19 08:40] #1941 closed

[2022-07-20 08:50] Emiliano-Bucci commented on #1794
@sagarchoudhary96 Hi! Are there any news on this one?

[2022-07-20 15:24] joshuaellis commented on #1930
I'm working on the new documentation site, and as such, will not be actioning this ticket.

[2022-07-20 15:27] joshuaellis commented on #1890
Hey @billyjanitsch, I haven't forgotten this issue, and I think I finally understand what you mean (sorry for my delay).

Going to look into fixing it, I believe it's most prevalent when you're trying to use a `springRef` because the animation does not wait for the api to start it.

[2022-07-20 15:28] joshuaellis commented on #1829
resolved by `9.5.0`

[2022-07-21 15:30] joshuaellis commented on #1942
this is a duplicate of #1868 so closing it in favour of that issue.

[2022-07-21 15:30] #1942 closed

[2022-07-21 18:03] #1890 closed

[2022-07-22 21:54] dub6ix opened #1948 "[bug]: in v9.5.1 the first element in useTransition not expiring"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [X] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

v9.5.1

### What's Wrong?

I just updated to v9.5.1 and a useTranstion hook that I have been using successfully for the last few months is failing in react-native. I

[2022-07-22 22:38] joshuaellis commented on #1948
That's a weird bug. Even weirder it doesn't happen when you attach a springRef.

Thanks for reporting.

[2022-07-22 23:00] joshuaellis commented on #1948
@dub6ix, you can see a sandbox with the fix in #1949 here – https://codesandbox.io/s/vigorous-nash-r5791n?file=/src/App.tsx

This is actually the correct behaviour, because you've passed deps to the function, your second argument returned is a `SpringRef` & all animations should be queued until that ref is started (this is the behaviour across all hooks).

If you remove the deps array from your tr

[2022-07-22 23:36] hiebj commented on #1868
another
https://react-spring.dev/hooks/use-transition#you-can-transition-arrays

[2022-07-23 00:22] dub6ix commented on #1948
@joshuaellis awesome, this makes sense now! Huge thanks for the clarification and quick response (esp on a Friday). Can confirm this now work in my project at v9.5.1!

Closing as this is the intended behavior.

[2022-07-23 00:22] #1948 closed

[2022-07-23 09:40] joshuaellis commented on #1948
That's been released on 9.5.2

[2022-07-25 05:02] ivantm opened #1952 "[bug]: Better error message when CSS variable cannot be resolved"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.2

### What's Wrong?

When a CSS variable is unavailable, the output of this code in the `variableToRgba` function inside `variableToRgba.ts` is an empty string:

[2022-07-26 03:36] njho commented on #1870
This appears to still be an issue

    "next": "12.1.5",
    "react": "18.1.0",
    "react-dom": "18.1.0",
    "react-spring": "^9.4.5-beta.1"

[2022-07-26 06:16] jibrantannous commented on #1608
Is this feature currently working?  I was just trying to apply scroll snap type with CSS, but it didn't work. It would be amazing this functionality.

[2022-07-27 06:34] xcoderreal commented on #1860
I encountered a similar problem, and got stuck for weeks.

I ended up modifying the [suggestion above](https://github.com/pmndrs/react-spring/issues/1860#issuecomment-1065208340) from:
[code]

to:

[code]

And it works (for my case).

[2022-07-29 18:00] TheTrio commented on #1158
I'm working on an application where this is all we use from React Spring

[code]

Do you have any idea how to make it so the entire bundle isn't included? I know it might not be feasible for you all to implement tree shaking but I assume there's a different way to do this eliminating the need for React Spring altogether.

Ideas?

[2022-08-01 00:36] kindoflew opened #1953 "[RFC (kind of) -- @react-spring/parallax]: `onScroll` prop for `Parallax`; `onProgress` prop for `ParallaxLayer`"
### A clear and concise description of what the feature is

#### Add `onScroll` prop to `Parallax`

Add a prop to `Parallax` that takes a function that receives the pixel amount scrolled inside the `Parallax` container.

#### Add `onProgress` prop to `ParallaxLayer` (name open to bikeshedding)

Add a prop to `ParallaxLayer` that receives a number between `0` and `1` representing its parallax progr

[2022-08-01 04:38] zero1995m commented on #383
Hi have great day, Problem still exist and auto-completion not work or stay in loading stage in Vscode editor.

[2022-08-01 07:16] joshuaellis commented on #1953
Something I definitely wanted to do was abstract some logic into a utility hook called `useScroll` that could be used, sometimes the parallax component isn't what you want / need but that hook is. So this could be part of the effort?

Other than that i think these additions would be great. I do find Parallax to be a bit "rigid" sometimes.

[2022-08-01 09:48] yaroslavdraha commented on #1064
@joshuaellis
Hi there! I'm experiencing a problem using `useTransition` and `exitBeforeEnter`, not sure if it's related to specifically this thread, but I will create a new bug if not.

My goal is to show two blocks and change them with a timeout (check the sandbox). For some reason, the animated components are gone when I change the tab in the browser for around 5 sec. I cannot reproduce that wit

[2022-08-01 10:03] yaroslavdraha opened #1954 "[bug]: exitBeforeEnter removes elements on browser tab change"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.2

### What's Wrong?

I'm experiencing a problem using `useTransition` and `exitBeforeEnter`.

My goal is to show two blocks and change them with a timeout (check

[2022-08-02 07:45] joshuaellis opened #1955 "[feat]: Animate Presence component addition"
### A clear and concise description of what the feature is

A new component / hook that animates elements depending on whether their children are being rendered or not _without_ the need to be passing data (this is similar but separate to `useTransition` which _could_ be depreciated in favour of this new hook)

### Why should this feature be included?

`framer-motion` has a component called `anima

[2022-08-02 08:26] creativiii commented on #1955
I really like that API, it feels distinctly react-spring.

In this hypothetical situation, would the `springs` object be passed to an `animated.div`? Would `useAnimatePresence` and `animatedPresence.div` exist in the same component or could `animatedPresence.div` wrap a component using the hook?

[2022-08-02 08:33] joshuaellis commented on #1955
Yes sorry, i've updated it now!

Are you able to give an example of what you're suggesting?

[2022-08-02 09:15] creativiii commented on #1955
My components won't always know they're being unmounted, ideally they should just know that when they are being mounted/unmounted certain animations should be played.

If `animatedPresence.div` is inside the component that is being unmounted, then it won't be aware that it's being unmounted and the animation won't play.

[code]

So I think something like this would make more sense?

[code]

[2022-08-02 09:31] joshuaellis commented on #1955
Aha, I understand. Then maybe all `animated` components try to register themselves with the closest `animatedprescence` component!

[2022-08-06 10:49] Zain-ul-din commented on #627
Simply do `import { Parallax, ParallaxLayer } from 'react-spring'` it's working for me.
`"react-spring": "^9.5.2"`

[2022-08-08 03:12] evangeline commented on #1955
Excited about this proposal! Animations not playing because of components not knowing they're unmounting is the biggest pain point when using `react-spring`.

This feature would also work really well with [floating-ui's](https://floating-ui.com/) APIs and make the components easier to compose. Example with `framer-motion`'s AnimatePresence [here](https://codesandbox.io/s/determined-wood-k5lcjc?fil

[2022-08-08 04:57] Socvest commented on #1933
Thanks for trying. Not sure what the simplest form of the issue is but I think I might go for on click rather than hover.

[2022-08-10 07:07] CaptainStiggz opened #1957 "[feat]: Interpolate with a delay"
### A clear and concise description of what the feature is

When using `SpringValue` interpolations, we should be able to interpolate with a delay.

### Why should this feature be included?

For complex animations with multiple components and values being animated together, it's nice to be able to hook them all to one driving spring. It can be very difficult to use the existing interpolation API t

[2022-08-11 18:03] rovolution commented on #1148
I am experiencing the same problem

[2022-08-11 18:03] rovolution commented on #1148
@SKHecht did you ever get a workaround or solution for this? thanks!!

[2022-08-11 18:21] rovolution commented on #1148
Would respectfully disagree with this @aleclarson. There could be application logic that may involves removing elements from a list (for ex: client-side filtering a list of results) and you want to have test coverage around making sure this behavior works as expected.

[2022-08-15 06:23] superFortress opened #1960 "[typo]: Small typo in Controller docs"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

v9.5.2

### What's Wrong?

The Controller docs refer to _contoller_ rather than _controller_ (missing an **r**) on nine separate occasions. For example, one of the su

[2022-08-15 07:43] joshuaellis commented on #1957
I think there's a misconception around who's animating, the actual `useSpring` hook is animating as opposed to the `animated` component so adding a delay to interpolations could be _very_ difficult.

It'd help if you could explain why you'd want this as opposed to just delaying the spring? (see the ref table [here](https://beta.react-spring.dev/docs/components/use-spring#reference)).

[2022-08-15 07:44] joshuaellis commented on #1148
Hey @rovolution, Alec doesn't work on react-spring anymore. But if you're wanting to re-open this, why not make a new discussion with the issue you're facing etc.? We can discuss it better there with more visibility.

[2022-08-15 07:55] joshuaellis commented on #1960
These docs are no longer being maintained and will be replaced with our new beta docs – [beta.react-spring.dev/docs](https://beta.react-spring.dev/docs)

[2022-08-15 07:55] #1960 closed

[2022-08-17 02:56] chuckdries commented on #476
I'm using react spring for all the motion: 2d DOM animations for the sidebar, and 3d r3f animations on the game board during play: https://buzzwords.gg

[2022-08-21 06:27] vito-mohagheghian opened #1963 "[bug]: All mapped items after generating will come together"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

@react-spring

### What's Wrong?

I'm creating an app like windows 11. so after generating another window, previous windows will come together to a new window, the re

[2022-08-22 10:05] path-yu opened #1964 "[bug]: uer useTransition render list"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.2

### What's Wrong?

Using useTransition to render the list, using setState to update and delete the list will trigger render twice,

### To Reproduce

1. Clicki

[2022-08-31 03:49] bschlenk opened #1967 "[bug]: some types are broken with TypeScript 4.8"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.2

### What's Wrong?

TypeScript 4.8 doesn't like something about the `UseSpringProps` type and a few others.

[code]

I looked into this a bit but react-spring's

[2022-08-31 13:11] joshuaellis commented on #1933
Closing due to inactivity

[2022-08-31 13:11] #1933 closed

[2022-08-31 13:19] joshuaellis commented on #1967
Thanks for reporting! Are you able to share a codesandbox that demonstrates the issue?

[2022-08-31 13:41] bschlenk commented on #1967
It only shows up when you run `tsc` so I wasn't sure how to trigger the error in codesandbox.

[2022-09-01 02:31] MonliH opened #1968 "[bug]: useTrail docs has broken link"
### What version of react-spring are you using?

n/a

### What's Wrong?

The `shared-api` link on the `useTrail` docs page in the latest docs is broken; it seems to redirect me to a 404 page.

### To Reproduce

Go to [https://react-spring.dev/hooks/use-trail#properties](https://react-spring.dev/hooks/use-trail#properties), then press on the `shared-api` link.

### Expected Behaviour

The link shou

[2022-09-02 11:06] joshuaellis commented on #1967
I've started looking at this, but I need more headspace to figure out the rest of the errors, if you want to take a closer look check out this branch – https://github.com/pmndrs/react-spring/tree/fix/typescript-4.8

[2022-09-07 06:49] cangSDARM opened #1973 "[bug]: The initial style is not applied"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.4.4

### What's Wrong?

The initial style is not applied, causing the style to flicker. In the reproduce, I want to initialize the height to 0 and then expand; how

[2022-09-07 07:02] joshuaellis commented on #1973
This isn't a bug you incorrectly wrote your `useSpring` hook, you wrote:

[code]

it should have been:

[code]

In short, you werent returning an object from the function so `height` didn't exist as a `SpringValue`.

see this codesandbox – https://codesandbox.io/s/laughing-carson-kr6t0r?file=/src/Expandale.tsx

[2022-09-07 07:02] #1973 closed

[2022-09-11 13:14] #1963 closed

[2022-09-11 18:02] #1967 closed

[2022-09-11 18:15] joshuaellis commented on #1911
Yep it should be `easing` not `ease`

[2022-09-11 18:15] #1911 closed

[2022-09-13 10:04] itayganor commented on #1158
@joshuaellis A year later, will this ever get on the roadmap?

[2022-09-13 10:32] joshuaellis commented on #1158
Hi @itayganor, any particular reason you're asking? 😄

Unfortunately, `react-spring` isn't well contributed too – if you look at the history it's largely myself. I'm currently working on a new docs site right now for the project whilst fixing "critical" bugs. So, my capacity is rather tapped out. It could get on the roadmap and it would be great to do that, more importantly if there was a repo / e

[2022-09-13 10:38] itayganor commented on #1158
@joshuaellis I see. It's a great opportunity to thank you for your contributions for this magical library.

As for why I'm asking, it's because I just upgraded my app from v8 to v9 and I noticed an increased bundle size :\

[2022-09-14 11:36] slavokozar opened #1981 "[bug]: Konva peer dependancy in `package.json`"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [X] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

v9.5.4

### What's Wrong?

There is defined peerDependency `react-konva` in package.json:
[code]

 However in targets/konva there is another package.json which says:

[2022-09-19 20:18] josh-signal opened #1982 "[feat]: skipAnimation at the component level"
### A clear and concise description of what the feature is

`skipAnimation` currently exists at the Global level which is very useful when used with `useReducedMotion` to be a good a11y citizen. But what if there are animations we don't want skipped regardless of user preference? Currently we can only block all animations or allow all and selectively block a few. This feature would allow one to ma

[2022-09-21 18:50] comp615 opened #1985 "[bug]: TS < 4.8 project no longer compiles with spring ~9.5"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.4

### What's Wrong?

Due to the changes in #196, backwards compatibility appears to break. Trying to compile the project on TS 4.2.4 gives ~40 errors from react-

[2022-09-21 22:24] joshuaellis commented on #1985
Hm, Id be interested in hearing suggestions on how to support this because it felt like from the TS side, extending an infered value was the correct way to go.

Without a suggestion I am unsure how to proceed, maybe there's a "polyfill" approach?

[2022-09-22 11:35] magnuswahlstrand opened #1986 "[feat]: trail onComplete event"
### A clear and concise description of what the feature is

A `onComplete` (or similar) event that triggers when ALL parts of a trail has completed. This is analogous to the onRest event on a single spring.

### Why should this feature be included?

The `onRest` is a useful event for single springs. It would be great to have a similar event on trails.

### Please provide an example for how this wo

[2022-09-22 18:13] comp615 commented on #1985
I wish I had a more concrete suggestion, obviously with us being behind the ball on TS 4.3, I haven't encountered the migration path for TS and am not an expert on the newer changes there. Obviously finding a forward/backward compatible path would be great, I just don't even know what to look for (and the code edited looks moderately complex).

But barring that, I also think it's valid to undo the

[2022-09-25 13:26] joshuaellis commented on #1985
i've released this in a beta – `9.5.5-beta.0` it'd be great if you could give that a go in your codebase to see if it resolves you're issue!

[2022-09-25 20:47] comp615 commented on #1985
Installed and typecheck seems to run OK!

[2022-09-26 08:53] #1985 closed

[2022-09-26 15:40] geoff-harper commented on #1515
I'm still seeing this with the following versions

├── @react-spring/three@9.5.5
├── @react-three/fiber@8.7.4
├── @types/react-dom@18.0.6
├── @types/react@18.0.20
├── @types/three@0.139.0
├── react-dom@18.2.0
├── react@18.2.0
├── three@0.139.2
├── typescript@4.8.3

@christopherjbaker could you show a snippet of the impl that was showing the problem and then resolved? I'm getting the issue specific

[2022-09-29 12:23] AndriesVDW commented on #1725
Any news on this? I'm having the same problem.

[2022-09-29 12:42] joshuaellis commented on #1725
Is the issue here that the api returned from `useSprings` when calling `set` can only set them all as opposed to being able to set a specific spring based on in the `index`?

[2022-09-29 12:43] AndriesVDW commented on #1725
Yes!

[2022-09-29 12:46] joshuaellis commented on #1725
Okay well this is an enhancement to the current `SpringRef`, it should be fairly straight forward if someone wants to take a look at it. Otherwise there is no news unfortunately, i'm short on bandwidth.

[2022-09-29 14:16] AndriesVDW commented on #1725
I think I fixed it in the pull request I just made.

[2022-09-30 08:43] joshuaellis opened #1991 "[bug]: Events aren't called when attaching a ref manually"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

v9.5.5

### What's Wrong?

when attaching a ref to a hook via the `ref` prop the events are not called when `ref.start()` is called however the animation still plays.

[2022-10-06 23:05] dondxniel commented on #609
The above solution might not work for some people; like it didn't work for me. Give it the css style:

[code]

[2022-10-17 18:16] theo-born commented on #1515
Try this:

`styled.d.ts`
`declare module "react" {
    interface DOMAttributes<T> {
        css?: never;
    }
}

declare global {
    namespace JSX {
        interface IntrinsicAttributes {
            css?: never;
        }
    }
}

export {};
`

[2022-10-19 07:50] joshuaellis commented on #1981
closing in favour of #1861

[2022-10-19 07:50] #1981 closed

[2022-10-21 11:25] giulioz commented on #1889
For anybody else with this issue, it's related to having multiple instances of react-spring in your project, as drei already has it as dependency. Check your yarn.lock and ensure you have a single version or react-spring included.

[2022-10-22 07:52] mordv opened #2001 "springs doesn't work if Canvas doesn't persist and three animated(...) was invoked somewhere in the project [bug]:"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [X] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.5

### What's Wrong?

If somewhere in the project HOC for fiber was created:
`const AnimatedBox = animatedThree(Box)`

The animation is dead for all web pages wit

[2022-10-22 13:42] joshuaellis commented on #2001
Thanks for the report @mordv, this is a duplicate of #1586, here's a workaround whilst I work on a fix – https://github.com/pmndrs/react-spring/issues/1586#issuecomment-870778191

[2022-10-22 13:42] #2001 closed

[2022-10-25 18:01] KalervoHyyppa opened #2004 "[bug]:"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

"@react-spring/parallax": "^9.5.5"

### What's Wrong?

Running `gatsby build` causes error:

[code]

Seems to only occur when using `<Parallax/>` and `<ParallaxLayer/

[2022-10-25 18:26] joshuaellis commented on #2004
This is down to how `gatsby` builds it's pages, it seems to do reverse order(?) so the Context is not initiated before the child is:

<img width="179" alt="CleanShot 2022-10-25 at 19 23 36@2x" src="https://user-images.githubusercontent.com/37798644/197852042-22ee7a15-b994-4219-b538-3b09ec275c16.png">

So i'm not sure even if you could get it to build that it would work as intended. You could look

[2022-10-25 19:24] KalervoHyyppa commented on #2004
Good catch. I just moved `Page 1` and `Page 2` into a different folder (components in this case) and it worked. Updated the repo as well for context. Will close this issue now.

[2022-10-27 13:59] astj opened #2006 "[bug]: render prop within <Spring> is inferred to any"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.5 (maybe 9.5.3+?)

### What's Wrong?

When `<Spring>` component used with render props, TypeScript compiler infers render prop as `any`, which makes compiler emit

[2022-10-28 10:06] LoyalPotato opened #2007 "[bug]: Typescript error with `position: "absolute"`"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.5

### What's Wrong?

Setting `position: "absolute"` in the `from` property of the `useTransition` hook shows a typescript error when setting `style` on the anima

[2022-10-31 09:13] joshuaellis commented on #2006
Introduced between 9.5.2-9.5.3, probably due to this commit – https://github.com/pmndrs/react-spring/commit/2725fc328b4cec9b726e5e04e912dfaa9359750a

[2022-10-31 09:45] astj commented on #2006
@joshuaellis
Thank you for response. So, is it safe to downcast this `any` to expected structure manually as a workaround? (In other words, is it just a type-inference problem and actual js implementation is not changed?)

[2022-10-31 09:49] joshuaellis commented on #2006
It'll just be a type-inference problem.

Out of curiosity, how come you're still using the `Component` signatures of `react-spring` as opposed to hooks?

[2022-10-31 09:59] LoyalPotato commented on #2007
@joshuaellis Is there any way that I can help? I'm not sure where to look to fix this :)

[2022-10-31 10:10] joshuaellis commented on #2007
I haven't looked too much into it at this point, but I imagine for some reason the DOM `Position` type which is a union of `strings` is not being correctly understood by the `animated` types of the `web` target – https://github.com/pmndrs/react-spring/blob/master/targets/web/src/animated.ts so somewhere in this file will probably need tweaking, I think...

[2022-10-31 10:18] astj commented on #2006
Generally we use hooks, but according to commit logs in our repo we've changed few hooks to `<Spring>` some months ago. I believe there was a reason, but unfortunately we can't remember it anymore 😢

[2022-11-02 06:17] reaink opened #2008 "[bug]: Parallax Layers sticky is a component top no work"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.5

### What's Wrong?

[bug]: Parallax Layers sticky is a component top no work

Example: https://codesandbox.io/s/parallax-part-component-layer-kg5yw0

### To Rep

[2022-11-02 08:03] joshuaellis commented on #2008
Please fill out the template correctly, e.g. "What's wrong" is missing information as to what exactly are you trying to achieve, "Expected Behaviour" thats not enough either.

Failing to fill out the template correctly will result in this issue being closed as `spam`

[2022-11-02 21:49] dnorrstrand opened #2009 "[bug]: useTransition not animating component on unmount"
### Which react-spring target are you using?

- [ ] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.5

### What's Wrong?

I need to animate a self-destructing toast component which is supposed to slide up to position on mount and slide down and off the screen on

[2022-11-03 08:09] joshuaellis commented on #2009
Hey @dnorrstrand can you share how the component is used? I suspect the issue is you're unmounting the component and expecting it to animate.

Looking at your code you'd need to change `modalShow.show` to be false and do a callback to remove the component from the `tree` after the animation has finished. Alternatively, you could do a factory component that takes all your Toast notifications and us

[2022-11-08 14:38] tyfiero commented on #1861
I'm having this issue as well.

[2022-11-15 21:29] penx commented on #1515
I'm getting this with:

[code]

Doesn't seem to be related to styled-components, I don't have it installed, it's just a basic starter project with:

[code]

[2022-11-17 14:43] jeffscottward commented on #1515
Getting this right out of the box for the `Animation.tsx` example in the React-Three-Fiber library for `<a.meshBasicMaterial color={color} />`
<img width="838" alt="Screenshot 2022-11-17 at 9 41 15 AM" src="https://user-images.githubusercontent.com/1263486/202476231-71b53e74-9be7-463b-944a-d75e2520cbc4.png">
<img width="390" alt="Screenshot 2022-11-17 at 9 42 09 AM" src="https://user-images.github

[2022-11-19 10:11] lodisy commented on #1515
Same...
<img width="709" alt="Screenshot 2022-11-19 at 6 01 52 PM" src="https://user-images.githubusercontent.com/8101584/202845463-c9959db3-a56e-4a84-9ed6-a5781eb9aff1.png">

[2022-11-19 15:06] joshuaellis commented on #1515
There is nothing I believe we can do on our side on this so I'm going to lock this issue.

[2022-11-24 17:19] Daavidaviid opened #2029 "[bug]: Not compatible with nextjs v13"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

^9.5.5

### What's Wrong?

Seems like it's not compatible with latest version of nextjs
<img width="1038" alt="Screenshot 2022-11-24 at 14 18 50" src="https://user-im

[2022-11-24 17:21] joshuaellis commented on #2029
I'm closing this as a low effort bug report.

[2022-11-24 17:21] #2029 closed

[2022-11-25 05:59] zm8 opened #2030 "[bug]: On onRest Callback, not really arrives stand-still"
### Which react-spring target are you using?

- [X] `@react-spring/web`
- [ ] `@react-spring/three`
- [ ] `@react-spring/native`
- [ ] `@react-spring/konva`
- [ ] `@react-spring/zdog`

### What version of react-spring are you using?

9.5.5

### What's Wrong?

when on onRest callback, I expect "top" value to 100, but it is not.

[code]

### To Reproduce

See Codesandbox.

### Expected Behaviour

Se

[2022-11-28 08:16] joshuaellis opened #2032 "[feat]: three should extend the catalogue of r3f"
### A clear and concise description of what the feature is

Say I my make my own native three element in r3f:

[code]

Then at the very least, it would be good that typescript new this component could be animated, or even better it would be great if the component was added to the `animated` object we export:

[code]

### Why should this feature be included?

Including this feature would make a mor

[2022-11-29 03:09] iyinchao commented on #1725
Just encounted the same issue,
Now I'm using multiple controllers for each spring, but the enhancement above could be very handy, please consider to add this, thank you! @joshuaellis