[2018-03-19 15:20] thebetterjort opened #1 "Suggestion: Documentation needs work"
Suggestions - -

Your project is great, but you need more simple examples as your risking overwhelming users with too much information. I'm glad react-spring is so flexible but the documentation needs to start minimal. A simple spring or slide in effect would be a much better example. Start users small and gradually build them up to more complex components. I think making these change would make y

[2018-03-21 23:02] drcmda commented on #1
@thebetterjort good idea but my english kind of sucks and documentation has always been a sore spot for me. Do you have any concrete ideas how to pull it off? I actually thought that hey maybe i've been going a bit overboard with the crazy interpolation stuff but then again, i was hoping that being able to simply glance over everything it can do would help ...

[2018-03-22 12:57] drcmda commented on #1
Tried to give it a go, would you say it's gotten better or worse?

[2018-03-25 01:56] mjsisley opened #2 "Usage with react-router v4"
This library looks awesome!

Has this been tested with `react-router` v4 for route based transitions? It would be awesome if the docs included an example for this use case!

[2018-03-25 08:02] drcmda commented on #2
@mjsisley hey, thanks a lot! For sure it will work with React-router. I will make an example for it. Anything you look for specifically or just a plain transition between routes?

[2018-03-25 14:03] drcmda commented on #2
Happy with that one or need more?

https://codesandbox.io/embed/xo0lrqw2nz

[2018-03-25 16:20] dylinmaust commented on #2
Thanks for the example! I'm looking forward to implementing this as I prefer it to Animated's imperative approach.

I realize Issues shouldn't be used for support questions, but it seems relevant to this particular issue. I'm trying to create an AnimatedSwitch component that I can re-use across multiple "Layouts" in my app. I'm not sure how to pass the `style` prop to the `children` prop. Is this

[2018-03-25 17:41] drcmda commented on #2
Passing props down like that is hard with react-router. There's been this issue: https://github.com/ReactTraining/react-router/issues/4105#issuecomment-291834881 but for your use-case none of the examples would would. The only way i see would be allowing AnimatedSwitch itself to call a render child into which it can pass "styles", but that wouldn't be any different from how it is right now.

I'd p

[2018-03-25 23:00] mjsisley commented on #2
@drcmda Thanks a bunch for adding these examples! They cover the use cases I had in mind.

[2018-03-27 11:39] stevoland opened #3 "react-native support?"
Hi, thanks for the library, the demos look fantastic.

We plan on building cross-platform components and are looking at animating solutions. Would it be feasible for this project to support react-native? Do you have ideas for an approach? Would you be interested in PRs towards this?

Thanks

[2018-03-28 05:10] drcmda commented on #3
@stevoland rn would most certainly be possible, since animated supports it. I removed react-native.js from animated/targests but if put back it should be fine.

PRs are welcome.

[2018-04-01 02:06] techniq opened #5 "Additional chart examples"
First, let me say this library looks great.

I am one of the contributors to [vx](https://github.com/hshoff/vx) and I am attempting to port a few of my animation examples from [react-move](https://github.com/react-tools/react-move) to use react-spring.  I've had [performance issues](https://github.com/react-tools/react-move/issues/31) with react-move on occasion and wanted to see how well react-sp

[2018-04-02 07:16] drcmda commented on #5
@techniq I recently got into vx, but would need some input in order to figure out how to make it fast. Generally the native prop mutates dom properties directly in the dom and can thereby skip render phases. Component props on the other hand will call render on every change. D3 writes to the dom, VX renders and react renders to the dom, which sometimes isn’t fast enough for animation purposes.

Wh

[2018-04-02 12:40] techniq commented on #5
@drcmda For the collapsable tree, this should definitely be possible.  My biggest confusion with it is how to express a single element's new styles/state.

If you look at my [example](https://codesandbox.io/s/n3w687vmqj) at `NodesMove.js`, you'll see the following, where a node's next state (position) is determined either by its parent's x/y for its `start` or `leave` values, or its own x/y for `e

[2018-04-02 12:43] techniq commented on #5
If you want to see a pure-d3 example (what I initially based mine on), you can see some [here](https://bl.ocks.org/mbostock/4339083) and [here](https://bl.ocks.org/d3noob/43a860bc0024792f8803bba8ca0d5ecd).

[2018-04-03 16:11] drcmda commented on #5
@techniq yep, the link you sent that builds the path, if we manage to make this exposable i think it's possible to make vx as fast as plain d3. Without this part, no matter what, it will always be on the slow side because React has to re-render. I think this would be the important bit to tackle first. Maybe with a very simplistic example first (perhaps the area-graph). This would set us up to make

[2018-04-03 16:51] techniq commented on #5
@drcmda No worries, and I'm under a few deadlines and just looking at this as I get time 😄

The Link components are currently just convenient wrappers to:
- Build a path generator based on the:
  - Type (bezier, step, line, etc)
  - Layout (cartesian, polar)
  - Orientation for the cartesian layout (horizontal, vertical)
- Use the path generator and build the `<path d={...} />`

These 2 could be s

[2018-04-03 17:34] drcmda commented on #5
@techniq So basically it's just a simple 0-1 toggle. I was confused about how you pass a zero object in there. So that would be a simple reset spring: https://codesandbox.io/s/nww6yxo0jl

[code]

[2018-04-03 17:43] techniq commented on #5
@drcmda Nice!  Pulling the `xd`/`yd`/`yr` interpolators up above `<Spring>` also improves the smoothness (and spring/easing)

[code]

[2018-04-03 17:44] drcmda commented on #5
Yeah, i just updated it : D Looks ways smoother like that. That was me having no idea what this d3 stuff is actually doing.

[2018-04-03 17:46] techniq commented on #5
I'm assuming we could use Animated to do the interpolation of the values as well...

[2018-04-04 08:14] drcmda commented on #5
This is the first version that renders the chart natively: https://codesandbox.io/s/nww6yxo0jl

<img width="1523" alt="screen shot 2018-04-04 at 10 10 26" src="https://user-images.githubusercontent.com/2223602/38296081-8cfad216-37f0-11e8-982c-13392cc6c63e.png">

I added an "interpolate" function that takes an animated value and calls you back with its value, which you can then pass to vx/d3/... to

[2018-04-04 12:35] techniq commented on #5
@drcmda performance wise this looks great.  I've noticed a little jank/stutter towards, primarily on mobile, but it is vast improvement over what I had.

Regarding the api, I was thinking/hoping I could get rid of the use of `d3interpolate` and have this hidden within react-spring.  The `t.addListener` feels a little odd to me too (do I need to add a `t.removeListener` to not leak, although I figu

[2018-04-04 13:39] drcmda commented on #5
Looks reasonable. I added it as "onUpdate" to the previous demo in the sandbox.

You can certainly animate array values, though i copied your code and it did nothing. Just be aware that `d={interpolate(t, () => this.arc(node))}` has to track *some* spring.

[2018-04-04 13:45] techniq commented on #5
My code was "pseudo" to express the idea (I didn't expect it to work) :).  The idea is to encapsulate the tweening of the domain/range values as much as possible (to keep the api clean).

While on the topic of api, could `<Transition />`'s lifecycle props also accept a function that gives you each item (if `keys` is an array) that returns the object?

[code]

[2018-04-04 14:03] drcmda commented on #5
Having functions is no problem, it's live under `react-spring@3.2.0-beta.5`, but Transition doesn't know `items`. It knows `keys` and gets a couple of functions as children, but nowhere does it have access to the collection itself. Instead of `item` it'll give you the key, like so:

[code]

Can you give it a try and see if it's fine?

[2018-04-04 14:29] techniq commented on #5
`key should be fine as calling `items[key]` within each lifecycle will work.  That should allow my react-move example using `NodeGroup` to port over to `Transition` pretty seamlessly.

Another quick question, the `styles` passed down does not necessarily have to be passed to the style prop correct?
[code]

For instance, could I peel off the props and pass them as other props?
[code]

Once again, a

[2018-04-04 15:32] drcmda commented on #5
Correct.  If you're feeding regular styles and/or props, you can use `native` as well to make it faster.

It's in the latest beta. I'll publish all this stuff officially (we've worked out reset, interpolate, onUpdate and functional styles so far) when your examples run.

[2018-04-04 16:26] techniq commented on #5
Awesome.  I hadn't seen any commits/branches on Github so I wasn't sure what was pushed, but I figured out you were pushing npm betas from your local working copy.

I'll hope to get to it this evening (if all goes well, but it might be another night or two as my kids' have practices and I'm under some work deadlines).

Once again, thanks for the awesome work 😄.  All of this looks very promising.

[2018-04-05 05:12] techniq commented on #5
@drcmda I spent a little time on it tonight, but ran into a few issues.  See `NodesSpring.js` [here](https://codesandbox.io/s/j8wzmw703) for the WIP

- Since there is not an `update` lifecycle event, the nodes do not move after their initial entrances
  - Click `T`, then `A`. Notice `A`, `B`, and `Z` do not move when `A`'s children are expanded
- The `leave` event is going to be tricker since I on

[2018-04-05 08:16] drcmda commented on #5
@techniq

<img width="1191" alt="screen shot 2018-04-05 at 10 15 42" src="https://user-images.githubusercontent.com/2223602/38354572-62ea94c8-38ba-11e8-8c1d-d8a8c336bada.png">

Live in beta.7

[2018-04-06 00:17] drcmda commented on #5
You don't need to set keys because each element is wrapped in a spring internally, Transition sets keys by itself. items/keyAccessor pair and keys is fine with me. I'll add it in the next beta.

As for update, it just dawns me that this isn't the same as onUpdate (the frame-by-frame callback) at all. If i understood what it needs to do i can add it. react-move says:

[code]

But ... don't enter/le

[2018-04-06 00:54] drcmda commented on #5
Ok, looks like "update" means all children that neither were added nor removed. I made a quick test and it looks like that's it: https://codesandbox.io/s/9jrjqvq954

There's some cleaning up to do with the naming of it all, but i'll do that tomorrow.

[2018-04-06 00:58] techniq commented on #5
@drcmda I was just writing something up, but yes 😄 , and thank you.

Btw, the `enter`, `update`, and `exit` is one of the core principals in d3 selectors
- https://bost.ocks.org/mike/join/
- https://bl.ocks.org/mbostock/3808218
- https://medium.com/@c_behrens/enter-update-exit-6cafc6014c36

[2018-04-06 01:09] techniq commented on #5
@drcmda I see you your `beta.11` [progress](https://codesandbox.io/s/9jrjqvq954) 👍

[2018-04-06 01:14] drcmda commented on #5
just tried it out using `native` ... works : D updated the sandbox.

[2018-04-06 01:54] techniq commented on #5
@drcmda that's still using react-spring for the links as well 😁.  I have a deliverable due Monday that I need to focus on, but I hope to get around to getting the path generators exported this weekend possibly (and see if @hshoff can cut a release afterwards).

not going to lie, I'm having trouble telling the exact improvement between react-move and spring based on the performance charts (especial

[2018-04-06 22:27] #2 closed

[2018-04-06 22:31] drcmda opened #7 "Looking for design input/help for a playground page"
I've made a small sandbox here: https://k0row0vkvv.codesandbox.io/

Basically all the ideas and tests that came up over the last month, but the colors and all, it bites. If anyone could help out it would be greatly appreciated. It doesn't have to be a fancy webpage - would be very happy it wouldn't cause eye-strain for starters.

Full repo is here: https://github.com/drcmda/react-spring/tree/maste

[2018-04-07 18:38] techniq commented on #5
@drcmda I'm not sure if I'll get time to tackle https://github.com/hshoff/vx/issues/263 this weekend with other commitments, but it doesn't look like you'll need it (other than for better path performance on the tree example).

Btw, regarding examples, here's some ideas / suggestions:

- For the sunburst example, you can use `<Partition>` from `@vx/hierarchy` instead of your own copy.  My sunburst

[2018-04-07 18:39] techniq commented on #5
@drcmda btw, at this point I'm cool with closing this issue and creating other issues for say the `FLIP` component, if you think it's worth pursuing.

[2018-04-07 19:57] drcmda commented on #5
I collected some demos, three of them have vx stuff in them: https://o48nx3n19z.codesandbox.io/ I think it's fine to get the idea across. All these are under /examples as well.

Flip move and react morph is very interesting as well, it would be nice to have a nice and easy primitive for that, a new topic to flesh this out would be great.

Overall i think we've made quite some progress. The biggest

[2018-04-07 20:10] techniq commented on #5
I don't have much outreach myself, but I'll see what I can do about promoting it.  Harrison Shoff (works at Airbnb, creator of VX and Airbnb style guide) and Elijah Meeks (works at Netflix, does a lot of work in d3, including https://github.com/emeeks/semiotic and a few books) among others hang out in the VX Slack channel and we've had some discussions about animation / etc.  I think they'll be ve

[2018-04-07 20:10] #5 closed

[2018-04-07 20:43] tim-soft opened #8 "Mouseover Parallax"
Is it possible with this library to make a hover/mouseover based parallax effect similar to this example http://matthew.wagerfield.com/parallax/

[2018-04-07 21:26] drcmda commented on #8
@tim-soft certainly, though atm there's no defined primitive for it. Doing it yourself would probably involve watching the mouse and a couple of springs. But if you do have an idea how to pull this off declaratively, i'd be interested in following this through.

Would you take a look at the two parallax demos on the front page, look at the primitives there and maybe reflect on how you'd do somethi

[2018-04-07 21:30] drcmda commented on #5
That would be awesome! I'm always open to suggestions should they or you have specific animation related wishes - so it could be benefit VX as well.

[2018-04-08 18:50] techniq opened #9 "FLIP-style animations"
Discussed briefly in https://github.com/drcmda/react-spring/issues/5#issuecomment-378661614, but it would be nice if react-spring could calculate the to/from states if not explicitly provided, similar to [react-flip-move](https://github.com/joshwcomeau/react-flip-move) which uses the [FLIP](https://aerotwist.com/blog/flip-your-animations/) technique (ultimately `getBoundingClientRect`)

For exampl

[2018-04-08 18:57] techniq opened #10 "Multi-stage transitions"
Not sure how this would work with spring-based animations, but it would be useful to be able to have multi-stage transitions.  For example, to replicate [this](https://sghall.github.io/resonance/#/redux-examples/packed-by-age), you:
- animating the leaving items first
- update the existing items
- animate in the new items

Looking at the [source](https://github.com/sghall/resonance/blob/master/doc

[2018-04-08 19:01] techniq commented on #5
thoughts?

![image](https://user-images.githubusercontent.com/177476/38471337-b8e0f23e-3b3d-11e8-911e-cce98a501a0a.png)

[2018-04-08 19:47] drcmda commented on #10
I guess it would come down to this:

1. plain userland using `onRest` where the animations reside in this.state, something like this: https://codesandbox.io/s/0qxxxljrvp
2. Making Transition more complex
3. Wrapping Transition into a class that reloads it using `onRest`

I kind of like userland because it gives lots of finecontrol and it's actually quite easy to pull off. Otherwise the option to d

[2018-04-08 19:53] drcmda commented on #10
Another idea would be a generic Chaining primitive that would be able to define rules (onRest or delays) and simply forward stuff to the wrapping component, which could be a Spring, Transition, Trail, etc. I think i'd like that best.

[2018-04-09 10:10] drcmda commented on #10
This probably isn't exactly related to the Transition component, but a little work on this and we have a generic component that can script just about anything. I am seeing it do chains, react to user interaction or switch primitives (go from trail to transition for instance).

![keyframes](https://user-images.githubusercontent.com/2223602/38492369-eccb79aa-3bee-11e8-8711-8786c7e9e652.gif)

https:/

[2018-04-09 11:04] techniq commented on #10
@drcmda that's looking great!

[2018-04-09 16:10] techniq commented on #10
I like the imperative nature of `<Keyframe script={async () => {...} />`. I just now looked at React-Native's Animated and saw they have [parallel, sequence, stragger, and delay](https://facebook.github.io/react-native/docs/animated.html#composing-animations).  To sure if a similar preset could be offered here as well?

[code]

I like in your example you don't have to await one of your frictionles

[2018-04-09 16:54] tim-soft commented on #8
In the example I provided, the mouse's (x, y) position controls the parallax, although I've seen other fixed-viewport implementations controlled by the mouse scroll wheel.

There wouldn't be a need for pages per se, but a z-index hierarchy, probably in order of smallest to highest child layers(?). Each layer would have a `stiffness` and `damping` prop and a style prop to help with positioning/size

[2018-04-09 17:17] drcmda commented on #10
More primitives would be great anyways. That's the neat thing about animated, wrapping it [isn't expensive](https://github.com/drcmda/react-spring/blob/master/src/Keyframes.js).

PS. made a slightly more complex demo: https://codesandbox.io/embed/zl35mrkqmm

[2018-04-10 06:26] chenglou opened #11 "TodoMVC demo bugs"
Repro:

- Go to https://codesandbox.io/embed/2pk8l7n7kn
- Type "asd" really quickly
- See that things unmount immediately without transition

Nice lib! =D

[2018-04-10 06:28] chenglou opened #12 "TodoMVC new item creation should reset the input field"
Repro:

- Go to https://codesandbox.io/embed/2pk8l7n7kn
- Input new item
- Press enter
- New item created but input field not reset

[2018-04-10 09:49] drcmda commented on #8
When i find time i will look into this and try to add a primitive.

[2018-04-10 10:03] drcmda commented on #11
Thanks for the all the inspiration and the impact that your work had on the React eco system at large!

Transition is such a hard piece of work, i saw how much effort was put into it in react-motion. I'll try my best fixing it.

[2018-04-11 11:06] #11 closed

[2018-04-11 11:07] drcmda commented on #11
fixed in 4.0.2.

[2018-04-11 11:14] FezVrasta opened #16 "Animate mount/unmount?"
I'd like to animate a single element that mounts/unmounts, what's the suggested way to handle this case?

I tried with `Transition` but it seems to like only 2 or more elements.

Thanks.

[2018-04-11 11:28] FezVrasta commented on #16
Is it expected that with your example and these settings only the opacity gets animated?

[code]

[2018-04-11 11:36] drcmda commented on #16
@FezVrasta in 4.0.4 you can do:

    {condition && MyComponent}

All of them get animated, but rotation and scale are transform props, you can't spread them into styles just like that, you'd have to do something like this:

    {({ rotation, scale, ...rest }) => <div style={{ ...rest, transform: { rotation, scale } }} />}

[2018-04-11 11:40] FezVrasta commented on #16
Thanks!

[2018-04-11 11:49] drcmda commented on #16
@FezVrasta

Wait, i'm silly, this is wrong. More like this:

[code]

😄

[2018-04-11 15:22] danielterwiel opened #18 "Nested routes"
How would one go about having nested routes, whereas the first stage route (e.g. /users) triggers a transition where a navigation component and some content is shown. But once the user clicks on the navigation to go to a nested route, merely the content is transitioning.

I've tried multiple things, but whatever I do; the upper route changes too and thus the entire page keeps transitioning while I

[2018-04-11 15:25] danielterwiel commented on #18
You're totally right. I was busy doing so by altering the Routing example, but it became a mess so I thought I just fired up the question first in quest for a clue. Shame on me. Hang in there, I'll get back to you tomorrow. Thanks a lot for responding.

[2018-04-11 19:25] NicholasLYang opened #19 "On Animation Finish Callback"
Hey, I was wondering if there's a way to have a callback on the animation finishing. I'm trying to implement a form that animates new elements in, then scrolls down. However, I need to have a way of detecting when the form is finished animating to start the scroll. I saw that there's an `onRest` prop in `Transition`, but that appears to freeze up the animation when I use it.

Thanks,
Nicholas

[2018-04-11 21:53] drcmda commented on #19
@NicholasLYang onRest should do it actually. If something freezes that would be quite bad, would you like to make a codesandbox for it?

Another way would be to attempt using the Keyframes api:

https://codesandbox.io/embed/j1w4355593

https://codesandbox.io/embed/zl35mrkqmm

With this you can await animations, chain and delay them. It's still super experimental at this point, but if you don't swi

[2018-04-11 22:00] #16 closed

[2018-04-11 22:00] #7 closed

[2018-04-12 01:48] jefflung opened #20 "Two component playing one by one and last one stays"
'''import React, { Component } from "react";
import { AnimationSequence, Animatable } from 'react-web-animation';

export default class profile extends Component {

  constructor() {
        super();
        this.state = {
            currentTime: 0,
            playState: 'running'
        };
        this.isRemovable = false ;
    }

    getKeyFrames() {
        return [
            { transform:

[2018-04-12 06:41] drcmda commented on #19
I though about this some more and maybe i was wrong, Transition doesn't have a beginning and an end, it just reacts to random lifecycle changes. onRest in Transition wouldn't make much sense, unless it fires just out of the blue. Trail on the other hand could do that.

[2018-04-12 06:46] drcmda commented on #20
Would this help? https://codesandbox.io/s/xjxpo462o4

Otherwise, i tried putting your example into a codesandbox, but couldn't make it run. To be sure i'd have to see the effect you're going for first visually.

[2018-04-12 07:24] jlarmstrongiv opened #21 "Example for tension and friction config"
Are tension and friction the same as stiffness and dampening?  It would be neat to have an example like [react-motion](https://chenglou.github.io/react-motion/demos/demo5-spring-parameters-chooser/) to demonstrate the attributes.

![image](https://user-images.githubusercontent.com/20903247/38661764-ed9c4040-3dff-11e8-89ad-938ef695dddc.png)

In addition to the grid from that example, it may be nice

[2018-04-12 08:36] danielterwiel commented on #18
Ok. I've [reproduced the behaviour](https://codesandbox.io/s/vp3mlqjyy) in a minimal fashion, not fully optimized, but I think it's clear what I'm trying to do here:

- When landing a main route (e.g. /red) the transition is triggered and it renders the main route component.
- From within this main route a Link is rendered which gives access to the subroute (e.g. /red/ultra)
- When navigating to t

[2018-04-12 09:04] jefflung commented on #20
Thanks Paul for your demo, but it's different from the effect I try to produce. I cannot upload my files to codesandbox, could you check it with this link http://react_gsap2.surge.sh/ ? and my github repository is https://github.com/jefflung/react_gsapV2 . Thanks a lot.

[2018-04-12 11:02] dominicglenn commented on #18
Like you say, your issue is more a react-router issue; basically your top route is re-rendering when the child route is different, even though the parent should not re-render.

I've solved this (I believe) by changing what the parent switches on, basically, instead of `keys={location.pathname}` in the `App` component, I've done `keys={location.pathname.split('/').slice(0, 2).join('/')}` so that th

[2018-04-12 11:18] drcmda commented on #18
@danielterwiel @dominicglenn

Here's a fixed version: https://codesandbox.io/s/mjnwrk1o3p

The problems were:

1. Make sure to use the `native` flag when your animated component contains complex subtrees. This lets React render only once, from then on the animation is done outside of React, mutating the dom directly. Previously it would render the whole route tree thousands of times, likely confus

[2018-04-12 11:29] nrfm opened #22 "browser export config"
Congrats on a great project!

I am not a rollup user and i am trying to setup the build to export a browser consumable file ( with React exclusions etc...) for lazy loading in a non webpack/rollup builder environment...

any pointers or docs on how to do this with react-spring?

[2018-04-12 11:40] drcmda commented on #21
Yes, they're the same. Could i interest you in porting it?

[2018-04-12 11:57] drcmda commented on #22
I can easily export react-spring as an umd, but i wonder what will happen with the dependencies, for instance https://github.com/react-community/normalize-css-color

React and PropTypes have umd builds, but this one - i think it doesn't.

[2018-04-12 12:04] danielterwiel commented on #18
Thanks a whole lot to both of you. I clearly did not fully grasp some the keys concept while it's actually pretty straight-forward.

I already had the `native` flag set in my application, but did not migrate it to the example. Thank you for pointing it out the significance of its impact on performance, I was not fully aware.

[2018-04-12 12:11] drcmda commented on #18
It's basically the same as any generic React key, for instance in a list `<li key={something}>`. The only difference is that Transition sets these by itself, and needs them beforehand. It may seem weird that you need a key even if you have only one element, but it's actually two, as Transition will keep React from unmounting right away so that animations can be applied to it. At this point React w

[2018-04-12 12:14] nrfm commented on #22
i tried using the `iife` version and the deps get left behind.

As a workaround I am gonna setup a minimal webpack project and require react-spring and export from there..

[2018-04-12 12:48] drcmda commented on #22
[code]

4.0.6 now exports a UMD, it puts normalize-css-color into the bundle while it's at it.

[2018-04-12 12:49] #18 closed

[2018-04-12 12:49] #22 closed

[2018-04-12 13:06] nrfm commented on #22
It works great!!
thanks!

[2018-04-12 17:59] jimmy-guo opened #23 "Feature request - Allow optionally setting duration based easings"
Per our spectrum conversation:

I’m attempting to create a continuous sine wave animation. I’ve gotten pretty close with https://codesandbox.io/s/lx5nvqz6pq but noticed that the animation pauses between keyframes, likely due to friction deceleration. Would it make sense to optionally allow users to specify a duration-based easing for these kinds of zero-delay, linear, continuous animations?

(FYI

[2018-04-12 18:51] samrith-s opened #24 "Mapping an array for Trail throws an error"
Hey guys,

First off, loved what you guys are doing with Spring. Looks very very promising! Now to the issue (☹️), I went through the examples and found `Trail` most suitable for my purpose.

My code for the Trail component is something like this:
[code]
The three blocks (`Revenue`, `MoreInfo`, `Stats`) are just `div` with nothing fancy in them.

Whenever `TrailingComponent` mounts, I get this err

[2018-04-12 19:03] drcmda commented on #23
@jimmy-guo

Added it ...

![easing](https://user-images.githubusercontent.com/2223602/38698233-b18255b4-3e94-11e8-9b65-3473bd24c065.gif)

I just need to think about how to add this without adding lots of weight to the lib. Maybe as an add-on package. But the way it works now is pretty cool anyway because now it could receive any implementation, from easings, to rk4 springs, to ios oscilator spring

[2018-04-12 19:06] drcmda commented on #23
PS. right now this is how it looks

[code]

[2018-04-12 19:50] btmdave opened #25 "Animation duration?"
Great library, but when using Transition w/ Animated is there a way to control the duration?

[2018-04-12 19:56] drcmda commented on #25
Funny that you ask, i just merged it:

https://codesandbox.io/s/q9lozyymr9

https://github.com/drcmda/react-spring/tree/master/src/addons

The lib normally focusses on spring based animation as it makes fluid interfaces far more easy to write. But now you can exchange the underlying implementation.

It's not documented yet, but the examples makes it clear how to use.

[2018-04-12 19:56] #25 closed

[2018-04-12 19:58] drcmda commented on #23
@jimmy-guo

it's merged:

https://codesandbox.io/s/q9lozyymr9

https://github.com/drcmda/react-spring/tree/master/src/addons

For kicks i also added IOS harmonic oscillator spring (which has an additional mass attribute), implementations are fully exchangeable now.

[2018-04-12 19:58] #23 closed

[2018-04-12 22:35] thupi opened #26 "Feature Request: Typescript Support"
Hi,

This is kind of ground breaking. I think this is er very easy and well thought abstraction for animating stuff based on state. I will definitely take a closer look into this tool :-)

My biggest problem(which is kind of small) at the moment is that there aren't any typings to find for this package yet. I would really love to see some typings for this libary as it would make the whole API easi

[2018-04-12 22:38] thupi commented on #26
I have a hard time finding time to write a good and complete type definition for this project soon but i will definitely let you know if or when i have the time to go through the type definition :-)

[2018-04-13 06:55] drcmda commented on #24
Could you dump that into a codesandbox? I’ll take a look then.

[2018-04-13 09:31] drcmda commented on #26
I welcome PRs. I have little experience in TS myself and found it hard to wrap my head around. If you find the time to create typings, that would be awesome. 😀

[2018-04-13 09:36] drcmda commented on #20
Time based animation is now possible (4.0.5), see the main page for a small explanation. But i'm still trying to figure out what to do with keyframes. Right now the script isn't very powerful and animations can't be stopped once set in motion, until it reaches its end. It will probably go into a direction like above, though i'm not sure about offsets and stuff, ... this is kind of the reason why r

[2018-04-13 10:04] jefflung commented on #20
Thanks for the explanation.  However, could you suggest or give me hint that, how can I remove/unmount an element with setting a duration? just like my sample, the first animation which has disappeared, thanks :)

[2018-04-13 13:07] samrith-s commented on #24
Hey @drcmda, here is the code: https://codesandbox.io/s/k01ym42kor

It seems to be working. I think I need to figure out what's happening in my application. As we are just returning divs.

Would it be worth noting that we are using React 15 and not 16?

Also, if you check the codesandbox, when I set friction really low, the page flickers. Any idea why?

[2018-04-13 13:29] tinacho opened #27 "tiny import issue in one of the example demos"
I just wanted to check out the animation and ran accross this issue while compiling
[code]
It's basically just a typo in this import from Sunburst demo:
`import Partition from './Partition'`

Uppercase instead of the lowercase `P` in `... from './Partition'`

[2018-04-13 13:32] drcmda commented on #27
Strange, it's uppercase in my local repo, but lower on Github. Have to Google this, never came across something like it before.

[2018-04-13 13:34] drcmda commented on #27
`git config core.ignorecase false` did it, it's updated now ... Thanks!

[2018-04-13 13:53] samrith-s commented on #24
@drcmda Alright, thanks!

We are porting our app to R16 soon. Will let you know if we face the same issues!

As for the flicker, I was just testing it out, coz we have a tiny mini game which required physics. So was trying to use it there. Were adjusting the friction and tension based on how much you dragged a person and then let them go on different surfaces. :)

[2018-04-13 13:58] techniq commented on #27
you could also use:
[code]
if you wanted

[2018-04-13 14:56] legodps opened #28 "Altering Arc Animation Errors"
In animating a change of path that involved an arc, it appears that the arc changing the large-arc flag from 0 to 1 or vice versa causes problems as the browser attempts to render decimal values:

Is there a way I can tell it to just flip from 0 to 1 at the halfway mark? Once it reaches 1 or 0 it renders fine, its just the transition.

react-dom.development.js:2691 Error: <path> attribute d: Expec

[2018-04-13 15:14] drcmda commented on #28
Do i understand you right, you have a flag that toggles between 0 and 1 and you want to set it on something that animates?

If that's so ...

1. don't animate it, path={`${animatedValue} ... ${valueFromState}`}

2. use immediate:

    <Spring to={{ someValue: 1, opacity: 1, ... }} immediate={['someValue']}>

3. or interpolate

    import { Spring, interpolate } from 'react-spring'
    ...
    path

[2018-04-13 15:43] nnecec opened #29 "The demo : Parallax and page transitions, online demo is not same as gif"
https://codesandbox.io/embed/548lqnmk6l
this online demo is not same as gif, and the online demo look like bug.

[2018-04-13 15:53] legodps commented on #28
the value itself is part of a path variable. It contains an arc segment. In arc segments, there are some values that are binary 0 or 1 flags. I need to include this in the definition of the path and by default it appears that the spring attempts to change from 0 to 1 by small percents.

[2018-04-13 17:52] nnecec commented on #29
sorry... it's about browser capabilities. In safari, it has some problems.

[2018-04-13 17:52] #29 closed

[2018-04-13 19:23] ealvarezk opened #30 "Feature Request: auto as height"
I was reading the documentation and I couldn't find a way to set auto as enter height prop, as you can see in this example:
[code]
I think that will make easier to add elements as children without worring the height of those elements.
If it helps you there is another component, that can do that https://github.com/Stanko/react-animate-height

[2018-04-13 19:46] drcmda commented on #28
could you paste the line of code in which you're feeding the path and how the path comes to be, that would help me understand what's going on.

[2018-04-13 19:47] #27 closed

[2018-04-13 19:54] drcmda commented on #30
i think it needs to know how high the element is. I remember struggling with this since i began coding for the web, many years ago. There are some solutions today, flexbox, grid, etc. for instance 0fr - 1fr is numerical, hence it can be animated. Otherwise, react-animate-height looks interesting but it's hard to understand what it's doing. If it doesn't blow out the weight of this lib and if it's

[2018-04-13 21:15] drcmda commented on #30
Thanks for these links, very interesting! If we can manage to break it down here, what must be done, and how, i'd open to add it wherever it makes sense, perhaps the animated-core or a helper. In the react-motion issue they were talking about first rendering the thing, calculating height, then overwriting 'auto'. I haven't been fooling around much with the dom lately, but couldn't you measure dom-

[2018-04-13 21:17] drcmda commented on #30
Fished this off stackoverflow:

[code]

[2018-04-14 03:02] techniq commented on #30
@drcmda I was thinking about how integrating a function for this purpose might work before reading your comment, so might be on to something.  I was thinking of an explicit `measure` function you could pass where you either pass the DOM node and get the measurements yourself (using `node. getBoundingClientRect` or `node.clientWidth`/etc or you pass in the dimensions into this function to make it e

[2018-04-14 08:12] #24 closed

[2018-04-14 12:54] drcmda commented on #30
Made a first rough draft:

<img width="1680" alt="screen shot 2018-04-14 at 14 50 53" src="https://user-images.githubusercontent.com/2223602/38768388-49890d30-3ff3-11e8-8c1d-07f4728fdfe3.png">

It's super messy but the essentials are there. animated-core "accepts" the `auto` value, meaning it will just channel through without trying to animate anything. Spring.render will render into a portal when

[2018-04-14 12:58] drcmda commented on #30
<img width="1680" alt="screen shot 2018-04-14 at 14 58 16" src="https://user-images.githubusercontent.com/2223602/38768451-4bd1359e-3ff4-11e8-9351-5d2d8c1c5c37.png">

[2018-04-14 13:10] techniq commented on #30
@drcmda the tie to react-dom would be a bummer.  I know for VX we are looking into supporting react-native and `<canvas>` along with `<svg>`.  I know the measurement side will likely have to be DOM-specific, but it would be nice if react-spring could stay agnostic / module (although if you don't use 'auto' I don't guess it would break these other environments).

Any way to pull what you have into

[2018-04-14 13:59] drcmda commented on #30
Thought about it some more, i think there might be a more composable way:

[code]

[2018-04-14 21:04] drcmda commented on #30
Alright, working nicely!

![auto height](https://user-images.githubusercontent.com/2223602/38772470-e38c4c3c-4037-11e8-83fd-535721e8597a.gif)

This is how a auto-height spring toggle would look like:

[code]

It's sure a bit more than just saying height: 'auto' and everything works like magic, but then again, magic will never work in all cases (grids, etc.), but this actually could since it's expl

[2018-04-15 02:05] techniq commented on #30
@drcmda killing it as always 😄

All of this could be encapsulated into a ` <Collapse />` component in userland or as a separate addon/module.

How often is `MeasureOnce` injected?  I'm assuming once per toggle?  I would figure it would need to be so it can re-measure if the children changes size (adds text, reflow layout, etc).

[2018-04-15 02:49] mjsisley opened #32 "Non minified esm bundle"
https://github.com/atlassian/react-beautiful-dnd/issues/437 is discussing moving that library to react-spring, but looks like a non-minified esm bundle is of interest for debugging purposes.

I'm a third party, but when using react-spring and it would be great if a higher level library like react-beautiful-dnd was useable without bringing in another animation library.

[2018-04-15 14:38] drcmda commented on #30
It would be called on every render, basically wrapping it. For the purpose of a Spring it would be enough, because deeper change detection could be done in the Injection class. I'm toying around a bit more meanwhile, and i think there might be a way to do all of this completely automatic, without having to listen to offscreen flags and so on. The injection component would need access to to/from va

[2018-04-15 14:59] techniq commented on #30
That sounds great (like animation middleware).

On Sun, Apr 15, 2018, 10:38 AM Paul Henschel <notifications@github.com>
wrote:

[2018-04-15 15:17] techniq commented on #30
Something like this should also work for a react morph-like API where the
from and to are calculated (off different elements). Might also work to
pass from/to into the child render function... But needs more thought.

On Sun, Apr 15, 2018, 10:59 AM Sean Lynch <techniq35@gmail.com> wrote:

[2018-04-15 22:06] drcmda commented on #30
Got it more or less down: https://codesandbox.io/s/pmjomxn60

The middleware looks like this: https://github.com/drcmda/react-spring/blob/inject/src/addons/fixauto.js

[2018-04-15 23:38] techniq commented on #30
Looks great. I hope to get some time in the coming weeks to experiment more
(curious if I can translate one of my react-flip-move examples using this
now, and if shared element transitions are possible as well). Thanks again
for all the hard work.

On Sun, Apr 15, 2018, 6:06 PM Paul Henschel <notifications@github.com>
wrote:

[2018-04-16 11:53] Godsenal opened #43 "Unmount after transition."
Hi. First of all Thank you for the awesome library!
I'm trying to make notification list with `<Transition>`.
https://codesandbox.io/s/6v4xqkmlmk
This is my sample code. What i'm tying to do is,

1. Push notification component to the `this.state.notifications`, when button is clicked.
2. Remove notification after timeout or has been clicked.

So, `enter` and `leave` props working correctly. Opacit

[2018-04-16 11:56] drcmda commented on #43
@Godsenal this is something that sneaked into the last update i believe. I am aware of it, will be fixed soon.

[2018-04-16 13:06] Godsenal commented on #43
Thanks a lot!!

[2018-04-16 13:11] nickmcmillan opened #44 "v4.1.3 route transitioning does not remove previous DOM nodes"
Hi there, thanks so much for your work on this library.

In your React Router example after a transition is complete the old DOM node is removed (which is correct behavior); https://codesandbox.io/embed/xo0lrqw2nz

In this example if I upgrade the library version to v4.1.3 (which is the latest version at time of writing) I notice the previous DOM nodes no longer get removed as they should. Here's

[2018-04-16 14:45] drcmda commented on #44
Yep, sorry for that, it's the same issue as https://github.com/drcmda/react-spring/issues/43

The Transition component has a bug in the latest that prevents it from removing stale components. Fix will come up.

[2018-04-16 18:15] #43 closed

[2018-04-16 18:17] drcmda commented on #43
@Godsenal it should be fine now, @4.1.4

[2018-04-16 18:17] drcmda commented on #44
@nickmcmillan it should be fine now, @4.1.4

[2018-04-16 18:17] #44 closed

[2018-04-16 20:28] techniq commented on #30
@drcmda I had literally a few minutes to play around with this today but wanted to test out the calculation on children change and works great!  https://codesandbox.io/s/yk7o70v0wv

Still need to find time for the other examples (really curious about how these will port: https://codepen.io/techniq/pen/qNrYYb / https://codepen.io/techniq/pen/WxaxaR)  Hopefully I can get some time this week to give

[2018-04-16 20:43] drcmda commented on #30
Awesome! BTW, i had some idea for this. animated is made of targets, we're using react-dom atm. It could auto-inject this "middleware" for this target. then nothing would be needed, no addons, no manual injects. And Spring wouldn't rely on react-dom, only when it's using that target.

In the last update i've made some preparations for this. middleware for instance can channel through if it doesn't

[2018-04-16 20:50] drcmda commented on #30
@techniq would you like to try out writing a primitive for flip? I have read a blog about it now, but still scratching my head over what it actually does. I guess i've just never had that problem before.

[2018-04-16 21:06] techniq commented on #30
@drcmda FLIP itself is mostly for performance reasons so you only use composite step style attributes (and do not perform a layout or paint step) which basically boils down to only using `transform` and `opacity` to get the end result (using scale to change width/height and translate for x/y basically).  You can see more details on which style properties cause which of the steps (layout, render, c

[2018-04-17 06:34] drcmda commented on #30
@techniq animated comes from react-native, it would work - just needs a few touches. `Spring` is tied atm to targets/react-dom. But just loosely because it references some stuff. I think only 3 things are different between the targets: requestAnimationFrame, cancelAnimationFrame, and the element names (div, span, ..., View, Text, ...). In animated you pull the lib like so: `import Animated from 'a

[2018-04-17 10:43] techniq commented on #30
Sounds good. I'll pass the word along. Elijah works at Netflix btw (the VX
devs mostly work at Airbnb though, except me)

On Tue, Apr 17, 2018, 2:34 AM Paul Henschel <notifications@github.com>
wrote:

[2018-04-17 11:48] legodps commented on #28
`function getPathActive(origin, radius, start, end, arc= 0, mod, hoverStr) {
  const M = `M ${origin.x - (mod.x * (1 + hoverStr))} ${origin.y - (mod.y * (1 + hoverStr))}`;
  const L1 = `L ${start.x - (mod.x * hoverStr)} ${start.y - (mod.y * hoverStr)}`;
  const A = `A ${radius} ${radius} 0 ${arc} 1 ${end.x - (mod.x * hoverStr)} ${end.y - (mod.y * hoverStr)}`;
  const L2 = `L ${origin.x - (mod.x *

[2018-04-17 11:53] drcmda commented on #28
@legodps  If you build the path like this and pass it to the spring as a full string, then it won't be able to know if anything in it is supposed to be binary. The default svg interpolator is pretty dumb. You might have better look with something more specialized like flubber or d3-interpolate: https://codesandbox.io/embed/lwpkp46om

Or, you provide the spring with all the moving pieces up front:

[2018-04-17 19:36] legodps commented on #28
gotcha, thank you for taking a look.

[2018-04-17 19:36] #28 closed

[2018-04-17 21:23] mvasin opened #51 "Update readme on how to use react-spring with react-router"
There is a section in readme called "Parallax and page transitions", that contains some guidance on parallax, but not about page transitions, at least not in `react-router` terms.

I'd love to find out out how to use `react-spring` and `react-router` together, and have readme updated on that.

[2018-04-17 21:46] drcmda commented on #51
There's an example: https://codesandbox.io/embed/mjnwrk1o3p

[2018-04-17 22:17] mvasin commented on #51
OK, I missed the link in the readme, now I see it. Thanks!

[2018-04-17 22:17] #51 closed

[2018-04-17 23:41] taylorlapeyre opened #52 ""auto" value does not work with react-router (or any other context-based APIs)"
Since the addition of `"auto"`, any components rendered inside of a Spring that uses `'auto'` as a value do not receive the "router" context, resulting in bugs:

![screen shot 2018-04-17 at 4 38 23 pm](https://user-images.githubusercontent.com/1610503/38904178-cb07f9a4-425d-11e8-9445-f5b77af7b1ca.png)

![screen shot 2018-04-17 at 4 39 21 pm](https://user-images.githubusercontent.com/1610503/389042

[2018-04-18 01:58] leonascimento commented on #8
Hey guys, this is a great enhancement, @drcmda can I do it?

[2018-04-18 06:32] Cryrivers commented on #26
I'm currently evaluating the transition from `react-motion` to `react-spring` in our products, might have time to make the type definition.

[2018-04-18 06:36] drcmda commented on #8
@leonascimento For sure! 😃

[2018-04-18 21:47] subtleGradient opened #54 "Generate Keyframes from Adobe After Effects"
Maybe reuse some of the code from Facebook Keyframes After Effects exporter:
https://github.com/facebookincubator/Keyframes/tree/master/scripts
https://github.com/facebookincubator/Keyframes/blob/master/js/src/AECompToKeyframesAnimation.js

Or maybe use the Lottie stuff instead.
http://airbnb.io/lottie/
https://aescripts.com/bodymovin/

(I'm not as familiar with how Bodymovin works)

[2018-04-18 21:49] subtleGradient commented on #54
react-spring is crazy awesome! I'm excited to start playing around with it

[2018-04-18 21:54] jeef3 opened #55 "onRest not called when using Transition"
`onFrame` works, but `onRest` is never called when using `<Transition />`.

[2018-04-18 21:56] drcmda commented on #55
Transition doesn't technically have a beginning and an end, it just reacts to random child-component lifecycles. Could you describe what you're trying to do?

[2018-04-18 22:00] jeef3 commented on #55
Yeah, it's a little bit of a weird case, especially when it looks like `Transition` is designed for use with lists. I'm using `Transition` for its enter/leave capabilities on a _single_ component. So I effectively want to know when that component has finished being shown or hidden.

_I looked in the src and `onRest` is right there, just not passed through to `Spring`. So I created #56. Not sure no

[2018-04-18 22:09] drcmda commented on #55
Ah, so it's that, it's fine - it takes a list or a single component. Transition is kind of tricky.

[2018-04-18 22:11] #55 closed

[2018-04-18 22:15] jeef3 commented on #55
Yup! :smile:

The longer version:

I don't like `ReactTransitionGroup`'s API. It is geared towards adding/removing classes. I prefer working with `Animated` for its interpolation (given a 0–1 progress value, interpolate for me from `15px`–`213px`) so I can write up a custom `translate3d(x, y, z)` style.

I also want the enter/leave states handled for me. Leave is the most important as I don't want

[2018-04-18 22:29] drcmda commented on #55
@jeef3 When you feel like you have something that resembles a general usecase and it warrants a Flip primitive, would love to get something like this as a pr. As you've seen, the primitives are more-or-less simple classes that wrap around animated, like so: https://github.com/drcmda/react-spring/blob/master/src/Trail.js

There's been a request for it already: https://github.com/drcmda/react-spring

[2018-04-18 22:35] jeef3 commented on #55
Will see what I can do! The use case in #9 is a little different to mine, but yes, I'll see if I can pull together a better use case.

[2018-04-19 06:11] szahn opened #61 "Interrupting CSS transition in progress causes duplication of transition target"
I noticed that during a transition, if the transition is reversed due to a UI interaction before it can be completed, it causes strange DOM issues.

For example, in the demo below, if you press "toggle" to show the form but then quickly press the hide button before the transition can complete, it will duplicate the DOM element. The expected behavior should be that if the transition is interrupted

[2018-04-19 07:53] drcmda commented on #61
This happened in the router example, and only seems to affect "native" - it has something to do with the onRest which fires when dead components have animated out. Will look into it this evening.

[2018-04-19 09:01] drcmda commented on #2
The spring is pretty forward in what it does, it simply moves props (or styles) from here to there. It should work with any react component.

[2018-04-19 09:05] drcmda commented on #54
Thanks! I'm not so familiar with these AAE, Bodymoving and Lottie, but if you are familiar with any of it, you could try setting up a primitive. The lib exposes animateds low level stuff, like AnimatedValue and so on. For instance from what i've seen in lottie-react-native, the API could be mapped like that if you wanted. PR's for new primitives are definitively welcome!

[2018-04-19 11:36] kronkake opened #62 "Passing props to child component of Transition component"
Hi!

When attempting to pass props down to child components of Transition as shown in this sandbox here:
https://codesandbox.io/s/1qyokz1j3j
There seems to be some issues.

Is this the correct way of doing it or have I misunderstood something?

Btw great work on the library, I really love the simple and straighforward API!

[2018-04-19 18:43] dmk255 commented on #1
I'd also like to chime in that the provided examples are a little complex.

For example, I've been having some trouble just animating a div to slide in from the left of the screen. It think it'd be great to have some extremely basic examples.
* Fade in / out a div
* Move a div left and right on click of a button.

And by div I mean something as simple as:
[code]

[2018-04-19 18:55] drcmda commented on #1
@dmk255 could you solve your sliding div?

The problem seems to be that if they're too simple, then a little more daring use-cases will be out of reach. The simplest possible examples are on the frontpage, a fade-in for instance.

[2018-04-19 20:45] drcmda commented on #61
@szahn

Your  code had a couple of problems, you are recreating the function you give to Transition on every render, thereby confusing it (and react). For transition these aren't the same component, they're different components.

[code]

This would work.

You also forgot to set `native` on Transition, so although you use animated.div in there, it has no effect. Now there's a bug in react-spring st

[2018-04-20 17:11] drcmda commented on #52
@taylorlapeyre could you try with @4.2.1-beta.0 ? It *should* be fixed now. It attempts to render out the middlewares result instead of relying on a promise, thereby the fragment ends up in the same render-tree, which hopefully doesn't break context.

[2018-04-20 18:33] taylorlapeyre commented on #52
@drcmda Yes, I'll give it a shot!

[2018-04-20 18:37] taylorlapeyre commented on #52
@drcmda it's working beautifully now!

[2018-04-20 19:14] jeroenvisser101 commented on #52
@drcmda Will test with router and styled-components w/ ThemeProvider, will update

[2018-04-20 20:24] jeroenvisser101 commented on #52
Totally works now!

[2018-04-20 21:11] jeroenvisser101 commented on #52
Update: tried this a little more and it seems that when the portal is created, the style of the page is (very briefly) removed. When you have custom fonts you can observe fonts changing back to serif font.

[2018-04-21 00:10] jlarmstrongiv opened #65 "Refs in Parallax Example"
Nothing major.  React 16.3 just deprecated string refs in favor of the callback refs API `ref={el => this.el = el}` or the new createRef API `el = React.createRef();` with `ref={this.el}`.

The Parallax [example](https://codesandbox.io/embed/548lqnmk6l) could be updated with either:

_callback ref API_
[code]
_createRef API_
[code]
I’m enjoying learning with the docs and examples 🙂

[2018-04-21 07:47] jeroenvisser101 commented on #52
font-family is set on `:root`. Also, the Spring and `animated.div` should not (?) affect the rest of the page, right? There's 2 frames in that video where the whole page's font-family resets for some reason.

[2018-04-21 07:59] drcmda commented on #52
Spring and animated.div are just regular components, must be something else. The portal renders off-screen in a div set to `position:static;visibility:hidden;`, but it isn't shown, we pick bounds and then the element renders like always, with `auto` being overwritten by the new bounds. I couldn't imagine any of it would have an impact on the font-family. Here's some info on how fout can come about

[2018-04-23 11:09] ralphstodomingo commented on #24
@drcmda, Thanks for your hard work with this library! I find it really intuitive to use.
I just have a question about Trail and Transition. All examples use maps of some sort. How would an example look like if a raw array is used as the children of these primitives?
I can't seem to get it to work, always tells me `target.map is not a function`, but I make sure to return an array of functions.

[2018-04-23 11:32] drcmda commented on #24
Both expect an array of functions as their children. If your state is an array already then that's easy, give it the keys

    keys={this.state.data.map(item => item.key}}

and the children:

    {this.state.data.map(item => props => <div style={props}>{item.text}</div>)}

Where `props` is the part that contains the animation values, just like in a regular spring.

If your data isn't an array but

[2018-04-23 11:36] drcmda commented on #24
As for `target.map is not a function` ... this comes from Trails render function:

<img width="654" alt="screen shot 2018-04-23 at 13 35 02" src="https://user-images.githubusercontent.com/2223602/39124280-2b77eef6-46fb-11e8-8736-2596a52e66f4.png">

In other words, you didn't provide an array as Trails children, but something else.

[2018-04-23 11:52] VladimirMilenko opened #66 "Duplicate keys warning found on version higher than 4.0.1"
Hey there,
I was trying to add react-popper to use it with react-spring, but with versions higher than 4.0.1 i'm getting errors `Encountered two children with the same key`
I've put it in codesandbox, popper isn't working correctly, but it's enough.

Just click multiple times on `Open` and you will see lots of warnings in console.

https://codesandbox.io/s/1vl92kvq97

[2018-04-23 13:41] VladimirMilenko commented on #66
Cool, thank you. WIll also open a PR for react-popper to make sure, no-one is confused by it's example.

[2018-04-23 13:41] #66 closed

[2018-04-24 00:05] ugin opened #67 "Transition animation issue"
Hey, I found an issue that was introduced in v4.0.2 in [Transition.js](https://github.com/drcmda/react-spring/blob/master/src/Transition.js#L173)

Working example: https://codesandbox.io/s/2jo121296p (v4.0.1)
Example with issue: https://codesandbox.io/s/1rv0w62rkj (v4.0.2+)

On both examples click fast on the green body. In the working example the animation goes in one direction, in the one with t

[2018-04-24 06:12] ralphstodomingo commented on #24
Thanks! I got it working for some reason when I made a separate array instead of returning an array directly in the render function/jsx.
Really intuitive, getting the hang of native keyframe animations.

[2018-04-24 07:38] drcmda commented on #24
@ralphstodomingo good to hear! maybe console.log out the prior array for once, must be somthing very weird going on in it if it doesn't have the .map method, but good you solved it.

[2018-04-24 07:41] drcmda commented on #67
@ugin  My fault for not spending time on the docs early on - here's the explanation: https://github.com/drcmda/react-spring/issues/66

[2018-04-24 07:59] drcmda commented on #65
@jlarmstrongiv sure, why not, if you like, i'd welcome a pr 👍

[2018-04-24 07:59] drcmda commented on #52
closing this for now, should something else come up i can reopen

[2018-04-24 07:59] #52 closed

[2018-04-24 13:29] crimx opened #68 "Spring config for individual value"
In react-motion I can use different `spring` wrappers for different values, which comes quite handy for controlling values for other components to animate. It seems that react-spring can only set `config` to the component. Will there be support for this? Or is there a better/idiomatic way to achieve this with react-spring?

My use case: I have an icon that may translate and scale. When it mounts,

[2018-04-24 14:55] drcmda commented on #68
@crimx makes sense, i'll add it. I wanted to remove all the parts that i felt like were rarely used but would stretch the api either way.

I could make the config option accept either an object or a function. The function would receive the key. While i'm at it maybe it's a good idea to do the same for `immediate`.

Would that solve your issue?

[2018-04-24 15:16] crimx commented on #68
@drcmda That'll do. I'd say this approach is better. Much cleaner.

[2018-04-24 15:17] drcmda commented on #68
@crimx you can try it now: @4.2.1-beta.1

[code]

-> don't animate "x" and give "y" a special config

[2018-04-24 15:19] crimx commented on #68
Wow that's super fast! I'll try it.

[2018-04-24 15:53] crimx commented on #68
Looks good. Here is the example.

[![Edit 128n84yqj](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/128n84yqj)

[2018-04-24 23:15] crimx commented on #68
@drcmda Thanks for the tips! This is actually the reason why I decided to switch to react-spring! I didn't use it here because in my real use case, the icon is injected to the page, so I need to get around react to set important styles.

[2018-04-25 09:47] pixelass commented on #1
I would be willing to push some work on a better documentation.

## Why?

I want to make libraries like this more popular and easier to use.
I think we could make demos easier to understand and create simple step-by-step-guides for newcomers (to this lib) and designers.

## How

I have been testing several libraries to generate meaningful documentations and guides.

[Patternplate](https://github.c

[2018-04-25 12:16] drcmda commented on #1
@pixelass sounds great, you want to give it a shot and then we review?

[2018-04-25 12:55] pixelass commented on #1
@drcmda your ping was what I was waiting for. I can prepare a proposal within the next few days.

[2018-04-25 16:27] drcmda commented on #67
Found the issue. Need to figure out a minor detail and i'll update.

[2018-04-25 18:05] #67 closed

[2018-04-25 18:07] drcmda commented on #67
@ugin  Should be fine in @5.0.0

Just watch out for a little inconsistency in your sandbox:

[code]

You forgot to set Transition to `native` (although you use animated.div in the render fn), and translateY(0) -> translateY(4rem) doesn't interpolate well because the unit it missing on the first. use `0rem` and it should be fine.

[2018-04-25 19:38] drcmda commented on #9
@techniq i fixed some serious flaws today in the old transition implementation so that it allows for endless elements to fade out even if elements with the same key come in again. And when that worked it had me thinking, isn't transition actually all we need for morph/flip? I mean at the lowest level.

For instance this demo: https://codesandbox.io/s/n8797r26l

Of course it would need a primitive

[2018-04-25 20:49] jeroenvisser101 commented on #52
@drcmda yep, issue was unrelated after all, spring works great now after ditching styled-components' `injectGlobal` for font injection

[2018-04-26 03:01] nelsliu9121 commented on #26
Should this issue be reopened? Due to the fact that the typing is only half finished, and ts compiler will scream when you use components other than `Spring`.

[2018-04-26 06:19] drcmda commented on #26
Sure.

[2018-04-26 12:55] ZakKa89 opened #70 "Browser support?"
I can't find anything in the documentation about browser support.
I tested a trail animation in crossbrowsertesting and got the following error on iphone ios, but also on older chrome versions on android:

![image](https://user-images.githubusercontent.com/24491661/39308497-e34b601e-4965-11e8-91ec-b080e1d8ebd8.png)

Could I get a little bit more insight on browser support, or any advice to fix thi

[2018-04-26 13:16] drcmda commented on #70
@ZakKa89 is it just Object.values or did you see something else? I could use Object.keys instead. Though i think the lower you go with support there'll be something eventually that isn't understood (for instance, Promises). Babel with node_modules included would polyfill these things away. Is that an option? Do you know if you have at least promise support?

[2018-04-26 13:25] ZakKa89 commented on #70
We do use babel to transpile, but we might have to check our babel settings. We're going to check it out, at least I know where to look.

[2018-04-26 13:25] ZakKa89 commented on #70
Yes  I will try that as well

[2018-04-26 14:42] ugin commented on #67
Awesome work sir! Started reading the source yesterday, I'm new to animations in React, really useful, thank you!

[2018-04-27 11:49] anilljoshi opened #71 "react-spring.es.js?1586:2126 Uncaught (in promise) TypeError: __WEBPACK_IMPORTED_MODULE_4_react___default.a.createContext is not a function"
it showing me following error: react-spring.es.js?1586:2126 Uncaught (in promise) TypeError: __WEBPACK_IMPORTED_MODULE_4_react___default.a.createContext is not a function.

Here is my code:
<Router>
        <ErrorBoundary fallbackComponent={AppError}>
           <Transition
                native
                config={{ tension: 1, friction: 10 }}
                keys={location.pathname.split('/

[2018-04-27 11:57] TrySound commented on #71
@anilljoshi Do you have any errors in terminal where you run webpack?

[2018-04-27 12:23] TrySound opened #72 "Remove Parallax.Layer in favor of named export in the next major release"
https://github.com/drcmda/react-spring/commit/f2d0137b36215d8e67d14a184f2ee912e49288b2#diff-11538ab7c7691ae187abb1e9124a1c6fR131

[2018-04-27 12:47] orarr opened #73 "import { Spring } from 'react-spring' collapses my react application"
Dependencies
"react": "^15.6.0",
"react-spring": "^5.0.1",

Just the import of 'react-spring'
`import { Spring } from 'react-spring'`
and react renders nothing with the
 `<div id='root' ></div>` empty.
If i comment the import line, everything becomes Ok.
I find it strange. And no error is reported.

[2018-04-27 12:55] orarr commented on #73
So i just degraded to v4.2.1 and it works perfect.

[2018-04-27 14:28] TrySound commented on #73
@orarr react-spring 5.*.* requires react 16.3.*.

[2018-04-27 14:40] TrySound commented on #71
@anilljoshi You probably need to update react. spring requires react 16.3

[2018-04-27 14:42] TrySound commented on #73
Take a look at npm/yarn warnings please
https://github.com/drcmda/react-spring/blob/master/package.json#L75-L76

[2018-04-27 14:42] #73 closed

[2018-04-27 14:42] TrySound commented on #71
Take a look at npm/yarn warnings please
https://github.com/drcmda/react-spring/blob/master/package.json#L75-L76

[2018-04-27 14:42] #71 closed

[2018-04-29 09:49] TrySound commented on #72
@drcmda I think it will be a breaking change. I kept it for 5, but skipped it.

[2018-04-29 10:30] drcmda commented on #72
I had it in the back of my mind but forgot to include it 😱next one it'll be in.

[2018-04-30 13:12] pixelass commented on #1
@drcmda I have a working example but had to make minor changes to the examples folder

## Imports

[code]

**This issue* occurs due to the hard-coded dependency of regeneratorRuntime in some examples (e.g. timing)**

## Styles

All `styles.css` files were renamed to `index.css`

**I added an `index.css` file for every demo to ensure covering the page and providing a stable viewport**

## Result

E

[2018-04-30 15:42] drcmda commented on #1
@pixelass cool, curious how it'll look. We can use this issue or the pr to work on it.

[2018-04-30 16:14] pixelass commented on #1
@drcmda I'll just keep commenting here then since it's  in context of the original issue.
I was able to refactor my example so the `styles.css` remains untouched.

Here's the demo:

https://pixelass.github.io/react-spring/manual/

Inline demos can be seen here:

https://pixelass.github.io/react-spring/manual/doc/API-OVERVIEW

![react-spring-patternplate_2](https://user-images.githubusercontent.com

[2018-04-30 19:08] drcmda commented on #70
I have published 5.1.0, which uses Object.values.

[2018-04-30 19:08] #70 closed

[2018-04-30 22:42] taylorlapeyre opened #74 "height: 'auto' calculates incorrect height for some elements"
Hi again! Looks like the [height calculation](https://github.com/drcmda/react-spring/blob/master/src/animated/targets/react-dom/fix-auto.js#L39) in fixAuto is not ending up with the right height for some elements.

I've noticed that it happens with elements who have text that wraps and makes the height larger than it would otherwise be. Increasing the width of those elements to the point where the

[2018-05-01 08:10] drcmda commented on #74
@taylorlapeyre Could you try it? You don't even have to for, make a local copy of this file: https://github.com/drcmda/react-spring/blob/master/src/animated/targets/react-dom/fix-auto.js

And do this:

[code]

It could also happen if the object doesn't have bounds, because it is projected to the document root without any container that restricts it. This could be fixed by measuring out the cell he

[2018-05-01 20:15] andtos90 opened #75 "Transition leave has undefined as first argument"
I just started a new project with create-react-app and included the tree example without changes. When a node is clicked everything works as expected but every time you try to collapse a node this error pops up:

This error occurs because the `leave` prop of the `Transition` component has `undefined` as first argument. This happens only with react-spring version >= 5.0.1 (5.0.0 is fine).

### Repr

[2018-05-02 11:49] pixelass commented on #65
Here's an updated Codesandbox: https://codesandbox.io/s/z3q46x4l74

[code]

I'm not sure how to create a PR for this though. I guess you might want to copy the changes to your example to make sure you can keep the ownership (?)

[2018-05-02 17:31] taylorlapeyre commented on #74
@drcmda thanks! While trying this out I ran into a small issue - we are using `Transition` here, not `Spring` directly. Is there any way to inject my new version of `fixAuto` with this setup?

[2018-05-02 17:47] drcmda commented on #74
Should be the same, inject should be able to take in injects as well.

[2018-05-02 21:39] #75 closed

[2018-05-02 21:40] drcmda commented on #75
should hopefully be fixed in 5.1.1

[2018-05-02 21:54] drcmda commented on #74
@a-type The first solution, just leaving out the portal worked? Or did you run into another issue with that. I don't quite follow with the scrollheight stuff. And did you notice any flicker? It's weird, there should be, but i haven't seen any - but anyway, the inject stuff is the right way, userland shouldn't be too complex i agree fully. We only need to hack out a good strategy for it and i'll up

[2018-05-03 03:11] a-type commented on #74
@drcmda The portal was my problem. `clientHeight` was no different from `getClientBounds`.

I didn't see any flicker when I removed the portal, but just to be sure, I suggested another solution which I posted the code for above. Basically, you render the element in place with `height: 0; overflow-y: auto`. Then, you have an accurate width. Instead of taking `clientHeight`, you take `scrollHeight`.

[2018-05-03 07:13] drcmda commented on #74
Now I get it, that‘s really clever! Is that a common thing or did you just unearth it? Could you click the PR button on your fork, it’s only missing width and we could merge.

[2018-05-03 12:52] a-type commented on #74
Just occurred to me as I was tinkering with it. I'll open a PR soon.

[2018-05-04 06:33] luddzo opened #77 "Interpolating curved paths"
Interpolating the following gives a '**Uncaught TypeError: Cannot read property 'push' of undefined**':

`const toggledPathCurved = "M0.9,19c-9.2,0,56.5,0,48.4,0C34.3,19,32,0.6,25.1,0.6S12.4,19,0.9,19z";`
`const disabledPathCurved = "M0.9,38c-9.2,0,56.5,0,48.4,0c-15,0-17.4,0-24.3,0S12.4,38,0.9,38z";`

While these paths work fine:

`const toggledPathSimple = "M20,380 L380,380 L380,380 Z";`
`const d

[2018-05-04 06:44] drcmda commented on #77
You can only interpolate matching patterns, it doesn’t know what svg paths are otherwise, but if the structure matches it can manage, for instance if the number of points is the same as well as the format. For more complex paths use a custom interpolated, there’s an example in the examples page using flubber.

[2018-05-04 11:57] AndreasFaust opened #78 "Transition Events"
Hello there! First of all thanks for this great library. As an enhancement I would suggest events for the different states of Transition (enter-start, enter-frame, enter-rest and so on). Or is this something, that has to be solved by Keyframes?

[2018-05-04 12:18] drcmda commented on #78
@AndreasFaust Each primitive can take in `onRest` and `onFrame`, the former triggers when the animation concludes, the latter triggers on every frame and gives you the current values. Keyframes are similar, internally they also just use these callbacks.

[2018-05-04 12:42] AndreasFaust commented on #78
Thank you very much for the quick reply!
Didn't know, that onFrame and onRest also apply to Transition. But how can I bind these events to certain Transition states only? I want to create a routing transition, where the next route is faded in, when the previous has faded out. For that I want to dispatch a redux action ("hasLeft") on "Transition leave rest" (and not "Transition enter rest"). To dif

[2018-05-04 12:48] drcmda commented on #78
Actually i got that wrong myself, you're supposed to return the animation values in from/enter/leave/update, so that makes it possible to return individual values or listen to app state:

[code]

[2018-05-04 12:58] AndreasFaust commented on #78
Thanks for explaining, you helped me a lot!
Have a nice weekend!

[2018-05-06 12:54] Vandell63 opened #79 "Add Trail to typescript !"
This is just a simpler question about the typescript implementation for some of your feature like the Trail class... Add this class in your typescript still in your road map ?
Thx in advance. And a big thx for this package...

[2018-05-06 19:16] dannymy opened #80 "Keyframe doesn't animate background prop"
The [Keyframes/single script demo](https://codesandbox.io/embed/j1w4355593) from the examples section does not animate background property, when `React` and `react-spring` are updated to `^16.3.1` and `5.1.1` versions respectively. Can be reproduced [here](https://codesandbox.io/s/9y3o1y9824), on a forked sandbox.

[2018-05-07 09:02] thebuilder opened #81 "template object for native springs"
Trying to get a native Spring to work, and came across `import {template} from 'react-spring` in some of the examples. But there is nothing called `template` inside the project, and trying to import it just returns undefined. Is it an old outdated value? If so what should you do instead?

**Example:** https://codesandbox.io/embed/vvmv6x01l5

[2018-05-07 14:15] Hamatek commented on #3
anyone managed to make it work with RN ?

[2018-05-08 01:36] natew opened #82 "Trail: configure delay between items"
Love the library. Small feature request!

Trails would be greatly enhanced with a prop to configure delay between items. Ideally perhaps optionally taking an array that lets you have different delays for each item, or a single number for all.

[2018-05-08 08:10] drcmda commented on #80
@dannymy should be fixed in 5.1.2

[2018-05-08 08:10] #80 closed

[2018-05-08 08:13] drcmda commented on #81
Template was removed a while ago, see: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#native-rendering-and-interpolation-demo

I fixed the demo, too

[2018-05-08 08:13] #81 closed

[2018-05-08 08:18] drcmda commented on #82
@natew in the current implementation trails basically follow their parents.

But these primitives are just building blocks around spring, you could copy this: https://github.com/drcmda/react-spring/blob/master/src/Trail.js and make your own rules.

[2018-05-08 21:16] stolinski opened #83 "Multiple Interpolate Results"
Let's say you wanted to drag left and right and interpolate a rotation from the deltaX. Using  `.interpolate({ map: Math.abs, range: [0, 300], output: [0, 90], extrapolate: 'clamp' })` could work for the rotation, but how do you interpolate both a rotation value and a translate value from the same source.

Using https://codesandbox.io/s/74l3qwjv2j I'm looking to interpolate the rotate value from t

[2018-05-08 21:35] radudascaluntt commented on #26
Hey everyone,

I've tried to add the missing types. I'm relatively new to TypeScript so I'm sure I did something wrong. Basically I was just copy & pasting the stuff that I have found in the initial `index.d.ts` file.

It would be great if I can get some advice/help on how to test the annotations before I do a pull request.

[2018-05-08 22:46] drcmda commented on #83
@stolinski

first of all fetch `interpolate`

[code]

If you can make do without extrapolating and stuff, then it's easy:

[code]

If you need to extrapolate:

[code]

[2018-05-08 23:27] drcmda commented on #83
Btw, i just realized why the name seemed so familiar, i'm an avid syntax listener 😀

[2018-05-09 06:39] Cryrivers commented on #26
@radudascaluntt no worries, you can just create a PR!

[2018-05-09 07:42] radudascaluntt commented on #26
Will make the PR from another account. I forgot I was using this one yesterday :)

[2018-05-09 17:57] nathanmarks commented on #74
@drcmda Do you know when you might release this? Deciding whether to add the fix to my codebase or wait it out

[2018-05-10 09:40] drcmda commented on #74
@nathanmarks It's out under @5.1.3, i actually thought i already did publish hence the close - must've been confused. 😵

[2018-05-10 17:35] natew commented on #82
Ok so forked it, but realized the config option `delay` only works with Timing based transitions. Not sure how to do this with springs.. perhaps do some sort of `hold` and then setTimeout and un-hold in order?

Would a `delay` option in spring configs seem as helpful to you as it does to me?

Then Trail's could take a single `getProps` function that would pass the index for each item, and you coul

[2018-05-11 02:00] thiagomurakami commented on #1
Hi, first of all thanks for the library, it's awesome!

I'm not sure if this is the right place to comment, but I didn't want to open a new issue just to share an example I made.

My use case was animating a form and I had to make a few workarounds to make a heterogeneous array of components to work with `Trail`. I hope this helps somebody in the future: [https://codesandbox.io/s/04l80xr09p](https

[2018-05-11 07:57] drcmda commented on #82
All configs support a delay, config={ tension, friction, delay } or impl={TimingWhateverTheNameWas} config={ delay, duration, easing }

[2018-05-11 08:14] drcmda commented on #1
@thiagomurakami this is pretty awesome, really nice way to use trail. If you like, polish it a little (centric, some styles, etc.) and i'd love to refer to it in the demos page.

The cloning part can be shortened a little btw, you can spread undefined objects, only undefined arrays don't work.

[code]

[2018-05-11 16:37] drcmda commented on #1
@pixelass I did look into it all but had a super busy run at work that took time away. The idea is to host it on gh pages and it will basically reflect the boring readme.md in a more appealing way with live demos, correct? Is this ready to go into a pr?

[2018-05-11 17:44] pixelass commented on #1
@drcmda the documentation/demo could be hosted anywhere. I just added the gh-pages to show a live version so it is easier for you to decide.

The changes would be reflected as follows:

1. current demo remains landingpage with a link to the docs (not implemented in my demo, example: https://patternplate.github.io/)
2. every example would be rendered as a separate demo
  * each demo can be embedded

[2018-05-12 11:04] Tsury opened #85 "Best way to implement an infinite fade-in fade-out?"
I want an image to fade-in and then fade-out in intervals of 1s with some easing. I'm not sure I understand what's the simplest way to achieve this using react-spring.

[2018-05-12 12:18] drcmda commented on #85
There are several ways to do it,

for instance i have an app that displays some kind of heartbeat:

![heartbeat](https://user-images.githubusercontent.com/2223602/39957159-6a881f56-55ee-11e8-8a42-6b9a227defcd.gif)

I do it this way:

[code]

You could also wait for animations to stop via onRest={() => this.setState(state => ({ fade: !state.fade })}

Or time-based animations with keyframes: https:/

[2018-05-12 17:16] crimx commented on #26
Hi @radudascaluntt I wrote the current `Spring` typing. Didn't write others because I haven't got a change to use them yet.

You can use `tsc` or vscode to test the syntax. It's a bit hard to test integration because the project itself doesn't have testing yet.

I first edited the `index.d.ts` directly within my own project to make sure it worked. And then eyeballed the source for places I wasn't

[2018-05-14 07:31] drcmda commented on #74
@a-type @taylorlapeyre ran into some crazy issues recently with the previous approaches, the flicker is real - on mobile i could see it, and in some cases the calculation was off depending on box-sizing: border-box/content-box. I've made a couple of revisions cherry picking from everything we've discussed so far - it doesn't get clientHeight any longer but calculates using getComputedStyles, prett

[2018-05-14 08:27] janhartmann commented on #30
Will this work with `Transition` as well?

[2018-05-14 08:46] drcmda commented on #30
@janhartmann it should. All primitives basically revolve around `Spring` so when that one can do something everything should be able to do it. I'm pretty sure i tried it, too - but i can't remember which sandbox that was.

[2018-05-14 08:49] janhartmann commented on #30
Hmm, ok. If I do this:

[code]

It fails with a ton of errors in console:

[code]

[2018-05-14 08:51] drcmda commented on #30
Ok this might be because of some changes i have made recently. getComputedStyle is new. Do you have a sandbox i could inspect, that would be great!

[2018-05-14 08:53] janhartmann commented on #30
I just forked this one: https://codesandbox.io/s/x988w9pmxq

[2018-05-14 09:03] drcmda commented on #30
Will take a day, since i'm super busy atm, but tomorrow it'll hopefully be fixed. In the meantime, if it's very pressing, it will most likely start working if you go back a little, something around 5.x.x.

[2018-05-14 09:05] janhartmann commented on #30
Dont worry, I am in no hurry! Take your time - I understand open source can be tough together with other projects. :-)

[2018-05-14 19:05] a-type commented on #74
@drcmda I didn't have luck with `position: absolute` originally, but would be willing to test your changes. Box model improvements sound welcome.

[2018-05-14 19:37] thiagomurakami commented on #1
Didn't know that!

Added some styles on the codesandbox (same link)

[2018-05-15 01:06] mdurbar opened #86 "Transition and Trail, staggered unmounting."
Great library. Was wondering if there was a way to do staggered mounting and unmounting as well?

I know with Trail I can have a delay between the different children, but is there a way to have the same delay, when unmounting an item as well?

[2018-05-15 06:12] drcmda commented on #86
I believe keyframes could switch the primitive, go from a transition to a trail using the same data.

[2018-05-15 06:12] drcmda commented on #86
I believe keyframes could switch the primitive, go from a transition to a trail using the same data.

[2018-05-15 07:14] drcmda commented on #30
@janhartmann should be fixed in 5.1.8

[2018-05-15 07:15] #30 closed

[2018-05-15 20:44] LaxisB opened #87 "Animating many paths with Spring flips coordinate sign"
I'm doing an experiment with animating poly-based images into each other.
Basically i have two images each containing 200 triangles of differing path, fill and opacity.

When i switch in-between them using a Spring with the native attribute, it sometimes causes certain coordinates in the path to have a flipped sign, i.e `d="M158,-130 L 66,24 L 129,2Z"` is instead rendered as `d="M158,130 L 66,24 L

[2018-05-16 07:31] epilande commented on #30
The `fixAuto` doesn't work with `styled-components` probably due to the way `styled-components` handle refs (i.e. innerRef). I forked the code sandbox and added a `styled-components` example https://codesandbox.io/s/mzm40lw178

My current work around is to wrap the `styled` component with a `<div>` element.

[2018-05-16 08:59] drcmda commented on #30
@epilande Oh my, i see, this is going to be more complex ... I made a fix in 5.1.9

Your examples started working, i saw a 3 column grid with the elements side by side. If you run into styling issues or wrong height/width, consider this: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#animating-auto

[2018-05-16 09:58] drcmda commented on #87
@LaxisB could you try with 5.1.10? There's some regexp in interpolate that probably wasn't tight enough: https://github.com/drcmda/react-spring/commit/b673ab7a42a5a5e24bb9fa6e4668ca72df5c3319#diff-90da51f1f7c22bcbcd56dd284e2a08faL122

Does this fix it? Tried your demo and it looked better to me.

[2018-05-16 10:15] drcmda commented on #87
Btw, the key prop should be on the path:

    <animated.path key={p.id} ... />

Spring is just a hoc

[2018-05-16 10:27] LaxisB commented on #87
i can confirm this is fixed.
thanks for the fast update

[2018-05-16 10:27] #87 closed

[2018-05-16 10:36] drcmda commented on #87
@LaxisB it looks awesome btw, could i use that as an example, basically just dump it into a codesandbox?

[2018-05-16 10:54] drcmda commented on #87
Like so: https://codesandbox.io/embed/9jj8py13l4

[2018-05-16 11:18] LaxisB commented on #87
sure. the images belong to ubisoft though.
i can make you one with free stock photos (i guess mountains are a nice motive) .

the process is basicaly running an image through [primitive.js](https://ondras.github.io/primitive.js/), converting the svg to code and then animating it.

[2018-05-16 11:45] LaxisB commented on #87
here's a demo with free images:
https://codesandbox.io/s/y21r23o079
https://codesandbox.io/embed/y21r23o079

i added a comment explaining the concept.
if that's too much for the demo, feel free to fork/edit

[2018-05-16 12:00] drcmda commented on #87
@LaxisB Awesome, i'll add this so others can learn. Btw, how do you create these images, with the same amount of polygons? I love the effect of it!

[2018-05-16 16:26] Monichre opened #89 "Conversion of Vertical Scroll to Horizontal Scroll on Horizontal Parallax"
Is it possible to implement this feature? I'm finding it difficult to add or interject custom scroll behavior given the parallax API. I have not found answers or even examples concerning this area of the package.

Thanks!

[2018-05-16 21:38] dylancristy opened #90 "Props not getting passed down to child SVG elements properly?"
I am trying to animate some "buttons" made with SVG elements, and it seems if I wrap the entire construct in a Spring, some of the props are not passed down to the nested SVG elements correctly.  I've set up the scenario here:

https://codesandbox.io/s/7wo28qm6k0

Please refer first to the NavButtonWorking.js file.  In the example that first comes up, I've wrapped one of the inner `circle` element

[2018-05-17 07:44] drcmda commented on #89
Well you could of course switch the `horizontal={true/false}` flag, whatever happens - never actually tried this. Other than that, most primitives can be easily forked: https://github.com/drcmda/react-spring/blob/master/src/Parallax.js

[code]

[2018-05-19 11:54] rubenspgcavalcante opened #91 "entry.interpolation._interpolation is not a function"
First of all thanks for this awesome library!
So, I've tried the example based on [this one](https://codesandbox.io/embed/9jj8py13l4) using the `primitive` go lib to generate the SVGs.
Then I fetch these SVGs and convert them using the DOMParser API, just to get the attributes of each path node and apply on the `<animated.path />`.
But when Spring tries to animate from one SVG to another, it throw

[2018-05-20 10:37] drcmda commented on #91
@rubenspgcavalcante looks like the example is incomplete, it's missing the svg's.

[2018-05-20 10:40] drcmda commented on #90
@dylancristy I looked over it but couldn't see anything wrong stemming from r-spring, to me the structure itself looks odd though, you're putting a svg into a svg, is that permitted?

[2018-05-21 16:11] natew opened #92 "Parallax effects with custom Layer heights and not using top-level Parallax for scrolling"
We have a site that has some specific needs for it's sizing of sections. A few aren't compatible with Parallax. Namely we have both min-height and max-height requirements.

How hard would it be to have Parallax let you do the following:

1. Pass in a Layer height
2. Allow it hooking into your own custom scroll layer

Number two is important because we want to also keep scroll bounce / have the bod

[2018-05-21 18:42] rubenspgcavalcante commented on #91
Hello @drcmda!
Both images are requested on the app start (you can see on the network tab, both in base64 format, because of the webpack url loader). I forgot to add to the repo (I'll do it right now and post here).

So, both have exactly the same number of paths (50). So basically I map each one to other to try to make the animation.

[2018-05-21 19:20] rubenspgcavalcante commented on #91
Hello @drcmda ,
So, I've updated the example to use the file-loader to load the svg (the url loader change polygons to paths to make it smaller). Also put a `console.log` on the number of polygons I'm using (**50 in each one**). You can see it [here](https://github.com/rubenspgcavalcante/react-spring-sample/blob/master/src/assets/arara.primitive.svg?short_path=c0b62af) and [here](https://github.co

[2018-05-21 21:16] dylancristy commented on #90
@drcmda  Yes, nested `svg`s are permitted, although I may be doing it for the wrong reason.

In any case, take a look at two more files I've added.

In NavButtonThree.js, I took out the `Spring` component but left the inner `Button` as a function, to see if there was anything wrong with having that as a function that receives props and tries to pass them down to inner elements.  That one works fin

[2018-05-22 00:10] bringmethecode opened #93 "How to toggle Transition animation with state in keyframes demo?"
Hello, I'm trying to create an animation like the one from the keyframes demo, but instead of automatically trigger it, I want to enable the animations when state changes (when users clicks a button), so I am using Transition on this.content so I can have control of the leave animation.

But I don't know whats left to achieve that... this is what I have so far, a fork from the demo: https://codesa

[2018-05-22 08:28] rubenspgcavalcante commented on #91
I'm getting another error message now (instead of undefined, it's says `_interpolation` isn't a function) 🤔

[2018-05-22 21:00] drcmda commented on #93
@bringmethecode

remove componentDidMount and try this:

[code]

The idea behind keyframes is that you can use it to control your animation-content.

[2018-05-23 15:37] RoyalHunt opened #94 "How to make a Transition with 1 children and some conditions for enter and leave attributes."
Hello, I'm trying to create a Transition animation with 1 children. But I did not find any solution for my needs. Here is an example:

`
<Transition render={Component} from={{ height: 0 }} enter={{ height: condition1 ? 'auto' : 0 }} leave={{ height: !condition1 &&  condition2 ? 0 : 'auto' }} />
`

Is it possible? I appreciate any help.

[2018-05-23 21:56] drcmda commented on #93
@bringmethecode I've checked in some new stuff today that'll make things like the above easier: https://twitter.com/0xca0a/status/999390220666703872

The old api (like in the snippet i copied) will still work, but using these slots it's going to take care of async stuff and race conditions.

[2018-05-23 21:56] #93 closed

[2018-05-24 09:28] ZakKa89 opened #97 "[Performance] Can't animate larger amounts of children in Trail animation"
I found out I can't animate more than a certain amount of items using Trail before my browser just straight up freezes. I think the limit is around 15, but it might also have to do with the type of transition. The target in my use case is quite high, around 25.

This can be reproduced using your codepen sandbox by adding more items to the state:
 https://codesandbox.io/embed/vvmv6x01l5

note: I us

[2018-05-24 09:46] ostrgard commented on #82
As far as I can see, `delay` is not a part of the tension/friction-based `config`, or am I missing something, @drcmda?

Related to this, I think a delay makes most sense if it's set per `enter`/`leave`. The most common use case I can think of is wanting to prevent an element from animating in on top of the leaving element, which a general delay applied to both enter and leave would just... delay..

[2018-05-24 11:45] drcmda commented on #82
@ostrgard i removed it because it caused some deeper issues. delay is now a generic prop (`<Spring delay={1000} ... />`), but for trails it only applies to the first to go.

Configs per key are actually possible, it can take a function: config={k => k === 'x' ? {...} : {...}}, but again, trails follow a different ruleset - i think - they're basically made to follow the spring that's before them, a

[2018-05-24 19:30] sbrichardson commented on #97
I noticed the same, hadn’t looked into it yet, thought possibly I was doing something wrong. Can you provide any recommendations on the preferred way to handle, or comfortable max?

[2018-05-25 01:04] bringmethecode commented on #93
Hey, sorry for the late reply, thanks for the insight @drcmda, going to check that sandbox right now.

Off-topic, but you are the founder of Paranoid Android right? what a legend! thanks for this great library.

[2018-05-25 07:59] drcmda commented on #93
@bringmethecode oh, you used PA? Yep, i am. :-)

[2018-05-25 09:17] MarcelBlockchain commented on #3
+2

[2018-05-25 12:03] swashata commented on #26
For the time being I've found that adding the path to `jsconfig.js` file makes vscode provide some intellisense

[code]

[2018-05-25 16:37] smooJitter commented on #3
What do you mean by “I removed react-native.js”

[2018-05-25 17:23] drcmda commented on #3
I think it would only be a matter of a few polyfills (request/cancelAnimationFrame) and adding View/Image/etc animated components under /arc/animated/targets/react-native. But i don't have the capacity right now and i haven't done much in RN. If anyone wants to give it a go - i could provide some guidance on project structure.

[2018-05-25 21:47] natew commented on #97
Also noticed, and thought it was my fault!

[2018-05-25 22:16] drcmda commented on #3
Anyway, i had some free time today - it's looking good so far. You can try it out:

[code]

![rn](https://user-images.githubusercontent.com/2223602/40568285-0f4959ca-607a-11e8-99e7-e6bf61f83121.gif)

[2018-05-26 20:53] drcmda commented on #3
Never mind, colors work - must've been the emulator, on my iphone it's fine. So to me it looks like all behaves as it should be. I'll run some tests and it will be available under `react-spring/dist/native` in the next release.

[2018-05-26 21:03] drcmda commented on #3
@stevoland @Hamatek @MarcelBlockchain @smooJitter are there any things to watch out for now? For instance, in the dom we use animated.div animated.h1 and so on, it's basically just a list of strings, but in RN if i wanted to pull all the available primitives (View, Text, Image, ........) --- these are real classes, and it would pull down bundle-size. Would RN users be ok if i don't expose "animate

[2018-05-26 23:09] drcmda commented on #3
Released it: 5.3.1: https://twitter.com/0xca0a/status/1000513216672403456

Goes actually further than react-native, it could animate all platforms now.

[2018-05-27 03:45] DanielRakh opened #98 "Best method to chain animations of different elements with different styles?"
Hey, had trouble finding the answer to this amongst current and past issues....

Say I wanted something like this trail: https://codesandbox.io/embed/vvmv6x01l5 but instead of having just the `opacity` an `transform` animate on all elements i want to have the `opacity` animate on the first item, the `width` on the second item,  and the `background-color` on third all in sequential order.

And more

[2018-05-27 08:13] drcmda commented on #98
you could map your list of elements into springs that do what you want to do:

[code]

[2018-05-27 10:04] smooJitter commented on #3
Whoa....  I will take a look in a few days.  I'm traveling for the holiday.

[2018-05-27 10:04] smooJitter commented on #3
I will take a look in a few days.  I'm traveling right now.

[2018-05-27 12:52] drcmda commented on #97
Strange, there seems to be something that's blocking it, then after a while it starts animating.

[2018-05-27 13:08] drcmda commented on #97
It's something in animated, the flush function is called thousands of times. It should only be called once. Something's clearing the cached animation-tree while it's animating.

[2018-05-27 21:03] DanielRakh commented on #98
Thank you. And that would automatically stagger them?

[2018-05-27 21:54] #97 closed

[2018-05-27 21:58] drcmda commented on #97
Should be fixed. Then again, physics-based trails in general seem to be super expensive, i had no idea. To make a duration based trail would be simple, if you still face issues i'd suggest doing something like this:

[code]

[2018-05-27 22:05] drcmda commented on #98
Here's a duration based prototype that would be easy to extend: https://github.com/drcmda/react-spring/issues/97#issuecomment-392380139

[2018-05-27 22:12] drcmda commented on #92
@natew From what i remember it simply goes 100% of the parent container, so it should respect the height if its either relative or absolute. The parallax in the main page demo for instance sits in a little grid-box.

If you mean changing the height of a layer in general, then you can do this with the factor prop, it defaults to 1 (100%), 2 would be 200%, 1.5 150%, etc.

[2018-05-27 22:15] drcmda commented on #92
You can also copy this file: https://github.com/drcmda/react-spring/blob/master/src/Parallax.js and change styles - or perhaps make a PR to make it more flexible. If you're going for a local fork, all the imports there you can get directly from react-spring.

[2018-05-28 07:57] alexluong opened #99 "Transition delay after animation is done"
Hi,

I'm quite new to React Spring. I noticed that there is a slight transition delay after the animation is done. Here is the codesandbox that can show you that: https://codesandbox.io/s/91362333po

I just added `config={config.slow}` to emphasize the delay and added a `console.log` on `onRest`. If you click to make the transition, you can see that after the animation is done, it took an extra 30

[2018-05-28 08:11] drcmda commented on #99
this is just the springs precision, you can play around with some of the hidden config values to make it more swift:

[code]

Generally relying on onRest isn't the best idea since springs are supposed to be fluid, but if you have to, then precision comes in handy, or you switch to a time based implementation + easing:

https://github.com/drcmda/react-spring#timeduration-based-implementations-and-a

[2018-05-28 08:36] alexluong commented on #99
@drcmda Thank you very much for the super prompt reply. That helps a lot. Time-based implementation and easing do it for me.

May I ask what are the pros and cons of time-based implementation and normal react-spring animation? I wonder if people can use time-based impl to achieve precision, why would they choose to go with the normal animation then?

[2018-05-28 08:45] drcmda commented on #99
Personally i am over it. This explains it pretty well: https://www.youtube.com/watch?v=1tavDv5hXpo&feature=youtu.be&t=6m3s

With springs you just animate, the spring will worry about dynamics, rest-time, additive chaining and so on. The state and place where it's at doesn't matter so much, it will additively animate between one state to another - which makes it perfect for fluid, physically accura

[2018-05-28 08:49] alexluong commented on #99
That makes sense. The component I was animating only has 2 states and relies on animationEnd callback, so I didn’t have to worry about chaining and so on. Therefore, duration based worked better for me. However, I do see the advantages of the other aproach.

Thanks for the replies. They are very helpful. I’m loving the library so far.

[2018-05-28 08:51] drcmda commented on #99
For sure, there are indeed situations where duration makes total sense. I guess i can close this down.

[2018-05-28 08:51] #99 closed

[2018-05-28 08:56] drcmda commented on #91
@rubenspgcavalcante sorry i was(/still am) a little busy due to work and the react-native stuff. It would be such a help if you could debug deeper. You can actually import from src directly "react-spring/src/targets/web/index" (in the latest version) and get to debug sources that way. Would be interesting why _interpolation is either undefined or not a function (what would it be if it isn't one ..

[2018-05-28 11:16] #54 closed

[2018-05-28 11:18] #85 closed

[2018-05-28 11:20] #3 closed

[2018-05-28 11:20] #8 closed

[2018-05-28 11:20] #10 closed

[2018-05-28 11:25] #72 closed, assigned to nobody

[2018-05-28 11:26] drcmda commented on #26
@raspo could you make a PR and add it to the build? TS support is supper spotty it seems and the current PRs have all fallen asleep.

[2018-05-28 13:20] drcmda commented on #91
@rubenspgcavalcante finally had time - it was something completely unrelated, it didn't recognize your fill color, it's working now as expected in the latest version.

[2018-05-28 13:20] #91 closed

[2018-05-28 13:58] rubenspgcavalcante commented on #91
Awesome! Thanks @drcmda :)

[2018-05-28 18:34] jimthedev commented on #16
@drcmda Thanks for answering this. Would you be open to having this in the example to make it clear that these need to be handled differently? Currently it seems like the docs show them passed in but not being used. Had to find this issue to make sense of how they are handled. Cheers.

[2018-05-28 19:05] jimthedev commented on #16
Updated my answer because even @drcmda's example didn't seem to work for me so I ended up going with interpolate to make scale work.

[2018-05-28 20:29] drcmda commented on #16
@jimthedev interpolate is good when you need multiple values. Otherwise:

[code]

Or ...

[code]

More on native rendering here: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#native-rendering-and-interpolation-demo

[2018-05-28 20:33] jimthedev commented on #16
Oh thank you that makes more sense.

[2018-05-29 18:23] evliu opened #100 "overflow: scroll in div within ParallaxLayer"
Hi,

I tried looking for answers after trying to figure it out myself, but is it possible to have it possible to scroll the perpendicular direction of a `div` component that has overflow content? For example, I have a `Parallax` component with horizontal scrolling containing `ParallaxLayer`s. I want to be able to scroll the content on a particular `ParallaxLayer` but can't figure out how. Any help

[2018-05-29 18:52] drcmda commented on #100
Sure, parallax layers are just divs

[code]

You could leave out the stopPropagation thing but then you would scroll both your inner region and the parallax container.

[2018-05-29 19:12] #100 closed, assigned to nobody

[2018-05-29 20:39] dylancristy commented on #90
Aha!  Gotcha, thanks!

I guess I misinterpreted the sentence "we offer...prop forwarding (unrecognized props will be spread over the receiving component)" to mean that I didn't have to do that explicitly myself.

[2018-05-30 07:05] tanyaisinmybed opened #101 "5.3.2 version break auto height animation"
auto height example with lib version **5.3.2**:
[https://codesandbox.io/s/l4wro9ykz](https://codesandbox.io/s/l4wro9ykz)

auto height example with lib version **5.3.1**:
[https://codesandbox.io/s/q3726xryqq](https://codesandbox.io/s/q3726xryqq)

In 5.3.2 height animated from 0px to 1px

[2018-05-30 07:36] drcmda commented on #101
@tanyaisinmybed should be fixed - fix-patch.js wasn't even loaded due to some minor refactoring recently.

[2018-05-30 07:43] drcmda opened #102 "react-spring needs tests badly, asking for help ..."
I have some experience with Jest, but not enough to deal with UI/animation states, pixels and async. I've heard about Puppeteer but i don't have the capacity right now to delve into something like that due to my work. It kind of sucks that little changes can cause things like this: https://github.com/drcmda/react-spring/issues/101 and it would be awesome if react-spring could calm down now and foc

[2018-05-31 07:50] jgoux commented on #2
@dylinmaust @drcmda I implemented `<AnimatedSwitch />` like this :
[code]

Usage :
[code]

It seems to work so far. Do you see anything wrong?

[2018-06-03 22:50] A7DC opened #104 "Animation stops working when interrupted?"
Hi everyone!

So I've got react-spring working with react-router 4, but for some reasons it's behaving weirdly, like so:

![2018-06-04 08_47_39](https://user-images.githubusercontent.com/3710703/40892022-f52e51b0-67d3-11e8-98e6-e392f93ddd3e.gif)

Any ideas what could be causing this?

Apologies, I've had to push to github to demonstrate my issue as Codesandbox was not working! [Here's the code](ht

[2018-06-03 23:06] drcmda commented on #104
I don't see you give out keys in Transition, they are very important if that's really the case. And in react-routers case, keys must be specific especially if you have subroutes (switching from /a to /a/b should not re-render the /a route, it should only listen to the /a key alone. There's a router example on the main page you can check out.

[2018-06-03 23:44] A7DC commented on #104
Thanks @drcmda, much appreciated!

[2018-06-04 07:21] mateeyow opened #105 "Transition and Trail combination"
In a way this issue is related to #86. But what I am trying to do is to animate/change the background color of the list item once the value changes. But somehow, the setInterval does not work. The values of the list somehow doesn't change. Am I missing something? Here is my codesandbox: https://codesandbox.io/s/5zrw9qj00p

P.S. This and css-transition-group is the only animation library that I fin

[2018-06-04 10:01] ticruz38 commented on #26
Providing only the Spring component in typings.d.ts is not a good idea.
VSCode then thinks the library does have a typings file (which is incomplete) and trigger errors when importing any other component such as Transition.
Either update the typings or remove it completely.

[2018-06-04 15:18] drcmda commented on #105
@mateeyow it's probably this line: https://github.com/drcmda/react-spring/blob/master/src/Keyframes.js#L30

This came after a code-review that Dan Abramov made, but perhaps it's too strict. It won't render the list unless the state changes. This one is tricky, because if we remove that check it would render always since you re-create the render-prop, essentially giving it a new function on each re

[2018-06-05 10:30] mateeyow commented on #105
Hmm. I'll try. Thing is, if I use a regular `Trail` the data is updated. Am I using `Keyframes` wrong?

[2018-06-05 11:57] jariz commented on #26
@drcmda I would just merge #84, it probably still misses some things, but it's better than having typings for only 1 out of 5 components, which is the state we're in now.

[2018-06-05 12:13] drcmda commented on #105
No, but Keyframes has shouldComponentUpdate - it currently only reacts to changes to the state prop, which is not enough.

[2018-06-05 12:14] drcmda commented on #26
@jariz thanks, very happy about getting help here - i'll merge it

[2018-06-05 12:46] thislogancall opened #106 ""leave" in Transition height miscalculation?"
# Issue
I'm using the Transition component to animate opacity and height, just like the example in the docs. However, the height seems to be calculated incorrectly when items are removed from the list

## Reproduce

1. Go the sandbox URL
2. Click on one of the "See all" links to show the remaining items
3. Click "See less" link to reduce the items back down to 3.

You'll notice the items collapse

[2018-06-05 14:21] mateeyow commented on #105
Hmm. Would it affect the performance if I check the equality of the
children?

On Tue, Jun 5, 2018, 20:13 Paul Henschel, <notifications@github.com> wrote:

[2018-06-05 17:00] drcmda commented on #105
Not really, it should be fairly inexpensive. Even if you use non-native springs, it's the content that renders, not the outer primitive.

[2018-06-05 18:16] drcmda commented on #106
@thislogancall li element has a margin, that's what's producing your jump. Btw, use `native`, it's faster.

[code]

[2018-06-06 07:35] dindonus commented on #74
Hi there :)

I'm having the exact same issue with react-spring 5.3.8.

Here is my code sandbox: https://codesandbox.io/s/2o9pxo895y

Any browser width > 300px will cause the problem. If you fix the content width (see comment at bottom), then it always works fine.

[2018-06-06 11:22] drcmda commented on #74
@dindonus

You can help it out a little by providing more context:

[code]

Now the lower div container is part of the parent-div instead of the app/root-div. Even if it's set to 'absolute' by react-spring for measurement it'll retain bounds. I know this stuff can be confusing and i wish there'd be an easier way, but it's css after all.

[2018-06-07 23:51] subhero24 opened #108 "SpringAnimation vs OscillatorAnimation"
Besides SpringAnimation there are also implementations for TimingAnimation and OscillatorAnimation.

What is the practical difference between SpringAnimation and OscillatorAnimation?

[2018-06-08 04:36] alvaro1728 opened #109 "How to animate width and display?"
I'd like to go from {width: 0, display: "none"} to {width: 300, display: "block"}.

[code]
If I just animate the width as shown above, the border and margins are still visible. I could animate them too, I suppose but... what's the best way to set display="block" at the beginning, when showing = true and back to "none" at the end, when showing = false?

Thanks,
Alvaro

[2018-06-08 09:53] drcmda commented on #109
@alvaro1728

There are several ways to do this, onRest for instance, but i would use regular props:

[code]

If you use native spring:

[code]

[2018-06-08 09:58] drcmda commented on #108
@subhero24 the OscillatorAnimation is the exact same spring that IOS and react-native use. It has the additional `mass` property.  The default spring is a RK4 spring (Runge-Kutta of Order 4). This used to be the default in RN and is still the default in animated, i'm using it as default as well because it's a little easier to configure.

[2018-06-08 18:38] bpierre opened #110 "onRest() should only be called after a transition ends"
At the moment, `onRest` is called every time the component is rendered.

Here is a demo to compare this behavior with what react-motion does: https://codesandbox.io/s/3v99xomj2p

I think react-spring should follow the behavior of react-motion, where `onRest` only gets called after a transition ends.

[2018-06-08 21:43] drcmda commented on #110
@bpierre that's curious, yes. Probably because it calls stop before rendering - which it shouldn't anyway since props didn't change. I'll look into this.

[2018-06-08 22:58] #110 closed

[2018-06-08 22:59] drcmda commented on #105
@mateeyow could you try again, i made an update to how spring and keyframes react to updates ...

[2018-06-08 22:59] drcmda commented on #110
@bpierre it should be fixed now ...

[2018-06-08 23:00] #105 closed

[2018-06-08 23:01] #109 closed

[2018-06-08 23:02] bpierre commented on #110
It is! https://codesandbox.io/s/3v99xomj2p

Thank you 🙏

[2018-06-09 14:53] mkdinh commented on #102
Hey, I would love to contribute with testing the project. I have some experience testing with puppeteer and enzyme. Do you have any recommendation on where I should start?

[2018-06-09 15:32] drcmda commented on #102
A spring from here to there, then snapshotting the end state? Then perhaps colors, interpolations, arrays, etc. That would be awesome.

[2018-06-09 15:37] mkdinh commented on #102
Cool! I'll get started and give you an update when I can get something going

[2018-06-09 15:39] TrySound commented on #102
@drcmda could you write a spec first like a list? Each item will be used like test title then. Your understanding will be helpful.

[2018-06-09 18:32] sbrichardson commented on #102
If anyone can provide boilerplate/example or any other guidance, I'll contribute where possible, I'm considering using this lib in a larger app.

[2018-06-09 21:57] drcmda commented on #102
@TrySound good idea, but i would like to see how its done because as of right now i have not the slightest idea how a test could pull off checking visual states. If i could see how something simple like opacity 0 -> 1 works, it would help me to get the bigger picture. I'll make a list then of all the things that would be great to write tests for.

@mkdinh i can't remember right now, but you can ad

[2018-06-09 22:00] TrySound commented on #102
@mkdinh Extend babelrc with this peace and install this plugin. Everything should work.

[code]

[2018-06-10 01:00] craftgear opened #111 "some examples are not found on Codesandbox"
Hi, I notice that some example links on the demo page (https://github.com/drcmda/react-spring/tree/master/examples) are missing.

As far as I know following samples are not found on Codesandbox:

Mount/Unmount transitions: https://codesandbox.io/embed/j150ykxrv
Reveals: https://codesandbox.io/embed/yj52v5689
Horizontal paged parallax: https://codesandbox.io/embed/548lqnmk6l
Vertical scrolled paral

[2018-06-10 12:08] craftgear commented on #111
Yeah, that's what I meant to say.

But if this happens only to me, let's just forget it.

[2018-06-10 12:08] #111 closed

[2018-06-10 15:33] Tsury opened #112 "script seems to be broken after last update 5.3.12"
The first 'await' call seem to never return...
Reverting back to 5.3.11 fixes the issue.

[2018-06-10 16:47] drcmda commented on #112
I see it, looking into it ...

[2018-06-10 16:49] #112 closed

[2018-06-10 16:50] drcmda commented on #112
@Tsury should be fixed.

[2018-06-11 00:55] simonbuchan commented on #26
I've been working on filling out typings for this, but I've ran into an issue where typescript stops being able to infer the render argument type as soon as `native` is supported. Simplifying:

[code]

If either option in `RenderProps<T>` is commented out, the other one works with full inference, so this is pretty annoying, otherwise you have to annotate the props types on both sides as `: { x: nu

[2018-06-11 07:57] drcmda commented on #26
@simonbuchan i see, but is there no other way? Can't props be simply either an object of values and strings or an object of animatedValues? This would cause some confusion otherwise. I wanted the api to stay simple, where "native" wouldn't be that different from the default.

PS. you only need to interpolate values if you change their structure:

[code]

[2018-06-11 08:32] drcmda commented on #26
Yeah 😱Does TS run in CodeSandBox? If we re-create your snippet above to demonstrate and isolate the problem, maybe it helps showing it around to get some input.

If nothing helps we could make a typescript target with forward components, it would be easy to define, the build chain is already equipped for it.

[2018-06-11 09:02] simonbuchan commented on #26
Since it's just a typing issue, the standard is the [playground](http://www.typescriptlang.org/play/) for repro issues, e.g. a TS bug report, but I would like to reduce it a bit more first.

What I've got so far now implies that TS doesn't know how to contextually type the JSX props from the component signature, and it works without the union since the non-contextual inference still works, but tha

[2018-06-12 01:51] melloc01 opened #113 "Can't get simple Mount/Unmount animation to work"
Hi guys, tried to chat on spectrum but I think issues on GH gets more attention.

Just wanted a fadeIn and fadeOut on my app to get started, what am I missing?

https://codesandbox.io/s/qk5qlxzkw9

[2018-06-12 06:52] epilande commented on #113
@melloc01
[code]

[2018-06-12 07:06] kuuup-at-work commented on #26
@simonbuchan

You must check `props.foo` with `typeof` during runtime and then cast it to `number` or `AnimatedValue<number>`.

[2018-06-12 07:16] simonbuchan commented on #26
No that's not needed if you have the union at a higher lever and have something that can distinguish, e.g. here you can detect based on whether `native` is provided which will be passed.

E.g. the following works properly in typescript:

[code]

Interestingly, you can't make `native` optional there, even though it should know it has to be `DynamicProps<native>`. since there's no `native` property,

[2018-06-12 07:48] drcmda commented on #113
@melloc01 what @epilande said, just one addition, you're using animated.div but without giving transition the "native" flag.

[2018-06-12 07:48] #113 closed

[2018-06-12 10:30] drcmda commented on #26
@simonbuchan i'm a total beginner when it comes to TS, but does that mean it can be solved without having to duplicate all primitives (NativeSpring, etc.) ?

[2018-06-12 11:04] simonbuchan commented on #26
I mean, what I've got will work fine so long as you provide the type for the render argument, the win over the current types being that it can check if the values are compatible - but that's not really up to my expectations (you shouldn't have to read docs on how to use the typings for a library). Typescript already has all the information to infer everything itself, and can figure out similar, bu

[2018-06-12 12:15] drcmda commented on #26
The additional payload for native and animated.element isn't that big. If size is really an issue there would be more efficient ways, for instance react-spring/dist/universal (doesn't contain native, no colors) or react-spring-numerical (can be native, but no interpolations, just numbers => 2kb).

[2018-06-12 16:46] melloc01 commented on #113
hm... Makes sense..

So, `<Transition />` watches for `falsy` / `not falsy` `children` to get the animations to play, think I'll take a look on the impl and try again on the app, thanks! :grimacing:

[2018-06-12 17:43] drcmda commented on #113
It's a bit more tricky - the first implementation just wanted an array of functional children and keys to go along with that. Someone requested a shorter syntax to watch single entries, so if you only supply a single child, it'll take that as a key itself. To effectively it switches between fn and undefined (which renders nothing). But yeah, it works like that, internals can be weird sometimes.

[2018-06-12 18:06] melloc01 commented on #113
Cool! Thanks @drcmda -  from a newcomer: the shorthand for single entries is quite intuitive, actually I was writing it before reading the docs.

[2018-06-14 03:01] kkarkos opened #115 "Transition "leave" not fired/animating"
Hi, I have a component which mounts on a specific state. I'm using Transition and "from" + "enter" animations are working fine. But when the component unmounts "leave" doesn't seem to get fired. Look like the components get's unmounted before it would hit "leave".

Example: https://codesandbox.io/s/3qpqr15yq1 - click on "toggle" button to see mount and unmount.

Thanks for your time!

[2018-06-14 07:13] drcmda commented on #115
@kkarkos you're wrapping the entire thing into a ternary ;-) That means the transition itself vanishes. Do it like this:

[code]

[2018-06-14 14:47] Prinzhorn commented on #102
I'm not sure if Puppeteer (or even Cypress) is needed here, as this library is less about user-interactions and more about interpolating values under certain conditions (completely separated from the concept of a Web Browser, Web Page or a UI).

My first thought was that `requestAnimationFrame` needs to be mocked so we can get the tests to run in a consistent manner and compare each tick with the

[2018-06-14 16:15] jigsawye opened #117 "Component unmount is too slowly with transition & transform"
Hi, I try to write a basic modal and use `Transition`. But the component unmount is too slowly.

Basic example:
https://codesandbox.io/s/qqwvjx7394

When I click the open button everything is OK. But I can't click the open button immediately after click the close button, because the modal doesn't unmount in this moment.

Thank you for the awesome library 👍

[2018-06-14 20:18] drcmda commented on #117
That can be helped, you can string values, too, not only numbers:

[code]

Now it leaves but won't receive events any longer.

Other than that you can control the speed via the config argument: https://github.com/drcmda/react-spring/blob/master/API.md#spring-configs

[2018-06-14 20:22] #115 closed

[2018-06-15 04:01] jigsawye commented on #117
@drcmda Thanks for your solution, this problem is resolved!
But now I have another problem, I will open a new issue to describe it.

[2018-06-15 04:01] #117 closed

[2018-06-15 04:16] jigsawye opened #118 "Transition re-render when children component updated"
Hi, based on #117 described, the modal works now.

But when I'm trying to render something in children and update it.
The transition will be triggered something like `leave` event, just like the following gif:

![react-spring-transition](https://user-images.githubusercontent.com/8567270/41449625-b0df7d58-7094-11e8-9366-b2d5ffda1e26.gif)

Issue example: https://codesandbox.io/s/jp8n2k0qz3

I have n

[2018-06-15 06:59] drcmda commented on #118
@jigsawye if you don't give Transition keys it takes the function-child itself as a key, but since you re-create it on every render, that key changes, so for transition it looks like as if the modal actual vanished and now there's a new one instead.

Two easy fixes:

A. use a reliable key, in your case the key describes if the modal is there or not:

[code]

B. move the modal into a fixed referenc

[2018-06-15 08:21] jigsawye commented on #118
@drcmda Thanks for your help, it works! 🎉

And I already tried `native` in my modal, everything looks great 👍

[2018-06-15 08:21] #118 closed

[2018-06-15 14:00] vanthiyathevan commented on #26
I see that in `TransitionProps`, `keys` property is not marked as optional even though the comment says it can be ommited if children/render aren't array.

[2018-06-16 10:40] drcmda commented on #102
@Prinzhorn @mkdinh @sbrichardson  here's a first draft: https://github.com/drcmda/react-spring/blob/master/tests/test.js

it uses plain jest and enzyme with deep mount, renders out a spring and uses onRest to complete the promise by checking the result. I've tested snapshotting as well, it worked, but like you said, probably just checking end-states is probably enough.

[2018-06-16 14:34] drcmda commented on #102
Looks like i'm stuck, enzyme doesn't update the tree once i start testing native springs. 😵

If anyone wants to take a look: https://github.com/airbnb/enzyme/issues/1153#issuecomment-397816205

[2018-06-17 04:43] obetomuniz opened #119 "Issue using Transition with just native, from, enter, and leave"
I'm checking how the Transition works toggling 2 components using only native, from, enter, and leave properties (As the documentation says), but if I do quick toggles the components, an error message appears. Am I doing something wrong?

This is the bug:
![kapture 2018-06-17 at 1 39 24](https://user-images.githubusercontent.com/1680157/41504756-bc1ce624-71cf-11e8-9665-c25daafdaa37.gif)

This is m

[2018-06-17 06:59] drcmda commented on #119
I will take a look ...

[2018-06-17 08:07] #119 closed

[2018-06-17 08:07] drcmda commented on #119
should work now in 5.3.16

[2018-06-18 00:33] obetomuniz commented on #119
`react-spring@5.3.16` worked like a charm. Thanks for the prompt feedback/fix!

[2018-06-18 02:36] obetomuniz opened #121 "Feature Request: direction attribute"
As you can see on [react-native-animatable](https://github.com/oblador/react-native-animatable) library. react-spring also can adopt this type of approach to reduce the boilerplate when the user needs to build simple boolean rules like a `from -> to` AND/OR `to -> from`. I'm suggesting a `direction` attribute, but a `reverse` attribute can be useful as well. Thoughts?

[2018-06-18 06:48] drcmda commented on #121
@obetomuniz `from` denotes the initial values, but once the spring runs it will always remember current state and if you update `to` it won't restart (unless you provide the `reset` prop), but animate fluently from its current position. You can also skip `from` entirely and simply switch between two values in `to`. You would normally control "direction" by giving it the values it needs to go to:

[2018-06-18 07:08] Prinzhorn commented on #102
I disagree. For example easings (or different tension, friction etc.) would then not be tested at all or imagine a commit breaks the spring physics and it just jumps to the end state without any animation. Also the exact time when the end-state is reached is equally important. I think if we get snapshotting to work reliably on every tick then this allows us to test the "feeling" of the spring and

[2018-06-18 07:36] mfarhadpur commented on #26
Thanks for the work on the missing type definitions. The [imperative API](https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#imperative-api) still seems to be missing types.

[2018-06-18 14:17] drcmda commented on #102
Hmmm, agreed, but how would you do it? Springs aren't duration based and requestAnimationFrame is quite arbitrary and can be interrupted by the browser. We can of course define our own tick function that react-spring will use, there's a global inject for it. But wouldn't this also stretch tests into long waiting phases?

[2018-06-19 14:34] mkdinh commented on #102
instead of testing the component, can we just test the calculations themselves to make sure that they follows the correct physics?

[2018-06-19 18:28] drcmda commented on #102
Sure, that’s possible, too, but it’s usually lifecycles and component phases that cause issues. The math is stable and doesn’t normally change.

[2018-06-19 19:04] mkdinh commented on #102
If that is the case, then would spying on the methods during the lifecycles be suffice? All we have to test is the method is being called with the correct argument at the correct time.

[2018-06-20 16:41] nathanmarks commented on #94
@drcmda I noticed that if you have `height: 'auto'` in the `enter` prop, you must render something or else there's an exception, you can't toggle a component like this

[2018-06-20 17:21] szahn opened #124 "Transition does nothing"
The transition does nothing. Am I doing something wrong here? Can't share the code because the sandbox (https://codesandbox.io/s/zrqyz7pr44) works fine, but within my actual application, it doesn't work and I can't share the app code itself.

using v5.3.17

<Transition native from={{ opacity: 0}} enter={{ opacity: 1}} leave={{ opacity: 0}} routeDetails={this.state.routeDetails} onInfoTableClose={t

[2018-06-20 17:43] Adam13531 opened #125 "Timing demo uses deprecated "script" API"
This code in the timing demo makes use of a `script` function for `Keyframes` even though [this page](https://github.com/drcmda/react-spring/blob/master/API.md#keyframes) says that it's deprecated.

https://github.com/drcmda/react-spring/blob/5eeedf37a020a617c5b36b93305ba0f4fdb9d489/examples/demos/timing/index.js#L38-L51

It would be nice if the example could be updated to use non-deprecated code.

[2018-06-20 22:13] drcmda commented on #124
That looks correct. If it works in csb, some local Babel stuff interfering perhaps?

[2018-06-20 22:16] drcmda commented on #125
Will update after vacations 😎

[2018-06-21 04:10] szahn opened #126 "Update Typescript definitions to support custom properties and to make 'key' property optional"
[code]

Typescript error:
Type '{ children: ({ onInfoTableClose, routeDetails, ...styles }: { [x: string]: any; onInfoTableClose:...' is not assignable to type 'IntrinsicAttributes & IntrinsicClassAttributes<Transition<{}, { opacity: number; }>> & Readonly<{...'.\n  Type '{ children: ({ onInfoTableClose, routeDetails, ...styles }: { [x: string]: any; onInfoTableClose:...' is not assignable to type

[2018-06-21 04:20] szahn commented on #124
Actually using Typescript, this is the transpiled output:

[code]

Package.json:

[code]

This is my webpack:

[code]

[2018-06-21 12:13] mattgreenfield opened #128 "Nested transitions causing elements to animate IN when unmounting"
I'm trying to nest transitions so that the background fades in and the text content slides in.
It works find when a component transitions in but when un-mounting, the first transition (fade) leaves correctly but the second transition (slide) enters again.

I have a sandbox, you can see the text slides up from the bottom again when you remove an item, rather than sliding from the center back down -

[2018-06-21 14:32] drcmda commented on #94
@nathanmarks could you make an issue + csb? I'll fix it when i'm back from vacations.

[2018-06-21 14:44] drcmda commented on #128
@mattgreenfield this doesn't look correct to me, the nested transition has no reason to ever go into leave, because the key is always the same. You also duplicate keys, after pressing add three times there are 2 elements with the keyname "two".

Have you looked into alternatives? For instance, the config prop can be a function that gives you the name of the prop that animates, so you can animate t

[2018-06-21 18:22] thislogancall opened #129 "Using Transition for a single element (toggling visibility) that has props"
CodeSandbox: https://codesandbox.io/s/0vpx6n11ov

If you delve into the select field code you'll see a Transition component commented out. As it's "children" prop is a function, I thought I'd be able to use that to forward the styles onto an element once it's open. However, that doesn't seem to work and appears to be related to their being no keys (because there's only one item). I'm not sure if t

[2018-06-21 21:11] melloc01 opened #130 "Transition: parent updates triggering leave animation"
Hi there, while playing with `<Transition />` I came up with this issue:

https://codesandbox.io/s/l961v07zql

As the parent update its state (used in its children) the "Leave" animation fires. That doesn't seem correct... I have a clue why this happens (it's not the same `children`).

Maybe we should enforce keys or some kind of identifiers on single nodes also? (Kinda lost in the code still)

[2018-06-21 21:41] melloc01 commented on #130
As seen and explained in #118, I was creating a new function in every render.

I'll try to improve the readme to get developers aware - this seems a common issue.

[2018-06-21 21:41] #130 closed

[2018-06-22 05:19] nelsliu9121 commented on #126
1. What is the purpose for adding `routeDetails` and `onInfoTableClose` to `Transition` when the component make no use of that?
2. `key` property is considered important when rendering a list of components, what is the reason to make it optional? (See [this article](https://reactjs.org/docs/lists-and-keys.html#keys))

[code]

[2018-06-23 10:14] BlueBlazin opened #131 "Max width scroll bar."
If you set `max-width` on `<Parallax>` and say, center it, the scrollbar no longer appears at the right end of the screen but rather the rather the right end of the parallax box.

How do you set the width property when using parallax if you don't want it to cover the full width of the viewport without this problem?

[2018-06-23 16:34] mattgreenfield commented on #128
Thanks so much for the tips @drcmda - I've ended up with what I needed https://codesandbox.io/s/q33qnoz4ow
I'll be trying to implement this with our real modal system tomorrow so will see how it goes!

[2018-06-25 11:11] drcmda commented on #131
@BlueBlazin could you make a codesandbox to demonstrate the problem?

[2018-06-25 15:40] VinSpee opened #132 "`Trail` with `scale()` only working on the first child"
Hi! This certainly feels like a bug.

simplified repro here: https://codesandbox.io/s/qlp6vr783j

i have an array of items in a `<Trail>` component. They're animated on both `opacity` and `transform`. The `transform` animation, however, is only taking effect on the _first_ item in the array. The rest of the items remain in the `from` state. This does [not occur](https://codesandbox.io/s/7z3z48209j

[2018-06-25 17:29] drcmda commented on #132
@VinSpee indeed, looks like a bug. For some reason it ignores interpolations. I'm on vacation but meanwhile, do this:

[code]

Or, even better (as in, it's way more performant):

[code]

[2018-06-25 17:38] VinSpee commented on #132
awesome - thanks for the workaround! works swimmingly. now back to the beach!

[2018-06-25 20:13] dezman opened #133 "How can I access or keep current value of react spring?"
I am animating elements multiple times in a loop, adjusting their height and margin bottom. At certain times I wish to keep the height wherever it happens to be and only continue animating the margin bottom.

[code]

If I don't pass in a height it breaks and if I pass undefined it starts animating to zero. Does react spring provide a way to access the previous value that it set internally, or just

[2018-06-25 23:16] skevy commented on #108
Hi @drcmda! Just wanted to chime in here as I wrote the new Spring algorithm in iOS/React Native.

You can actually configure the RK4 spring exactly the same way as the close-form DHO spring. You can convert directly between stiffness/damping/mass and tension/friction...and it will work exactly the same as the RK4.

[2018-06-26 06:22] drcmda commented on #133
There’s the onFrame callback, but if you don’t want to animate certain props the best thing would be to not have them in the „to“ prop. If it crashes just for omitting a prop then that would be a bug, I’d be happy if you could isolate in a codesandbox.

[2018-06-26 14:41] drcmda commented on #108
@skevy i did: https://github.com/drcmda/react-spring/commit/ff4af0f0d4676f7e067d034aaf14abd69e2bce0b

but then had to revert as it would behave differently in some situations. Here's an example: https://codesandbox.io/s/53q7oxxpxp

If you uncomment `impl={OscillatorAnimation}` it seems to behaves odd. Do you know what it could be?

Thanks for you incredible work btw!

[2018-06-26 20:09] skevy commented on #108
@drcmda here's a start: https://codesandbox.io/s/wwjw9x66zk

There was an actual bug in the oscillatorAnimation -- it wasn't setting the initialVelocity correctly when starting with a previous animation.

You can see now it's at least a lot less janky.

However, while it looks like an actual spring now (lol), it's not the same curve (or at least, it's not the same speed) as the RK4 animation. I di

[2018-06-26 21:34] natew commented on #92
@drcmda I should have specified better my specific use case. I'll investigate and comment back if this already works but I thought it didn't.

Basically: I have sections that are:

[code]

The max and min to me looked impossible as Parallax was assuming effects based on window.innerHeight. So I think the real thing would be to be able to define a "viewport height" of your own and have parallax use

[2018-06-27 18:22] ricklancee opened #134 "Components get duplicated when having a animation on mount and triggering it fast"
When having a simple mount/unmount animation on click and when the user presses the mouse button really fast each time the user clicks a new element is created if the animation was not completed. Resulting in many duplicated components and mount triggers. This seems unexpected.

Gif: https://gyazo.com/dea3ca7a09b1ffbb8f0b3f454f906dc1

Code: https://codesandbox.io/s/w0jj62rj45
open up developer too

[2018-06-27 22:32] stolinski commented on #134
I'm also seeing this. Mine takes place on hover of any of the thumbnails on this page. http://leveluptutorials.com/tutorials/

Hovering back and forth between two will see the container continually growing each time with additional divs being added.

[2018-06-27 23:02] drcmda commented on #134
Any leaving transition gets a unique key and fades out. That is done in order to prevent that key from overriding the element in case it enters again.

[2018-06-28 05:51] ricklancee commented on #134
@drcmda thanks for the reply. I think i might have been too quick to judge then.

I was confused because In my case i have some data fetching calls in my animated components on mount, and they get called multiple times when clicking fast, resulting in many network requests. I think i can fix this by only fetching the data once the animation is finished. Are there any "onEntered" properties, to lis

[2018-06-28 06:53] felixeichhorst-jimdo opened #135 "Transition children type does not allow conditional single child"
In the API overview it says we can use Transition components with a single child like this:
[code]

The children definition of `Transition` looks like that:
[code]
and the TypeScript type definition file like that:
[code]

Now I can neither use ternary notation nor logical AND without having TypeScript complaining about boolean or none not being assignable to the kind of expected function.

[2018-06-28 07:13] ricklancee commented on #134
However, i just noticed that when an transition is leaving the component is mounted again and unmounted. Is this also because of this? This does seem really weird because i open a modal, and close it. I expect it to mount and unmount only once. When closing it it get's mounted and unmounted again. If i do any heavy data fetching on didMount it would cause some major performance problems.

logging

[2018-06-28 08:43] drcmda commented on #135
I think someone fixed it already, but won’t be able to release for a week due to vacations (no laptop on me).

[2018-06-28 10:13] Prinzhorn opened #136 "Endless componentWillUnmount loop with <Transition> when another update is triggered"
Here's the reproduction, it's a plain create-react-app https://github.com/Prinzhorn/react-spring-will-unmount-bug/blob/master/src/App.js

# Quick start

[code]

Open your JavaScript console, run the example app and hit the button "Toggle Panel" twice. When the panel is closing you can see an endless loop of:

[code]

 (it's not actually endless, React will kill it after 1000 runs).

If you remove

[2018-06-28 10:30] Prinzhorn commented on #136
Something is super fishy with the lifecycle hooks. Here's what happens when I keep smashing the Toggle Panel button with line 33 removed

http://www.prinzhorn.me/vokoscreen-2018-06-28_12-22-37.mp4

I don't think they should stack/queue up like that.

[2018-06-28 10:43] Prinzhorn commented on #136
Looks like some discussion regarding the second issue is already happening in #134, so we should focus on the endless loop in this issue.

[2018-06-28 11:14] drcmda commented on #136
It looks like it pushes the same key for all elements, can that be?

[2018-06-28 12:39] Prinzhorn commented on #136
What is pushing keys to where? If I log `panel` and `keys` here they're always 0 during the endless loop

https://github.com/Prinzhorn/react-spring-will-unmount-bug/blob/0108dbe61927d164e001876e91ae342970d8c5d6/src/App.js#L90-L94

[2018-06-28 18:29] drcmda commented on #136
This part

let keys = [];

    if (this.state.showPanel) {
      panel.push(({ x }) => (
        <Panel
          key="the-best-panel"
          style={{ transform: x.interpolate(x => `translate3d(${x},0,0)`) }}
          data={this.state.data}
          onDataChange={this.handleDataChange}
        />
      ));
      keys.push('the-best-panel');
    }

    return (
      <Transition native keys={k

[2018-06-28 18:37] will-stone commented on #136
I found going back to v4 helped. Whilst v4 doesn't seem to be able to do the no-key feature, this worked just fine:

[code]

[2018-06-29 20:44] thislogancall commented on #129
@drcmda Sorry, my original comment wasn't clear.

I want to animate the component tree from `<animated.div...` and below based on the `isOpen` state. I don't need the children below to animate one at a time, I just want that wrapping component to animate on and off based on the user opening/closing the select field options.

Your current Transition examples include mapping over multiple items, or

[2018-06-29 21:01] thislogancall commented on #129
Here is a simpler example where i'm trying to do the same thing...

[code]

[2018-06-30 09:19] drcmda commented on #129
Can’t try it atm but the isActive has to be first in line, before styles => . Otherwise you won’t see a fadeout since you’re taking away the elements content. Transition tracks its  direct children, in your case that’s either the function you provide or undefined.

[2018-06-30 22:26] Monichre opened #137 "Is there any cross-browser support? Or information regarding Internet Explorer?"
If you have a question that doesn't concern bugs or requests, all i am asking you is to look for answers first before you hit submit. When you haven't found anything, please isolate your issue in a [codesandbox](https://codesandbox.io/), that makes it so much easier on our side to inspect and understand the issue. Also think about posting [in our community](https://spectrum.chat/react-spring) to k

[2018-07-01 07:46] drcmda commented on #137
Cross browser support is the end users concern, if you do not exclude node modules in your Babel config it will work in any IE version, provided you add some polyfills the lower you go. The lib itself is transformed with Babel-env, it does not ship a single polyfill (requestAnimationFrame, Promise, ...).

[2018-07-01 21:56] natew opened #138 "Have createAnimatedComponent automatically handle will-change"
Right now it seems you have to just set willChange yourself on style. But according to [this](https://dev.to/neshaz/everything-you-need-to-know-about-will-change-property-3f4k) it should only be set right before animating.

I want to test if this will fix some performance issues I'm having with Parallax. What I want to do is have it set `willChange: 'transform'` the frame before it begins animatin

[2018-07-02 12:17] drcmda commented on #138
I have never heard of that, doesn’t willchange simply inform the browser to anticipate the element?

I’ve fought a long time with browser performance and eventually gave up, the dom is slow and animating lots of things at the same time has a price. I don’t think these hacks really make that much of a difference in the end but who knows, profile it and then we know.

There was an article about para

[2018-07-03 13:57] VinSpee commented on #132
I think I found another place this issue impacts: https://codesandbox.io/s/7z3z48209j

once again, only the first child is transitioned.

[code]

[2018-07-03 14:55] guru-florida opened #139 "Code Sandbox Examples are broken (or is it just me?)"
All the code sandbox hosted examples show the Loading Sandbox then a black screen. Console shows this error:
[code]

Perhaps a few people can confirm if it's just me or not. I am running Chrome on Mac Version 67.0.3396.99 (Official Build) (64-bit). I tried a "Hard Reload" but no luck. Being a TypeError, could this be related to the new typescript work?

[2018-07-03 15:13] guru-florida commented on #139
Iterestingly enough, I can copy the sandbox key (ex. vvmv6x01l5 for Trail example) and head over to code sandbox, click on any example there, then replace the key in the URL bar with vvmv6x01l5 and it loads and works. So maybe just an issue with code sanbox's embed, or maybe I am hitting a cached server with older but working code.

[2018-07-03 21:23] drcmda commented on #139
They had a huge update today, maybe just a glitch. I’ll check back when vacations are over. :-)

[2018-07-03 22:51] guru-florida commented on #139
It's working now, I just checked. :)

[2018-07-03 22:51] #139 closed

[2018-07-04 08:29] drcmda commented on #132
Anything that’s not a number is going to be interpolated, it’s most likely the same issue. I’ll get to it soon.

[2018-07-04 09:26] fa10 opened #140 "index.d.ts Trail children and render is not set to optional?"
Hi,

Is there any reason why the `children` and `render` props is not set to optional here?
It gives some problem, when using this type!

[code]

Thank you!

[2018-07-04 10:44] will-stone commented on #26
I presume this is related to this ticket, TSLint is giving me this error for Transition and Spring components:

[code]

[2018-07-04 10:56] will-stone commented on #26
Scratch that. All I had to do was upgrade the React and ReactDOM types to

[code]

[2018-07-05 12:34] ilyanoskov commented on #134
I have the same issue, components duplicate when clicked on them.|

https://codesandbox.io/s/32wy3vyxz5

[2018-07-05 20:54] #140 closed

[2018-07-05 20:54] #135 closed

[2018-07-05 20:55] drcmda commented on #137
closing this for now to get a better oversight of what needs to get fixed - if anything is unclear i can re-open

[2018-07-05 20:55] #137 closed

[2018-07-05 20:56] drcmda commented on #92
It shouldn't have anything to do with innerHeight/Width - it takes the height of the parent container - if its either relative or absolute. Like this: http://react-spring.surge.sh/ (upper left, upper middle). Wouldn't this fulfill it?

[2018-07-05 20:59] drcmda commented on #126
i'll close for now, types should be better now, merged a couple of prs. @nelsliu9121 is right btw, routeDetails onInfoTable and so on have no effect. You'd have to use render={...} instead of children, then it would forward. Otherwise you have access to scope anyway.

[2018-07-05 20:59] #126 closed

[2018-07-05 20:59] drcmda commented on #129
@thislogancall did you figure it out?

[2018-07-05 21:02] drcmda commented on #131
i'll close this for now to get on top of all the issues that crept up while i was away. i'll re-open if it's still pressing and a like i said a sandbox would be really nice to go on

[2018-07-05 21:02] #131 closed

[2018-07-05 21:05] drcmda commented on #133
@dezman could you provide a codesandbox? i think this could be a misunderstanding. spring always remembers the last last state, "from" after the first animation is obsolete, from then on it just minds "to". Maybe you're trying to feed it from/to repeatedly. i'll close for now - will re-open if i get an example.

[2018-07-05 21:05] #133 closed

[2018-07-05 21:09] drcmda commented on #108
@skevy back from vacation :-) looks way better now. it shouldn't call start on every frame, the raf updater calls the updating functions and from there on it goes into the dom (or re-rerendered as props). every outside render pass (where values change) calls .start otherwise.

Should i update the new oscillator you made for now?

[2018-07-05 21:15] drcmda commented on #134
@ilyanoskov from what i see the behavior is correct, the only thing that seems wrong is the component definition, it should be:

[code]

If you want them to fade out on top of one another you should also make these divs absolute.

The whole point of transition is that it retains the last state of an element that's actually gone from the react tree. It retains it until the spring that drives its le

[2018-07-05 21:16] drcmda commented on #134
@ilyanoskov would you amend your sandbox to showcase the mount/unmount stuff? i'll take a closer look.

[2018-07-05 21:19] drcmda commented on #136
@Prinzhorn could you map this into a codesandbox? A lot of issues crept up while i was away, would make it easier on my part to get on top of it all. :-)

[2018-07-06 11:19] dariocravero commented on #108
On this topic @drcmda, React Native's implementation of Spring supports [a few other combinations of parameters like speed and bounciness](https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/animations/SpringAnimation.js#L101-L144). Were they intentionally left out of react-spring's implementation? Would you consider bringing them back? Thanks!

[2018-07-06 13:11] drcmda commented on #132
I pushed .20 today which reduces the impact of it a little, it will at least run interpolations now. The problem generally is that interpolations are not adaptive, they can't "follow" other strings, which is somewhat of a limitation right now.

Workarounds: use raw numbers and interpolate yourself (all the above), or use a duration based trail: https://github.com/drcmda/react-spring/issues/97#issu

[2018-07-06 13:11] #132 closed

[2018-07-06 18:16] drcmda commented on #132
It's fixed now in .21

[2018-07-06 18:58] VinSpee commented on #132
confirmed fixed in my case

https://codesandbox.io/s/6ym0r0oppk

thanks!

[2018-07-06 20:55] drcmda commented on #108
@dariocravero isn't speed and bounciness the same as tension & friction, or stiffness & damping? I did initially remove it for the sake of making it easier to configure.

[2018-07-06 21:14] DanielRakh opened #143 "Looping Keyframes animation messes up when tab becomes inactive"
When creating a looping keyframes animation with an async function in a while loop and then making that tab inactive (by switching to a different tab for more than a few seconds) and coming back the animation messes up.

I'm guessing this mainly has to do with `delay` which i realize is **not** part of react-spring, but it was used in the examples and necessary for what i'm trying to pull off.

Wh

[2018-07-07 08:04] dariocravero commented on #108
@drcmda you're right. Eventually, yes, React Native maps them down to stiffness, damping and mass at some point. However, their semantics are somewhat different and, at least in our case, the designers we've been working with found `bounciness` and `speed` more intuitive than `friction` and `tension`.

[2018-07-07 09:44] drcmda commented on #143
@DanielRakh the tab thing has to do with delay.

The looping thing, i think generally it's more a css puzzle than anything. I've made something that would work with colors at least, if you plan to use images for this, it would be a little more complex: https://codesandbox.io/s/jz0n0yz9y5

I've also made a small commit to make scripting easier, you can now pass a function into Keyframes:

    Keyfr

[2018-07-07 10:14] drcmda commented on #125
@Adam13531 done + a more refined api for raw scripting, and new section here explains it: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#keyframes

[2018-07-07 10:14] #125 closed

[2018-07-07 10:17] drcmda commented on #108
@dariocravero it would kind of be a pain to explain this or type this out in TS. https://github.com/drcmda/react-spring/blob/master/API.md#spring-configs

What would be awesome though, you could take your gist and make a repo for it, publish it on npm. I broke animated into pieces so that it's fully modular, there could actually be an eco system now of different springs, interpolators, and so on.

[2018-07-07 13:36] drcmda commented on #143
PS. i adapted the example a litte for my own purposes now. To get your effect simply delete the second call to `next` and put a `reset` into `Block`.

[2018-07-07 23:56] dariocravero commented on #108
Yeah, thanks for the suggestion, I already did that here https://github.com/viewstools/animations :) -it needs some cleanup to only integrate the bits it uses but it's a start.

[2018-07-09 10:09] drcmda commented on #136
@Prinzhorn i've looked through it, it's a bug in your code. First, you shouldn't use transition for a sidebar, it's a basic spring you're looking for. But since you do, you actually mount and unmount that bar on every change of this.state.showPanel. The infinite loop that's now caused is also in your app, you call this.props.onDataChange('bar') in componentWillUnmount, which then calls setState.

[2018-07-09 10:16] drcmda commented on #136
@will-stone would you open a new issue with an isolated csb example? until now i can't see a problem in transition, it behaves as it should. i'd need an example to look into it.

[2018-07-09 10:18] #143 closed

[2018-07-09 10:19] drcmda commented on #138
will re-open when its more clear if it makes a difference by profiling

[2018-07-09 10:19] #138 closed

[2018-07-09 10:21] drcmda commented on #134
will re-open when there's more data to inspect

[2018-07-09 10:21] #134 closed

[2018-07-09 10:21] #129 closed

[2018-07-09 10:22] drcmda commented on #92
for clarity of the ongoing issues i'll close and re-open again when new info comes up

[2018-07-09 10:22] #92 closed

[2018-07-09 15:16] mbeauchamp7 commented on #26
Hi, I was trying to reproduce an example with typescript and realized there are missing typings for the `Keyframes`.
![image](https://user-images.githubusercontent.com/15185355/42459394-8ba72c92-8369-11e8-98b8-20f874141907.png)

[2018-07-09 17:34] Prinzhorn commented on #136
@drcmda thank you very much for taking the time to take a closer look. I have to take a closer look at your proposed solution but two things from the top of my head:

1. I'm not actually using this for a single sidebar. In reality the sidebar can be navigated and have nested children (similar to a navigation context in an app). That means there is a stack of open panels and a back-button, which po

[2018-07-11 08:38] drcmda commented on #136
@Prinzhorn  I'd put the sidebar into a normal spring, a button controls its visible state, similar to this demo: https://codesandbox.io/embed/zl35mrkqmm

As for the rest, could you make a demo without any animation? children notifying their parents is usually not a good idea, unless you do it with context, but setStating into the parent in the middle of an unmount is probably going to be problemat

[2018-07-11 08:45] drcmda commented on #26
@mbeauchamp7 looks like it's an old definition. Do you know your way around TS? I welcome PR's.

They're 4 statics, ´script´ is already gone.

https://github.com/drcmda/react-spring/blob/master/src/Keyframes.js

[2018-07-11 13:47] PooLP opened #145 "[question] Version of react for react-spring"
Hi,

What is the minimal version of React for react-spring ? 16 ?

Thanks

[2018-07-11 17:02] drcmda commented on #145
Yes. Parallax also uses context, which could be polyfilled away, but most of the other primitives already use getDerivedStateFromProps which makes React 15 fall out.

[2018-07-11 17:13] PascalSenn commented on #145
There is a polyfill for the new lifecycle methods as well:
https://github.com/reactjs/react-lifecycles-compat

[2018-07-11 19:16] drcmda commented on #145
Seeing this for the first time, neat! So it looks like a React 15 user could import a `Spring` and route this through the polyfill and that would be it?

[2018-07-11 19:39] schabluk opened #147 "Space between Parallax pages"
Hi,

Why there is a space between Parallax pages? Is this intentional?

Example showing white space between pages: https://codesandbox.io/s/mqy1mryqxp.

[2018-07-11 21:32] mbeauchamp7 commented on #26
@drcmda I'm not very good with definition files but I can give it a try!

[2018-07-12 04:21] alexluong commented on #16
@drcmda Hi. I'm in the same situation with the OP (animate a single element that mounts/unmounts). I tried your solution as well as others (handle not condition as () => null). However, it gives me this error:

![screen shot 2018-07-11 at 11 19 49 pm](https://user-images.githubusercontent.com/26750127/42612442-f73381e2-8560-11e8-8fd4-428964c020c9.png)

This is my code:
![screen shot 2018-07-11 at

[2018-07-12 05:11] rockmandash opened #148 "[Werid Behavior] Trail will render wrong value except first child."
First, thank you for this wonderful library!
Please see this official example of Trail except opacity is 0 ~ 1
[![Edit x3w3mpj1qq](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/x3w3mpj1qq)
![image](https://user-images.githubusercontent.com/7580792/42613648-a2d0bbf0-85d4-11e8-8742-47d5a8b56f9f.png)
As you can see, when the animation ends, the number is decreasing

[2018-07-12 05:54] PooLP commented on #145
Thanks for response. You should add a badge in the readme file ![react_ 16](https://user-images.githubusercontent.com/582733/42615028-a0328eb8-85a8-11e8-9045-947d218e5540.png) (http://rmosolgo.github.io/react-badges/)

[2018-07-12 07:17] drcmda commented on #16
styles => MyComponent isn't React, you probably mean

[code]

[2018-07-12 07:37] drcmda commented on #148
@rockmandash i think i know what it could be. Trail is pretty expensive so i throttle it a little, its probably missing the tail call. I'll look into it.

[2018-07-12 07:40] drcmda commented on #147
That's the speed, you give it 0.2. That means these pages are deliberately out of place and the closer you move to their offset position the more they slide into their correct place. If you need a page that scroll in sync with the scrollbar use speed={0}. The shifting effect usually makes more sense for overlay elements (text, boxes, images, etc.).

[2018-07-12 07:41] drcmda commented on #145
@PooLP good idea, will do ...

[2018-07-12 07:50] rockmandash commented on #148
@drcmda Thank you for your fast reply.

[2018-07-12 07:52] schabluk commented on #147
@drcmda thnaks! I was confusing this property with the 'speed' of the animation. Now it's clear for me, that the speed of the animation is controled via the config property of [Parallax component](https://github.com/drcmda/react-spring/blob/master/API.md#parallax).

[2018-07-12 07:52] #147 closed

[2018-07-12 08:30] Prinzhorn commented on #136
like I said there is not a single sidebar. I'll try to put a demo up.

That would be my exact demo but just remove the `<Transition>` and render the panel(s) directly. That's kind of the selling point of `<Transition>` for me that you can just wrap some existing children which would otherwise enter/leave without a transition. I'll try to make a demo which better showcases what I'm doing.

It was m

[2018-07-12 09:47] Prinzhorn commented on #136
I've created a more realistic test case. It is a bit more complex but we have already established that the issue can be reproduced with the basic test case in my first post. This demo shows a use-case that cannot trivially be replaced with a `<Spring>` without re-implementing most of the `<Transition>` logic.

So let's say in my App I have an `article` object. An article has a text body, a title,

[2018-07-12 10:52] drcmda commented on #147
@schabluk the speed of the animation is controlled with the config prop, just like for all the other primitives. :-)

[2018-07-12 10:53] drcmda commented on #26
Someone just updated typing, i'll try to get some more fixes in and will release soon.

[2018-07-12 14:54] guru-florida opened #149 "Parallax support in Native"
I noticed Parallax isnt supported in native yet. I've reviewed the Parallax.js in web and it seems like I might be able to change the AnimatedDiv to Animated.View. A lot of the other code seems transferrable to native. There are some styles for tranform/WebKitTransform/etc which may not be supported in Native css system.

Any suggestions or concerns over porting this to Native folder? I can take a

[2018-07-12 15:53] drcmda commented on #149
@guru-florida would be nice, sure - go ahead, PR is very welcome. You can always reach me here if questions come up.

[2018-07-12 16:00] #145 closed

[2018-07-12 16:42] guru-florida commented on #149
@drcmda So that I can prepare, do you see any impediments to porting it? Like for example, something that that is supported in React web but not in Native such as css styles, keyframing, etc. Do the Parallax and ParallaxLayer components rely pretty solely as a higher level component on top of the other react-spring functionality?

Thanks

[2018-07-12 17:31] drcmda commented on #136
I tracked it for a while, i am still stuck - relying on lifecylces/componentWillUnmount to communicate back to the parent which then calls setState is extremely unconventional. If you find another solution for that your problem is fixed.

There's something in transition that clones a leaving transition with a new key. "metadata" gets renamed to "metadata_" for instance. This has to be done, the ol

[2018-07-12 17:41] drcmda commented on #149
Sure, all primitives are just wrappers. I don't know react-native enough, but if there's something like onScroll/touchStart, then it would be a straight port.

[2018-07-12 20:37] cklab opened #150 "Unable to transition with function as child"
I'm trying to implement a transition between different divs. I can get it to work if I style my code in the same fashion as: https://codesandbox.io/embed/yj52v5689
(i.e. indexing off an array and providing a `style => return component` for each item)

However, if I make the following change, it no longer animates

[code]
See: https://codesandbox.io/s/xp8qo6mk4q

Does it have to do with how it inte

[2018-07-13 07:14] drcmda commented on #150
@cklab that's correct, adding

[code]

would make it work. When you don't specify keys Transition has to use the functions you supply as such, but in your case you create a new function every time on render, that makes it impossible for React to know if elements can be re-used.

[2018-07-13 07:31] Prinzhorn commented on #136
@drcmda thanks again. I do have very specific thoughts about that but I don't have time today to look into it. I'm sure we can find a clean way to handle that.

[2018-07-13 08:33] cklab commented on #150
Hmm. Ok. Having verification on that is helpful. I have one more follow up on this use case.

Assuming I have 3 components to switch between, like in the example; and instead of an index, I evaluate a series of state properties to determine which component to render,

(A) would it be fair to say that I must first compress them down to a key (that I can use for the `keys` prop) rather then directly

[2018-07-13 11:05] drcmda commented on #150
Well the easiest would be if you had three functions that could serve as keys on their own (like in the original example). If you need to create it dynamically then you keys. Keys are regular React keys, they can be anything from numbers, strings, components, anything that helps React recognize and track what you put in there.

Sure it probably could be easier, for instance:

[code]

Where ./compo

[2018-07-13 20:39] cklab commented on #150
Thanks for the clarifying this for me. Sorry to use this space as a Q&A :sweat_smile:

[2018-07-13 20:39] #150 closed

[2018-07-14 12:34] VinSpee opened #151 "Made it to GA Production on TED.com"
Hi! Just wanted to let you know react-spring has made its debut on [TED.com’s homepage](https://ted.com) on our TED Recommends signup banner. Thanks for the great library!

[2018-07-14 12:34] #151 closed

[2018-07-14 19:01] guru-florida commented on #149
Unfortunately, I can't seem to build react-spring *and* run that dist under native due to issues with babel7. Babel7 beta doesnt yet support react-native-preset but they are working on it. So I can't get my native app moved to babel7 for testing Parallax, and I get exception errors about babel6 and babel7 runtime loaded at the moment. There are threads ongoing about babel7 and react native so I wi

[2018-07-14 19:01] #149 closed

[2018-07-14 20:11] mbeauchamp7 commented on #102
@drcmda Hi, I refactored all the animations in my app from gsap to react-spring and everything went well except when I wanted to test(jest/enzyme) a component with `"react-spring/dist/addons"`, I had a weird error saying `unexpected token` when reading the `addons` module, like it wasn't transpiled to es5 or something.

I use Typescript and has to include a bunch of babel packages to make the test

[2018-07-15 09:51] drcmda commented on #149
You can copy the src folder, dump it into your project and import your { Parallax } from './src/targets/native'. That's how i tested RS against native as well. I simply created a project via create-react-native-app and placed it in there.

[2018-07-15 09:54] drcmda commented on #102
The difference is that index uses esm and .cjs doesn't. Normally you'd use esm in your bundler because of tree-shaking and possibly some other benefits. If TS can't resolve it, using .cjs for testing is completely fine.

[2018-07-16 06:43] Prinzhorn commented on #136
I think it all boils down to this sentence. The fundamental question is if this assumption/behavior is correct. Is there really an "old" and a "new" one?
Let's say a child with key K is rendered while a previous child with key K is transitioning-out. Should we really render a new element or is this fundamentally just a case of passing the right props to the existing child and changing the animatio

[2018-07-16 07:17] will-stone commented on #136
@drcmda Apologies for taking so long to set this up but here's my sandbox of this issue: https://codesandbox.io/s/1vjk1jn4ll

In the Logo component, you can see that the animation stops at the end (using animation-fill-mode = forwards). However there is a flash of its initial state as it fades out because it has been remounted.

[2018-07-16 07:19] will-stone commented on #136
And here's the working comparison when using v4 of React-Spring: https://codesandbox.io/s/pw318qn21x

[2018-07-16 07:58] drcmda commented on #136
@will-stone yes, i see, that's unfortunate. The re-keying essentially re-mounts your Logo component which prompts the browser to run the css animation again. v4 didn't re-key, but then again, it couldn't guarantee an uninterrupted fade-out if an element with the same key entered again.

I would like to support both, guaranteed exit without remount. But this isn't trivial - i'll need some time to g

[2018-07-16 08:59] will-stone commented on #136
Thanks @drcmda I ended-up making the animation return to the start as a sort of hack. In the end, I preferred that animation, anyway, as it worked well with the website: https://will-stone.github.io/SpotSpot/

[2018-07-16 11:32] drcmda commented on #136
Looks nice, but i can see now how Transition should support it - the css thing is a pretty serious strike against the current model.

[2018-07-16 13:39] mbeauchamp7 commented on #102
@drcmda What I ment is that the index version actually works when I develop and bundle with webpack, but **not** when I run tests with jest, it probably has something to do with the `ts-jest` package, I'm not sure..

[2018-07-16 14:44] ritz078 commented on #128
@drcmda  In the example above provided by @mattgreenfield , how to make the same transition work if the component is unmounting on close? currently only the opacity and transform change.

[2018-07-17 09:10] drcmda commented on #128
Could you adapt the sandbox with updated dependencies and the props you'd like to animate?

[2018-07-17 10:52] ritz078 commented on #128
So I want the modal to be in the DOM only when it's open. In mattgreenfield's the element is always present with opacity:0. I want to animate the same props (need similar animation) but the only change is that I want to mount/unmount the component based on state.

Here is the updated sandbox.
https://codesandbox.io/s/qqj1w160xw

[2018-07-17 10:58] mattgreenfield commented on #128
I ended up setting a timeout in my `closeModal` function so that the modal would only be removed from the DOM once the animation had finished - and using a Spring rather than a Transition.
We've hard coded the timeout but I believe there is some kind of `onAnimationEnd` event that we could be using instead.

[2018-07-17 22:42] PrecociouslyDigital opened #152 "entry.interpolation._interpolation is not a function"
In [this pen](https://codesandbox.io/s/rm1lpv9wlm), if you add a score without changing the value of the score, the number in the top right ticks up normally. However, if the value of the score being added changes at all, then you get `Unhandled Rejection (TypeError): entry.interpolation._interpolation is not a function`. I am utterly baffled.

[2018-07-18 07:43] drcmda commented on #152
[code]

[2018-07-18 09:39] rockmandash opened #153 "[Feature Request] Magical height: 'auto' for <Transition />"
Hello, thank you for this wonderful library!
This library is amazing, I was trying height: 'auto' for <Spring />.
But I notice that <Transition /> seems not supporting this feature, it would be wonderful for supporting it, or other method for achieving <Transition /> + height: 'auto'.
Thank you very much!!!

[2018-07-18 10:00] smerin opened #154 "Nested keyframe animations behaving erratically"
Congrats on the great work, loving react-spring 💯

I have come across an issue trying to nest some keyframe animations.

I wanted to smoothly open up some vertical space before fading in the target element. Then have that element smoothly adjust it's height to accommodate a child item (e.g. button), and fade in that item only when the space is created.

https://codesandbox.io/s/61wo67o6mr

It actu

[2018-07-18 12:41] drcmda commented on #153
@rockmandash auto is supported

demo: https://codesandbox.io/embed/pmjomxn60

api: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#animating-auto

where did you have problems?

[2018-07-18 13:09] drcmda commented on #154
I see, this could be tough to fix on my side. 'auto' isn't straight forward, we have to measure out a frame with height set to auto, remember the value and then animate there, when it's all done the animated height is replaced with 'auto' again. That of course makes the animation volatile as nested stuff can grow larger/smaller after the initial measurement, it also makes the animation async, whic

[2018-07-18 15:53] PrecociouslyDigital commented on #152
Oh I see. Thank you!

On Wed, Jul 18, 2018 at 12:43 AM Paul Henschel <notifications@github.com>
wrote:

[2018-07-18 19:13] #152 closed

[2018-07-19 02:42] rockmandash commented on #153
@drcmda Thank you for your reply!
Sorry, I didn't make my question clear, my bad!
I was trying to do this:
[code]
I found out this didn't work, so I was wondering if <Transition /> can also support Magical height: 'auto', or is there any method to do this?
Thank you for your amazing library again!

[2018-07-19 11:54] drcmda commented on #153
Transition internally is also just a wrap around spring, auto should work. For instance, try this example:

https://codesandbox.io/embed/j150ykxrv

and change `100` to `'auto'`

[2018-07-19 12:09] rockmandash commented on #153
@drcmda Thank you!
Now I know I need more context, thank you!

[2018-07-20 13:53] lasseborly commented on #26
Very cool @drcmda !

Full typings would be so cool. I still get weird errors on Transition though.. Which does seem to have typings?

[code]

[code]

[2018-07-20 14:34] mbeauchamp7 commented on #26
@lasseborly I think they have been update, but not released on npm

[2018-07-20 19:14] drcmda commented on #26
Right, i just updated ...

[2018-07-20 22:22] lasseborly commented on #26
Ok.. I think I have managed to track my problem down. Limited experience with both react-spring and Typescript might make me come across as ignorant. But here we go.

If I try to go by the docs and make use of `Transition` as described I run into some problems.

[code]

Usage like that resolves in an error: `TypeError: Cannot add property props, object is not extensible`. Looking at the proptypes

[2018-07-21 00:25] AlexanderBollbach commented on #77
couldn't the error here be improved? i burned over an hour because some function deep in the stack was throwing a generic array error and finally found out its most likely because each path had different number of points

[2018-07-21 05:49] drcmda commented on #77
Maybe assert in develop mode would be a good idea. I can see how confusing this part must've been.

[2018-07-22 11:38] drcmda commented on #132
@SnidelyWhiplash read this: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#native-rendering-and-interpolation-demo

animated(View) and <Trail native from={...} to={...} ... /> will render natively, that means outside of React calling the function a bazillion times. It will render only once and the animation will be applied in a requestAnimationFrame-loop.

The rules otherwise a

[2018-07-22 13:22] drcmda commented on #136
@Prinzhorn @will-stone could you guys try 5.4.2-beta? I implemented the key-deriving part from scratch and now it doesn't re-key exit transitions.

[2018-07-22 13:58] drcmda commented on #128
@ritz078 for mount/unmount you should use the Transition component, your modal would then enter-in or exit-out and then disappear/unmount

[2018-07-22 13:58] #128 closed

[2018-07-22 13:59] drcmda commented on #136
I guess i just release and close this

[2018-07-22 13:59] #136 closed

[2018-07-22 13:59] #154 closed

[2018-07-22 17:19] will-stone commented on #136
@drcmda Looks good to me. Thanks!

[2018-07-22 22:36] A7DC opened #156 "How to chain keyframe animations?"
Hi,

Could someone explain to me the correct way to sequence animations?

I have the following [Sandbox](https://codesandbox.io/s/pmy58qxxzx) where I want to animate the yellow background into the view (currently happening), but then animate the text differently (i.e delay the text animating into view by 300ms).

Thanks!

[2018-07-23 06:10] drcmda commented on #156
There are several ways,

1. you could try using multiple variables (y1, y2) and functional configs `config: name => name === 'y1' ? { tension: 50, friction: 40 } : config.gentle`

unfortunately `delay` isn't part or the config, so you can only increase the friction here.

2. two keyframes: https://codesandbox.io/embed/v6z61kx9wy

[2018-07-23 09:32] Prinzhorn commented on #136
@drcmda thanks, the endless loop is gone! Now the only thing that is left is the fact that `componentWillUnmount` fires twice because a second component is instantiated (that's what happens in my local project). However, looking at my codesandbox it looks like now other things are broken: **components are no longer unmounted after the transition has ended**

Steps to reproduce

1. https://codesand

[2018-07-23 15:29] drcmda commented on #136
@Prinzhorn this could be a react error, update to react 16.4. They had a bug before where getDerivedStateFrom props isn't consistently called. I've seen the effect of it before, elements stay put after the exit phase. After the update this shouldn't happen.

[2018-07-23 15:37] Prinzhorn commented on #136
maybe I'm doing something wrong, I'm not used to CodeSandBox. I've changed the dependency to 16.4.1 and to make sure it worked I render `React.version` in the title of the app. However, the panel is still there? https://codesandbox.io/s/r1o71p7x1m

[2018-07-23 16:04] drcmda commented on #136
react-dom is still on 16.3.1 in that box.

[2018-07-23 16:19] PrecociouslyDigital opened #158 "overshootClamping is typed as a number not a boolean"
The SpringConfig overshootClamping property should be a boolean, but in the typescript definitions, it's typed as a number. [Link to definition here](https://github.com/drcmda/react-spring/blob/master/index.d.ts#L15)

[2018-07-23 20:44] drcmda commented on #158
Thanks for the PR, I've made a release.

[2018-07-23 20:44] #158 closed

[2018-07-23 22:20] Kadrian opened #160 "Play short animation on component update"
Hi. I've been trying to figure out a simple case:

How to make an element "jump" (scale from 1.0 to 1.1 and back to 1.0), every time it re-renders (initial render, and every time a certain prop changes)? Let's say, a "jumping counter".

Is there any simple case like this? Couldn't figure out how to map Transitions, Springs and Keyframes to this.

This is the furthest I can make it: https://codesan

[2018-07-24 12:55] Tarpsvo opened #161 "<Transition> component crashes on react 16.4.X when using 'keys' prop"
The `<Transition>` component crashes when using React 16.4.X with `keys` prop, while it works as intended on React 16.3.X.

**The "2-state and 1-state Reveals" demo shown in README using React 16.3.1:**
It works with and without `keys` prop.

Link: https://codesandbox.io/embed/yj52v5689

**The same demo using React 16.4.1:**
Without `keys` prop: no animation.
With `keys` prop: animates first one a

[2018-07-24 13:58] Tarpsvo commented on #161
After a lot of debugging, I found the cause and created a working fix. It seems it was related to the case where keys are numbers, not strings.

Looking at the code:
`let currentKeys = Object.keys(current)` creates an array of strings (ie ["0"]).

Later, when filtering them:
`let added = keys.filter(item => !currentSet.has(item))` it searched for `new Set([0]).has("0")`, which obviously turns out

[2018-07-24 14:51] lasseborly commented on #160
I have been pondering upon this as well. Not really any examples of passive continuous running pulse animations. Except for https://codesandbox.io/embed/q9lozyymr9.

[2018-07-24 17:05] PrecociouslyDigital opened #165 "Typescript and API changes"
I have two pull requests in: #164  and #163 that deal with minor changes

[2018-07-24 17:38] lasseborly commented on #160
@Kadrian I can do a working example with the imperiative api.. It seem like cheating thougg.

[2018-07-24 17:41] Kadrian commented on #160
@lasseborly Show me! That would be amazing. Maybe we can figure it out.

Have to say it's weird. I like all of the concepts in react-spring, using it feels very powerful. But if a simple case like this feels like cheating, there's room for improvement :-). If not in react-spring itself, then at least in the Readme.

[2018-07-24 17:44] lasseborly commented on #160
Yeah. Agree. But I'm pretty sure we are just missing the point. 😅 Let me get home and I'll share my sandbox.

[2018-07-24 17:49] rockmandash opened #166 "[Feature Request & question] Accessing Dom element in onStart() & onRest()"
Hello, thank you for this amazing and wonderful library!
I have a small idea but I don't know if it is appropriate.
Right now, I want to animate transform scale 1 to 1.2, and I want to set opacity at beginning and end.
It looks like this.
[code]
I was wondering if we can have dom element passed into onStart() and onRest() function, and we can now have code like this.

[code]
Thank you for your lis

[2018-07-24 21:04] lasseborly commented on #160
@Kadrian this is my hack.. https://codesandbox.io/s/qkzx3n7y9q 😅

[2018-07-25 01:03] A7DC commented on #156
Thanks for the response @drcmda, incredibly helpful! 🙏

[2018-07-25 03:29] rockmandash commented on #166
@lasseborly Wow, Keyframe is a wonderful feature in react-spring.
Thank you for providing the beautiful example for me.

[2018-07-25 03:29] #166 closed

[2018-07-25 07:34] Kadrian commented on #160
Wow nice! How did you even know that there's an export called `controller` and `AnimatedValue`? That's not documented in any of the API refs, right? Now I see what you mean with "hack".

Would really like someone who knows how to use the library to tell us how to do this properly.

[2018-07-25 08:19] lasseborly commented on #160
@Kadrian it's briefly shown [here](https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#imperative-api).

But from then on it was a combination of looking through most usage of `react-spring` on github and codesandbox to see if anyone else had tried some of the same stuff.
Did not exactly turn out to be that fruitful of a search. So delved into the source. :blush:

Yeah.. Would be lo

[2018-07-25 08:22] Kadrian commented on #160
Ok so for proper visibility:

**We still need help here**

[2018-07-27 10:55] fayte0618 opened #167 "does this support react-native written in typescript?"
I'm making a react-native app using typescript, and I noticed the typings are for the dom. Was searching the repo for react-native typings but could not find any?  Or I'm just missing some guide that may be you can help guide me to it? thanks

[2018-07-27 11:09] lasseborly commented on #167
As far as I know there is no native TS typings available no.

[2018-07-28 12:47] cosmophile commented on #160
Here is my attempt: https://codesandbox.io/s/xpqq0ll5nw - I'd be interested to know if this is less or more of a hack.

I created a Keyframes container with one animation that animates scale to 1.2 and then back to 1, and then used that as the Counter container.

The trick was to supply a "key" prop to the container component, so that it treats the animation as a new one every time it's rendered.

[2018-07-28 18:12] eoghanmccarthy opened #168 "Transition component for react-spring Native throws error on transform style property"
I am trying to animate a small badge when it mounts and unmounts, however, the Transition component for react-spring Native throws errors any time I try to use the transform property.

For the example below the the error is 'You must specify exactly one property per transform object' which I am I think. All other attempts throw different errors. Is there something obvious I'm not doing? Is there a

[2018-07-28 22:48] Kadrian commented on #160
That looks a little more like it should! :-) Thanks a lot! I'm wondering: Why isn't it necessary now to use an `animated.div`?

[2018-07-29 06:41] cosmophile commented on #160
As far as I can understand, `animated.div` is called for when using the `native` flag ([docs](https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#native-rendering-and-interpolation-demo)).

Since that is the recommended approach, I have updated the [codepen](https://codesandbox.io/s/xpqq0ll5nw) to use the `native` flag on the counter. Note that this has required me to import `interp

[2018-07-29 11:56] drcmda commented on #161
@Tarpsvo Thanks for digging into it, just cam back from a small trip. Will merge and release later on!

[2018-07-29 12:04] drcmda commented on #160
I was on a small trip, just getting on top of things. I'd probably do it either with a self-made primitive or keyframes. If any of you has suggestions on how to cut down on the boilerplate a little or maybe you have something else in mind, im all ears.

@Kadrian @cosmophile Correct, the `native` flag uses a wrapped element (div, span, etc) that interprets the style property (and attributes) differ

[2018-07-29 12:05] #156 closed

[2018-07-29 12:06] drcmda commented on #167
@fayte0618 could you make a PR? will gladly accept them!

[2018-07-29 12:09] drcmda commented on #168
@eoghanmccarthy This isn't how it works, the props to/from/enter/leave/update can either take name:value pairs or name:array(of values). You're looking for:

[code]

[2018-07-29 12:12] drcmda commented on #165
@PrecociouslyDigital thanks a lot! will look at it later this day. wasn't with a computer over the last week.

[2018-07-29 12:12] #165 closed

[2018-07-29 12:36] #161 closed

[2018-07-29 17:56] drcmda commented on #160
Made some changes to introduce more shortcuts, here's @cosmophile 's example shortened up: https://codesandbox.io/embed/pxqo7113x

Basically now it's just:

[code]

So, no need to re-key (which means it should also be faster), Spring.to interpolates props that can be animated into `to`, while still allowing reserved props (like `immediate` in this case). And `reset` actually does something, i didn

[2018-07-29 22:07] Kadrian commented on #160
@drcmda Hey, thanks a lot for taking the time to solve it. Really cool to see this in action now.

Three questions:
1) Does your example stop working if you're *not* using the new `to`-shortcut anymore?
E.g. if you use:
[code]

2) Why do I need to say `scale: 1.5`, but then still need to interpolate it "manually"? Can't I just say: `to: 1.5` in the `Spring` then?

3) How could I have arrived there

[2018-07-29 23:44] eoghanmccarthy commented on #168
That's great, thank you!

[2018-07-30 04:59] drcmda commented on #160
@Kadrian

1. Yes, it works like that
2. You only need to interpolate if you use a native spring, the value you receive in the render function is not a number but a class, you can console.log it. You can't drop a class into reacts style-prop. This is exactly what animated.div is there for. When you use native the component will render only once instead of thousands of times. Again, log it and you'l

[2018-07-30 05:38] #168 closed

[2018-08-01 17:26] SnidelyWhiplash opened #169 "In React Native, the `delay` prop should not be passed onto `style`"
When you supply a `delay` prop, it seems like it's getting set on the `style` prop as well, and RN throws this error: `Invalid props.style key 'delay' supplied to 'View'`

[code]
I don't know if this is specific to the `<Trail>` component, or if it applies to all animations.

[2018-08-01 20:45] drcmda commented on #169
Oops, looks like I forgot to filter it out. Will fix.

[2018-08-01 20:52] SnidelyWhiplash commented on #132
Thanks @drcmda, I think I had my "aha" moment and everything's working great now. Cheers!

[2018-08-01 21:11] drcmda commented on #169
@SnidelyWhiplash actually, it *should* already be fixed. Are you on the latest version? I've tried locally on the  ios emulator, an older version gets the warning, the current version filters it out.

[2018-08-02 12:25] Pjata commented on #101
This seems to be still a problem.

[2018-08-03 04:55] SnidelyWhiplash commented on #169
Thanks @drcmda, I was on `5.3.18`. Upgrading to `5.5.1` did fix it, however I'm now seeing this one: `Warning: Failed prop type: Invalid props.style key 'attach' supplied to 'View'.` which I don't _think_ I was getting before. Cheers for the help!

[2018-08-03 09:54] drcmda commented on #169
Same issue, i need to filter it out. I don't notice it in the web because props aren't spread into styles like that. I'll release a new patch today.

[2018-08-03 16:20] dvnrsn commented on #153
When I try height: "auto" on the enter, I get
[code]

[2018-08-03 17:02] drcmda commented on #101
should hopefully be fixed now

[2018-08-03 17:03] #101 closed

[2018-08-03 17:03] drcmda commented on #153
@dvnrsn i didn't check against the case where a spring returns undefined, it should be fixed now.

[2018-08-03 17:34] dvnrsn commented on #153
Thanks, were module references changed in 5.5.2?
https://codesandbox.io/s/m86qjl8kp

[2018-08-03 18:27] drcmda commented on #153
Yes, should be, but doesnt look too good there, i have no idea what "globals" is supposed to be. I'll take a look ...

[2018-08-03 18:31] drcmda commented on #153
Dammit, something is seriously wrong - my macbook was dropping keys and i had it sent in, im on windows now and it seems to resolve files differently. :-S

[2018-08-03 18:37] stolinski opened #170 "Error: Cannot find module './globals.js' - react-spring/dist/web.cjs.js:8:1"
In the latest version 5.5.2 I'm getting

[code]

[2018-08-03 18:59] drcmda commented on #153
@dvnrsn now it should be fine: https://codesandbox.io/s/lpqkzk9137

I made some changes to your sandbox. you wouldn't see any height transition because there's no css overflow, with height set to 100 on the inner element, the outer element would simply flow over without any visual effect. I've also set it to absolute, because when you toggle it out it would take space, shifting a newly appearing e

[2018-08-03 19:50] drcmda commented on #170
@stolinski should be fixed in 5.5.4, i tried to build this lib with a windows computer, "/" made rollup externalize all files. :-S

[2018-08-03 19:52] stolinski commented on #170
Thanks!

[2018-08-03 19:52] #170 closed

[2018-08-03 20:29] drcmda commented on #153
@dvnrsn one more thing, your sandbox has react/react-dom 16.3.1 in there, everything before 16.4.1 had a sever bug in there regarding getDerivedStateFromProps, in react-springs case this would make exit-transition elements stick around. They've fixed it since then.

[2018-08-05 13:46] luandevpro opened #171 "Hi everyone ,I cannot use clientHieght with react-spring : TypeError: Cannot read property 'clientHeight' of undefined ..."

[2018-08-05 18:05] drcmda commented on #171
Needs a codesandbox, so that I can track it down.

[2018-08-06 13:49] monopixmonopix opened #172 "Chaining animation with Transition?"
My question is about the Transition/Keyframe.Transition

Is it possible something like this (chaining):
1) component mout > animation
2) component unmount > animation
3) component mount > animation start when above animation ends (2)

[2018-08-06 17:20] drcmda commented on #172
Quite possibly yes, but could you describe the animation in more detail? I take it you want to animate more than one element, not just one and the same.

[2018-08-07 11:50] monopixmonopix commented on #172
--- initial state
<Component data={['Lorem', 'ipsum']}>
   <span>Lorem</span>
   <span>ipsum</span>
</div>

---  When someone clicks the button, data changes
<Component data={['foo', 'bar']}>
   <span>foo</span>
   <span>bar</span>
</div>

1) Component mount with data 'Lorem ipsum', spans starts from>enter animation
2) Data was changed from 'Lorem ipsum' to 'foo bar'
  - 'lorem ipsum' animate ente

[2018-08-07 14:36] wilcoschoneveld commented on #153
Thanks @drcmda for the amount of work you've already put into this library, I'm a huge fan.

I'm working on a tree component where I want to animate child nodes into view, and this can happen some levels deep. It seems that the outer 'auto' height transition does not respond well to the inner 'auto' height transition. Example: https://codesandbox.io/s/o75k1knl6q

Is this a bug of the framework or

[2018-08-07 15:55] drcmda commented on #153
edit, looking at your example, i think this is something else. it doesn't calculate height properly, which most likely means it doesn't have enough context - let me check ...

[2018-08-07 16:04] 0m15 commented on #92
Hi, I've played a bit with the code and made a version that works with "dynamic" heights.
It also plays well with responsiveness. Though, it's still not tested properly (I just tweaked it for my needs, I cannot guarantee it works properly for others) and some props are not being used anymore (like the `factor` prop).

However, here you go: https://github.com/0m15/react-spring

[2018-08-07 16:06] drcmda commented on #153
Ok, auto is definitively broken - again :-S react-animated-tree is down aswell with latest react-spring. Will fix.

[2018-08-07 16:58] dvnrsn commented on #153
Agreed, appreciate all the work. @wilcoschoneveld thanks for the post. I was having this delayed nested height animation jump issue locally but was not able to replicate on codesandbox so I figured it was something with my code and gave up.

[2018-08-07 17:09] monopixmonopix commented on #172
Thanks

[2018-08-07 17:09] #172 closed

[2018-08-07 22:10] joshperrin commented on #10
Hey there, I've been scouring the docs and examples trying to figure out how to do a Keyframes.Transition, but have yet to find a solution. I see in the Full API docs that the Keyframes has Transition functionality, but I can't seem to figure it out.

Maybe I'm not understanding the functionality completely, I was expecting to be able to use the keyframe to create a multi staged transition on ente

[2018-08-07 22:25] drcmda commented on #10
Keyframes are if you need to declare slots like open/closed/... or if you want to drive an animation by code. Your case seems to be a simple transition with from/enter/leave/update props.

from = base state

enter = from -> appearing state

leave = current -> disappearing state

update = an update happened that was neither an exit or leave (other elements went in or out)

You can look into mauerwe

[2018-08-07 22:42] joshperrin commented on #10
Is it possible in the enter transition to have it have two stages? Kind of like the keyframe can accept a function, and then delay or wait between animations?

I'm looking for my enter animation on my Transition to animate the width property, wait for that to finish, then animate the transform property.

thanks!

[2018-08-08 09:04] jamiewinder opened #173 "Removing styles after enter transition"
I'm new to this library, and have a scenario which I'm struggling to model and a proposed solution unless anyone can point me toward something which I can use now.

I'm using `Transition` to animate the appearance of some items in a list. Amongst other properties, I'm animating `opacity` from `0` to `0.9` for enter, and from `0.9` to `0` for leave. I also want to add a hover effect to this so that

[2018-08-08 10:36] abeauvois opened #174 "wrong behavior with children property (Spring + width:auto)"
As shown here : https://codesandbox.io/s/jvqoo29mxy

If you click twice on the button,supposed to have 2 states : opened (width:auto) and closed (width:36), a 3rd state appears (width:0).

This happen only when I use the children={Content} way of doing it.

When doing this the classical way (render prop) the behavior is correct: https://codesandbox.io/s/mzp9jm6ywj

[2018-08-08 20:48] drcmda commented on #153
@wilcoschoneveld @dvnrsn hang in there i'm almost done. i implemented some part of spring from scratch using react 16 lifecycles and trying to clean it up as best as i can in order to make the most complelx stuff like auto not such a headbreaker. I'll be fixed very soon.

[2018-08-08 20:49] drcmda commented on #174
Duplicate of https://github.com/drcmda/react-spring/issues/153

I'm on it, fix will be out very soon!

[2018-08-08 20:55] drcmda commented on #173
Well, there's `update`, which is called for everything that is't from/enter/leave (basically it meas other items came in or went out). You could also try onRest. But generally mixing css animation with js-animation isn't going to work out well. A spring has a precision that takes some time to complete, so it will also ehave jumpy even if you manage to remove styles. If you want to take precedence

[2018-08-08 21:32] drcmda commented on #10
@joshperrin i think it could be possible with the update prop. I'm super busy right now to delve into this but in theory it should work. Probably the easiest would be to just give those two props different configs:

    enter={{ width: 100, transform: 'scale(1.5)', config: name =>
      name === 'width'
        ? ({ tension: 10, friction: 10 })
         : ({ tension: 10, friction: 50 })

When you

[2018-08-09 10:15] drcmda commented on #174
@abeauvois could you  try beta2 ? Here's your working example: https://codesandbox.io/s/4wvmz5kq54

[2018-08-09 10:16] drcmda commented on #153
react-spring@5.6.0-beta2 (and newer, if available) should take are of "auto"

[2018-08-09 10:26] #174 closed

[2018-08-09 12:10] wilcoschoneveld commented on #153
Cool! I couldn't get 5.6.1 to work with the example though; https://codesandbox.io/s/o75k1knl6q. Are there still issues?

[2018-08-09 13:38] drcmda commented on #153
@wilcoschoneveld looks like it :( , i only checked the demos on the frontpage which started working again. auto is really messing me up these days ...

[2018-08-10 07:19] rainstormza opened #175 "This example (about interpolate from flubber) does not work with version 5.6.1 but still working with version 5.5.4"
https://codesandbox.io/embed/lwpkp46om

I tried to use this example with my react project.
After I installed version 5.6.1 look like interpolate function does not work as expect, then I installed version 5.5.4 that example work fine again.

I think version 5.6.1 does not support interpolate function from flubber.
(not sure)

thanks

[2018-08-10 07:30] drcmda commented on #175
Thanks, will look into it!

[2018-08-10 08:11] drcmda commented on #175
@rainstormza quick solution, wrap the goNext into a requestAnimationFrame or remove the onRest and handle the interpolate in an onClick or something. I'll fix it this evening.

[2018-08-10 17:13] drcmda commented on #175
should be fixed in the last version

[2018-08-10 17:33] #175 closed

[2018-08-10 17:33] #173 closed

[2018-08-10 17:34] drcmda commented on #171
I'll close this for now, if you have an example i re-open.

[2018-08-10 17:34] #171 closed

[2018-08-10 17:34] #167 closed

[2018-08-10 17:34] #160 closed

[2018-08-10 22:03] thebuilder opened #176 "Height auto weirdness"
After updating to react-spring v5.6.x i'm seeing an issue with animating height between 0 and 'auto'.
If the height is changed while the `<Spring/ >` is active, it will stop updating the `height` untill it's resting again.

Sandbox demo: https://codesandbox.io/s/8z23zwvkm8
Try quickly toggling the open state, going: `open > close > open`. The text should animate into view, but it will instead pop

[2018-08-11 07:02] drcmda commented on #176
The box looks good to me on 5.6.4.

[2018-08-11 14:34] #176 closed

[2018-08-13 05:48] Jsalies opened #179 "How use rotate3d between div transition"
I didn't find a way to use rotate3d in transition through "spring" or "transition". According to the native spring example, we are able to change 3drotation value inside a svg.

Is it possible to do it for a transition between two divs and how ?

[2018-08-13 15:50] drcmda commented on #179
[code]

Here's some info on how it all works: https://github.com/drcmda/react-spring/blob/master/API-OVERVIEW.md#springs-and-basic-interpolation

[2018-08-13 20:27] Jsalies commented on #179
thank you for the answer. It's exactly what I was looking for!

[2018-08-13 20:27] #179 closed

[2018-08-14 10:07] abeauvois commented on #174
works like a charm :)

[2018-08-14 22:46] bhellman1 opened #181 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `Parallax`."
Hello, I'm using:

    react: 16.4.2
    react-spring: 5.6.6

My code:

[code]

The above is erring with:
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of Parallax.
`

Any ideas what the issue is here? Thanks

[2018-08-14 22:57] bhellman1 commented on #181
Turns out I needed to update my version of `react-dom` from 16.2 to 16.4.1

[2018-08-14 22:57] #181 closed

[2018-08-15 09:26] berekuk opened #182 "Transition bug introduced in 5.4.3"
When one item is entering a <Transition> and another one is leaving simultaneously, there's some weird jumping around.

I bisected it and looks like https://github.com/drcmda/react-spring/commit/9f03dabb77eae8f9bf009cc740e2ae7f50d5afc1 broke something.

5.4.2 version (works correctly): https://codesandbox.io/s/xp70o87z2z

5.6.6 version (some jumping when moving from [2,3,4] to [1,2,3]; it looks th

[2018-08-15 22:04] alexluong opened #183 "Animation Questions"
Hi @drcmda. I tweeted to you earlier about some questions I may have. Thanks a lot for taking the time to response and offer to help. I got a few different questions here. I would really appreciate it if you help me with those. So here goes:

1. Say I have 2 buttons next to each other, each 50% of the width. Whenever I click on one, I want it to animate to replace the other button and take the ful

[2018-08-16 10:28] drcmda commented on #183
@alexluong  Let's see ...

1. There are dozens of ways. You can spring your elements individually or do something with the parent container: https://codesandbox.io/s/186yqz18n7 A transition and a simple flex layout (each item on flex:1) would probably be the best.

2. It depends on the use case. When css is enough use css. If it isn?t or if it gets increasingly hard, use RS. I ship two libs myself

[2018-08-16 21:05] psachs21 opened #184 "Support ref forwarding on animated elements"
Currently, all animated div's cannot be associated to a ref. This makes any code that needs access to these nodes needlessly complicated.

[2018-08-16 21:07] psachs21 commented on #184
We can either go the route of styled components and the like (and name a special prop 'innerRef') to support older versions of react, or we can use the ref forwarding API.

[2018-08-17 12:15] drcmda commented on #184
@psachs21 does this have any performance implications? Haven't actually tried forwardRef and read about it only in passing.

[2018-08-18 14:57] nguyenmanh1507 commented on #169
I have a similar issue `Warning: Failed prop type: Invalid props.style key 'destroyed' supplied to 'View'.` Thanks for help

[2018-08-18 15:50] Chrischuck opened #186 "Leave Animation Not Working"
Hi there,

I just recently started playing with react-spring and I copy and pasted some code from the examples and changed things around. Unfortunately, the leave animation isn't working. I have replicated the issue in code sandbox [here](https://codesandbox.io/s/zr6r63r2xl). The sandbox is almost exactly how I have things running in my project. My goal is to have the alert bar, which slides in fr

[2018-08-18 20:13] drcmda commented on #186
You're taking away the hole transition when you write:

[code]

It wasn't obvious to me at first so i watched it screw up in disbelief - but it makes sense. Leave the condition to the transition component and it'll work. 😉

https://codesandbox.io/s/7jynom8816

[2018-08-18 20:59] jakemmarsh opened #187 "Bug: unable to find node on an unmounted component"
I'm using `v5.6.3` in a Typescript next.js application. I'm using react-spring to animate a changing list of items like so:

[code]

For the most part, this works and looks great. However, sometimes when the items in the list are changing (being added or removed), react-spring throws an exception and the items are unmounted:

[code]

[2018-08-18 21:06] drcmda commented on #187
Interesting, could you move to 5.6.6? I am curious if it makes it better because i believe i really had a requestanimationframe in the "auto"-fixing code, which i have then taken out. if that doens't help i'll put additional safeguards up.